.footer {
    color: $txt-gray;
    font-size: 0.8rem;
    padding: 1rem 0;
    margin: 0;
    background-size: cover;
    background-position: center center;
    text-align: center;
    [data-theme="dark"] & {
        background: $bg-gray;
    }
    .copyright {
        a {
            color: currentColor;
        }
    }
}