 .pagination {
     display: flex;
     background: $bg-white;
     border-radius: $radius4;
     overflow: hidden;
     margin: 0;
     &-center {
         justify-content: center;
         width: 100%;
     }
     &-right {
         justify-content: flex-end;
     }
     li {
         a {
             width: 40px;
             line-height: 38px;
             text-align: center;
             height: 38px;
             display: flex;
             align-items: center;
             justify-content: center;
             font-size: 0.875rem;
             color: $txt-body;
             border: none;
             border: $border;
             border-radius: 1px;
             position: relative;
             overflow: hidden;
             margin: 0 3px;
             &:hover {
                 background: $brand-color;
                 color: $brand-color-inverse;
                 border-color: $brand-color;
                 text-decoration: none;
             }
         }
         &.selected {
             a {
                 border-color: $brand-color;
                 background: $brand-color;
                 color: $brand-color-inverse;
                 &:hover {
                     background-color: darken($brand-color, 5%);
                     color: $brand-color-inverse !important;
                 }
             }
         }
         &.disabled {
             opacity: 0.4;
             a {
                 cursor: not-allowed;
             }
         }
         &.prev,
         &.next {
             a {
                 &:before,
                 &:after {
                     content: "";
                     width: 8px;
                     height: 8px;
                     border-#{$start-direction}: 1px solid currentColor;
                     border-bottom: 1px solid currentColor;
                     position: absolute;
                     #{$start-direction}: calc(50% - 3px);
                     top: calc(50% - 4px);
                     transform: rotate(45deg);
                 }
             }
         }
         &.next {
             a {
                 transform: rotate(180deg);
             }
         }
     }
     [dir="rtl"] & {
         i {
             transform: rotate(180deg);
         }
     }
 }