.radio {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    text-align: left;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
    >input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        &:checked {
            ~ {
                span {
                    background: none;
                    transition: all 0.3s ease;
                    border: 1px solid #c8cfdd;
                    &:after {
                        display: block;
                    }
                }
            }
        }
        &:disabled {
            ~ {
                span {
                    opacity: 0.6;
                    pointer-events: none;
                    opacity: 0.6;
                    &:after {
                        border-color: #c8cfdd;
                    }
                }
            }
        }
    }
    >span {
        background: none;
        position: absolute;
        top: 1px;
        left: 0;
        height: 18px;
        width: 18px;
        border-radius: 50% !important;
        border: 1px solid #d1d7e2;
        &:after {
            content: '';
            position: absolute;
            display: none;
            top: 50%;
            left: 50%;
            margin-left: -3px;
            margin-top: -3px;
            width: 6px;
            height: 6px;
            border-radius: 100% !important;
            border: solid #bfc7d7;
            background: #bfc7d7;
        }
    }
    &:hover {
        >input {
            &:not([disabled]) {
                &:checked {
                    ~ {
                        span {
                            transition: all 0.3s ease;
                        }
                    }
                }
            }
        }
    }
    &#{&}--disabled {
        opacity: 0.8;
        cursor: not-allowed;
        opacity: 0.8;
    }
    &#{&}--solid {
        >span {
            border: 1px solid transparent;
            background: #e4e8ee;
            border: 1px solid transparent !important;
            &:after {
                border: solid #99a6bf;
                background: #99a6bf;
            }
        }
        &:hover {
            >input {
                &:not([disabled]) {
                    ~ {
                        span {
                            transition: all 0.3s ease;
                        }
                    }
                }
            }
        }
        >input {
            &:focus {
                ~ {
                    span {
                        transition: all 0.3s ease;
                        border: 1px solid transparent !important;
                    }
                }
            }
            &:checked {
                ~ {
                    span {
                        background: #dee2ea;
                    }
                }
            }
        }
    }
    &#{&}--square {
        >span {
            border-radius: 0;
        }
    }
    &#{&}--bold {
        >span {
            border-width: 2px !important;
            transition: all 0.3s ease;
        }
        >input {
            &:checked {
                ~ {
                    span {
                        border: 2px solid #c8cfdd;
                    }
                }
            }
        }
    }
    &#{&}--single {
        width: 18px;
        height: 18px;
        >span {
            top: 0px;
        }
    }
    &#{&}--brand {
        &.radio--disabled {
            opacity: 0.8;
        }
    }
    &#{&}--brand {
        >span {
            border: 1px solid $brand-color;
            &:after {
                border: solid $brand-color;
                background: $brand-color;
            }
        }
        >input {
            &:disabled {
                ~ {
                    span {
                        &:after {
                            border-color: $brand-color;
                        }
                        opacity: 0.6;
                    }
                }
            }
            &:checked {
                ~ {
                    span {
                        border: 1px solid $brand-color;
                    }
                }
            }
        }
    }
    &#{&}--brand {
        &.radio--bold {
            >input {
                &:checked {
                    ~ {
                        span {
                            border: 2px solid $brand-color;
                        }
                    }
                }
            }
        }
    }
    &#{&}--brand {
        &.radio--solid {
            >span {
                background: $brand-color;
                border: 1px solid transparent !important;
                &:after {
                    border: solid #ffffff;
                    background: #ffffff;
                }
            }
            >input {
                &:focus {
                    ~ {
                        span {
                            border: 1px solid transparent !important;
                        }
                    }
                }
                &:checked {
                    ~ {
                        span {
                            background: $brand-color;
                        }
                    }
                }
            }
        }
    }
    &#{&}--light {
        &.radio--disabled {
            opacity: 0.8;
        }
    }
    &#{&}--light {
        >span {
            border: 1px solid #ffffff;
            &:after {
                border: solid #ffffff;
                background: #ffffff;
            }
        }
        >input {
            &:disabled {
                ~ {
                    span {
                        &:after {
                            border-color: #ffffff;
                        }
                        opacity: 0.6;
                    }
                }
            }
            &:checked {
                ~ {
                    span {
                        border: 1px solid #ffffff;
                    }
                }
            }
        }
    }
    &#{&}--light {
        &.radio--bold {
            >input {
                &:checked {
                    ~ {
                        span {
                            border: 2px solid #ffffff;
                        }
                    }
                }
            }
        }
    }
    &#{&}--light {
        &.radio--solid {
            >span {
                background: #ffffff;
                border: 1px solid transparent !important;
                &:after {
                    border: solid $dark-color;
                    background: $dark-color;
                }
            }
            >input {
                &:focus {
                    ~ {
                        span {
                            border: 1px solid transparent !important;
                        }
                    }
                }
                &:checked {
                    ~ {
                        span {
                            background: #ffffff;
                        }
                    }
                }
            }
        }
    }
    &#{&}--dark {
        &.radio--disabled {
            opacity: 0.8;
        }
    }
    &#{&}--dark {
        >span {
            border: 1px solid $dark-color;
            &:after {
                border: solid $dark-color;
                background: $dark-color;
            }
        }
        >input {
            &:disabled {
                ~ {
                    span {
                        &:after {
                            border-color: $dark-color;
                        }
                        opacity: 0.6;
                    }
                }
            }
            &:checked {
                ~ {
                    span {
                        border: 1px solid $dark-color;
                    }
                }
            }
        }
    }
    &#{&}--dark {
        &.radio--bold {
            >input {
                &:checked {
                    ~ {
                        span {
                            border: 2px solid $dark-color;
                        }
                    }
                }
            }
        }
    }
    &#{&}--dark {
        &.radio--solid {
            >span {
                background: $dark-color;
                border: 1px solid transparent !important;
                &:after {
                    border: solid #ffffff;
                    background: #ffffff;
                }
            }
            >input {
                &:focus {
                    ~ {
                        span {
                            border: 1px solid transparent !important;
                        }
                    }
                }
                &:checked {
                    ~ {
                        span {
                            background: $dark-color;
                        }
                    }
                }
            }
        }
    }
    &#{&}--primary {
        &.radio--disabled {
            opacity: 0.8;
        }
    }
    &#{&}--primary {
        >span {
            border: 1px solid $primary-color;
            &:after {
                border: solid $primary-color;
                background: $primary-color;
            }
        }
        >input {
            &:disabled {
                ~ {
                    span {
                        &:after {
                            border-color: $primary-color;
                        }
                        opacity: 0.6;
                    }
                }
            }
            &:checked {
                ~ {
                    span {
                        border: 1px solid $primary-color;
                    }
                }
            }
        }
    }
    &#{&}--primary {
        &.radio--bold {
            >input {
                &:checked {
                    ~ {
                        span {
                            border: 2px solid $primary-color;
                        }
                    }
                }
            }
        }
    }
    &#{&}--primary {
        &.radio--solid {
            >span {
                background: $primary-color;
                border: 1px solid transparent !important;
                &:after {
                    border: solid #ffffff;
                    background: #ffffff;
                }
            }
            >input {
                &:focus {
                    ~ {
                        span {
                            border: 1px solid transparent !important;
                        }
                    }
                }
                &:checked {
                    ~ {
                        span {
                            background: $primary-color;
                        }
                    }
                }
            }
        }
    }
    &#{&}--success {
        &.radio--disabled {
            opacity: 0.8;
        }
    }
    &#{&}--success {
        >span {
            border: 1px solid $success-color;
            &:after {
                border: solid $success-color;
                background: $success-color;
            }
        }
        >input {
            &:disabled {
                ~ {
                    span {
                        &:after {
                            border-color: $success-color;
                        }
                        opacity: 0.6;
                    }
                }
            }
            &:checked {
                ~ {
                    span {
                        border: 1px solid $success-color;
                    }
                }
            }
        }
    }
    &#{&}--success {
        &.radio--bold {
            >input {
                &:checked {
                    ~ {
                        span {
                            border: 2px solid $success-color;
                        }
                    }
                }
            }
        }
    }
    &#{&}--success {
        &.radio--solid {
            >span {
                background: $success-color;
                border: 1px solid transparent !important;
                &:after {
                    border: solid #ffffff;
                    background: #ffffff;
                }
            }
            >input {
                &:focus {
                    ~ {
                        span {
                            border: 1px solid transparent !important;
                        }
                    }
                }
                &:checked {
                    ~ {
                        span {
                            background: $success-color;
                        }
                    }
                }
            }
        }
    }
    &#{&}--info {
        &.radio--disabled {
            opacity: 0.8;
        }
    }
    &#{&}--info {
        >span {
            border: 1px solid $info-color;
            &:after {
                border: solid $info-color;
                background: $info-color;
            }
        }
        >input {
            &:disabled {
                ~ {
                    span {
                        &:after {
                            border-color: $info-color;
                        }
                        opacity: 0.6;
                    }
                }
            }
            &:checked {
                ~ {
                    span {
                        border: 1px solid $info-color;
                    }
                }
            }
        }
    }
    &#{&}--info {
        &.radio--bold {
            >input {
                &:checked {
                    ~ {
                        span {
                            border: 2px solid $info-color;
                        }
                    }
                }
            }
        }
    }
    &#{&}--info {
        &.radio--solid {
            >span {
                background: $info-color;
                border: 1px solid transparent !important;
                &:after {
                    border: solid #ffffff;
                    background: #ffffff;
                }
            }
            >input {
                &:focus {
                    ~ {
                        span {
                            border: 1px solid transparent !important;
                        }
                    }
                }
                &:checked {
                    ~ {
                        span {
                            background: $info-color;
                        }
                    }
                }
            }
        }
    }
    &#{&}--warning {
        &.radio--disabled {
            opacity: 0.8;
        }
    }
    &#{&}--warning {
        >span {
            border: 1px solid $warning-color;
            &:after {
                border: solid $warning-color;
                background: $warning-color;
            }
        }
        >input {
            &:disabled {
                ~ {
                    span {
                        &:after {
                            border-color: $warning-color;
                        }
                        opacity: 0.6;
                    }
                }
            }
            &:checked {
                ~ {
                    span {
                        border: 1px solid $warning-color;
                    }
                }
            }
        }
    }
    &#{&}--warning {
        &.radio--bold {
            >input {
                &:checked {
                    ~ {
                        span {
                            border: 2px solid $warning-color;
                        }
                    }
                }
            }
        }
    }
    &#{&}--warning {
        &.radio--solid {
            >span {
                background: $warning-color;
                border: 1px solid transparent !important;
                &:after {
                    border: solid #fff;
                    background: #fff;
                }
            }
            >input {
                &:focus {
                    ~ {
                        span {
                            border: 1px solid transparent !important;
                        }
                    }
                }
                &:checked {
                    ~ {
                        span {
                            background: $warning-color;
                        }
                    }
                }
            }
        }
    }
    &#{&}--danger {
        &.radio--disabled {
            opacity: 0.8;
        }
    }
    &#{&}--danger {
        >span {
            border: 1px solid $danger-color;
            &:after {
                border: solid $danger-color;
                background: $danger-color;
            }
        }
        >input {
            &:disabled {
                ~ {
                    span {
                        &:after {
                            border-color: $danger-color;
                        }
                        opacity: 0.6;
                    }
                }
            }
            &:checked {
                ~ {
                    span {
                        border: 1px solid $danger-color;
                    }
                }
            }
        }
    }
    &#{&}--danger {
        &.radio--bold {
            >input {
                &:checked {
                    ~ {
                        span {
                            border: 2px solid $danger-color;
                        }
                    }
                }
            }
        }
    }
    &#{&}--danger {
        &.radio--solid {
            >span {
                background: $danger-color;
                border: 1px solid transparent !important;
                &:after {
                    border: solid #ffffff;
                    background: #ffffff;
                }
            }
            >input {
                &:focus {
                    ~ {
                        span {
                            border: 1px solid transparent !important;
                        }
                    }
                }
                &:checked {
                    ~ {
                        span {
                            background: $danger-color;
                        }
                    }
                }
            }
        }
    }
}

th {
    >.radio.radio--single {
        right: -5px;
    }
}

td {
    >.radio.radio--single {
        right: -5px;
    }
}

.input-group {
    .radio {
        margin-bottom: 0 !important;
        padding-left: 0;
    }
}

.radio-list {
    display: flex;
    .radio {
        display: block;
        text-align: left;
        margin-right: 15px;
        &:last-child {
            margin-bottom: 5px;
        }
    }
}

.form-inline {
    .radio {
        margin-left: 15px;
        margin-right: 15px;
    }
}

.form-horizontal {
    .form-group {
        .radio-list {
            padding-top: 0;
        }
    }
}

.radio-inline {
    padding: 0 0;
    .radio {
        display: inline-block;
        margin-right: 15px;
        margin-bottom: 5px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.form-group.row {
    .radio-inline {
        margin-top: 0.75rem;
    }
    .radio-list {
        margin-top: 2px;
    }
}


/* CUSTOM */

.radio.radio--lg>span {
    height: 24px;
    width: 24px;
    &::after {
        height: 7px;
        width: 7px;
        margin-top: -4px;
    }
}

.radio.radio--square>span {
    border-radius: 0!important;
}

.radio.radio--rd>span {
    border-radius: 6px!important;
}