.quick-search{
    .search-primary-scroll {
        max-height: 300px;
        overflow: auto;
        .font-search-primary {
            font-size: 14px;
            font-weight: 500;
        }
        .section-scroll {
            margin-top: 20px; 
        }
    }
    & &__form {
        padding: 0 8px; 
        background-color: $bg-white;
        color: #5c5f62;
        border-bottom: 1px solid #edeeef;    
        .form-control {
            border: 0;
            outline: none !important;
            box-shadow: none;
            color: #575962;
        }    
    }
    &__wrapper{
        background-color: #fff;
        color: $txt-body;
        color: #697386;        
        padding: 8px 8px 0;
        border-radius: 0 0 8px 8px;
    }
}



.list--search-result {
    margin-top: 2rem;
    max-height: 330px;
    overflow-y: auto;
    li {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        h6{
            padding: 8px 8px 0 8px;
        }
    }
    .search-result{
        display: flex;
        align-items: center;
        padding: 8px;
        border-radius: 3px;
        transition: 0.5s;
        &:hover{
            background-color: #f2f3f7;
        }
        &__icon{
            margin-#{$end-direction}: 10px;
            svg{
                fill: currentColor;
                display: block;
                width: 12px;
                height: 12px;
            }
        }
        &__link{
            color: currentColor;
            font-size: .875rem;
        }
    }     
}

.search-native {
    text-align: center;
    flex: 1;
    font-size: .875rem;
    p {margin: 0;}
}