.tagify {
    height: auto;
    &--outside {
        display: flex;
        border: none !important;
        .tagify__input {
            order: -1;
            flex: 100%;
            border: none;
            padding: 0;
            margin: 0;
            margin-bottom: 1em;
            transition: .1s;
            &:hover {
                border-color: inherit;
            }
        }
        &.tagify--focus .tagify__input {
            transition: 0s;
            border-color: inherit;
        }
    }
    &__dropdown {
        &__wrapper {
            font-size: 0.85rem;
            background-color: $bg-white;
            border: none;
            border-radius: $radius-common;
            box-shadow: $shadow1;
            // @extend .dropdown-menu;
        }
    }
}

.customLook {
    display: inline-block;
    min-width: 0;
    border: none;
    .tagify__tag {
        margin-top: 0;
        >div {
            border-radius: 25px;
            padding: 0.5rem 1rem;
            &:before {
                box-shadow: none;
                background: $bg-gray;
            }
        }
        &:only-of-type {
            .tagify__tag__removeBtn {
                display: none;
            }
        }
        .tagify__tag__removeBtn {
            opacity: 0;
            transform: translateX(-6px) scale(.5);
            margin-left: -3ch;
            transition: .12s;
        }
        &:hover {
            >div {
                color: #fff;
                &:before {
                    box-shadow: none;
                    background: $danger-color;
                    border-color: $danger-color;
                }
            }
            .tagify__tag__removeBtn {
                transform: none;
                opacity: 1;
                margin-left: -1ch;
            }
        }
        &--editable {
            >div {
                &:before {
                    box-shadow: none!important;
                }
            }
        }
    }
    .tagify__input {
        display: none;
    }
    +button {
        color: $brand-color;
        font: bold 1.4em/1.65 Arial;
        border: 0;
        background: none;
        box-shadow: 0 0 0 2px inset currentColor;
        border-radius: 50%;
        width: 1.85em;
        height: 1.85em;
        cursor: pointer;
        outline: none;
        transition: .1s ease-out;
        margin: 0 0 0 5px;
        vertical-align: top;
        &:hover {
            box-shadow: 0 0 0 5px inset currentColor;
        }
    }
}