.list-timeline {
    #{&}__group {
        margin: 0 0 25rem 0;
    }
    #{&}__heading {
        margin: 0 0 1.25rem 0;
        font-weight: 700;
        font-size: 1rem;
        text-transform: uppercase;
    }
    #{&}__items {
        position: relative;
        padding: 0;
        margin: 0;
        &:before {
            background-color: #ebedf2;
            position: absolute;
            display: block;
            content: '';
            width: 1px;
            height: 100%;
            top: 0;
            bottom: 0;
            left: 3px;
        }
        &__item {
            position: relative;
            display: table;
            table-layout: fixed;
            width: 100%;
            padding: 0.3rem 0;
            margin: 0.5rem 0;
            $self: &;
            &:first-child {
                padding-top: 0;
                margin-top: 0;
                &:before {
                    background-color: $bg-white;
                    position: absolute;
                    display: block;
                    content: '';
                    width: 1px;
                    height: 50%;
                    top: 0;
                    bottom: 0;
                    left: 3px;
                }
            }
            &:last-child {
                padding-bottom: 0;
                margin-bottom: 0;
                &:before {
                    background-color: $bg-white;
                    position: absolute;
                    display: block;
                    content: '';
                    width: 1px;
                    height: 50%;
                    top: 0;
                    bottom: 0;
                    left: 3px;
                    top: auto;
                    bottom: 0;
                }
            }
            &__badge {
                text-align: left;
                vertical-align: middle;
                display: table-cell;
                position: relative;
                width: 20px;
                $self: &;
                &:before {
                    background-color: #ebedf2;
                    position: absolute;
                    display: block;
                    content: '';
                    width: 7px;
                    height: 7px;
                    left: 0;
                    top: 50%;
                    margin-top: -3.5px;
                    border-radius: 100%;
                }
                &--brand {
                    &:before {
                        background-color: $brand-color;
                    }
                }
                &--light {
                    &:before {
                        background-color: $bg-white;
                    }
                }
                &--dark {
                    &:before {
                        background-color: $dark-color;
                    }
                }
                &--primary {
                    &:before {
                        background-color: $primary-color;
                    }
                }
                &--success {
                    &:before {
                        background-color: $success-color;
                    }
                }
                &--info {
                    &:before {
                        background-color: $info-color;
                    }
                }
                &--warning {
                    &:before {
                        background-color: $warning-color;
                    }
                }
                &--danger {
                    &:before {
                        background-color: $danger-color;
                    }
                }
            }
            &__icon {
                text-align: left;
                vertical-align: middle;
                display: table-cell;
                width: 30px;
                padding: 0 5px 0 0;
                line-height: 0;
                color: $txt-gray;
            }
            [class^="la-"],
            [class*="la-"] {
                font-size: 1.6rem;
            }
            [class^="fa-"],
            [class*="fa-"] {
                font-size: 1.2rem;
            }
            [class^="flaticon-"],
            [class*="flaticon-"],
            [class^="flaticon2-"],
            [class*="flaticon2-"] {
                font-size: 1.6rem;
            }
            &__text {
                display: table-cell;
                text-align: left;
                vertical-align: middle;
                width: 100%;
                padding: 0 0 0 5px;
                font-size: 1rem;
                color: #595d6e;
                &:hover {
                    text-decoration: none;
                }
            }
            &__time {
                display: table-cell;
                text-align: right;
                vertical-align: middle;
                width: 80px;
                padding: 0 0 0 5px;
                font-size: 0.9rem;
                color: $txt-gray;
            }
            &--read {
                .list-timeline__badge {
                    opacity: 0.5;
                }
                .list-timeline__icon {
                    opacity: 0.5;
                }
                .list-timeline__text {
                    opacity: 0.5;
                }
                .list-timeline__time {
                    opacity: 0.5;
                }
            }
        }
    }
}

.timeline {
    &-v1 {
        position: relative;
        width: 100%;
        $self1: &;
        &:after {
            content: '';
            position: absolute;
            width: 5px;
            top: 0;
            margin-top: 0.1rem;
            bottom: 3rem;
            left: 50%;
            margin-left: -2.5px;
            background-color: #E6EAF5;
        }
        &__marker {
            width: 20px;
            height: 5px;
            border-radius: 4px;
            position: absolute;
            left: 50%;
            margin-left: -10px;
            background-color: #E6EAF5;
        }
        &__items {
            padding-bottom: 6rem;
            position: relative;
        }
        &__item {
            position: relative;
            margin-left: 0;
            width: 50%;
            min-height: 3rem;
            $self2: &;
            &-arrow {
                color: #F7F8FC;
            }
            &-circle {
                background: white;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                z-index: 1;
                position: absolute;
                >div {
                    border-radius: 50%;
                    width: 6px;
                    height: 6px;
                }
            }
            &-time {
                position: absolute;
                display: inline-block;
                margin-top: -2.14rem;
                font-weight: 700;
                >span {
                    padding-left: 5px;
                }
            }
            &-content {
                position: relative;
                border-radius: 4px;
                padding: 2.14rem;
                background-color: #F7F8FC;
                &-title {
                    font-size: 1.2rem;
                    font-weight: 500;
                }
                &-body {
                    margin-top: 1.25rem;
                }
                &-actions {
                    margin-top: 1.25rem;
                }
                &-desc {
                    color: $txt-gray;
                }
            }
            &--left {
                left: 0;
                padding-right: 2.85rem;
                position: relative;
                #{$self2}-circle {
                    right: -10px;
                    top: 20px;
                }
                &-time {
                    right: 3.8rem;
                }
                &:after {
                    position: absolute;
                    content: '';
                    width: 0;
                    height: 0;
                    top: 15px;
                    left: 100%;
                    margin-left: -3rem;
                    border-left: solid 10px #F7F8FC;
                    border-bottom: solid 17px transparent;
                    border-right: solid 17px transparent;
                    border-top: solid 17px transparent;
                }
            }
            &--right {
                left: 50%;
                padding-left: 2.86rem;
                top: -3.5rem;
                #{$self2}-circle {
                    top: 20px;
                    left: -10px;
                }
                &-time {
                    left: 3.57rem;
                }
                &:after {
                    position: absolute;
                    content: '';
                    width: 0;
                    height: 0;
                    top: 15px;
                    right: 100%;
                    margin-right: -3rem;
                    border-right: solid 10px #F7F8FC;
                    border-bottom: solid 17px transparent;
                    border-left: solid 17px transparent;
                    border-top: solid 17px transparent;
                }
            }
            &--first {
                top: 3.5rem;
                $self: &;
                &--right {
                    top: -1rem;
                }
            }
        }
        &--center {
            margin: 0 auto;
        }
        &--justified {
            $self: &;
            &:after {
                left: 0;
                bottom: 0;
            }
            #{$self1}__marker {
                left: 0;
                top: 0;
            }
            #{$self1}__items {
                position: static;
                margin-bottom: 40px;
                padding: 20px 0;
            }
            #{$self1}__item {
                width: 100%;
                top: 0 !important;
                left: 0 !important;
                margin-top: 50px !important;
                padding-left: 2.25rem;
                padding-right: 0;
                position: relative;
                $self: &;
                &:after {
                    position: absolute;
                    content: '';
                    width: 0;
                    height: 0;
                    top: 15px;
                    left: 0;
                    margin-left: 10px;
                    border-right: solid 10px #F7F8FC;
                    border-bottom: solid 17px transparent;
                    border-left: solid 17px transparent;
                    border-top: solid 17px transparent;
                }
                &-time {
                    position: absolute;
                    display: inline-block;
                    margin-top: -2.14rem;
                    right: 100%;
                    left: 3.57rem;
                    width: fit-content;
                }
                &-circle {
                    left: -10px;
                    top: 20px;
                }
            }
            #{$self1}--first {
                margin-top: 20px !important;
            }
        }
    }
    &-v2 {
        position: relative;
        $self: &;
        &:before {
            content: '';
            position: absolute;
            left: 4.85rem;
            width: 0.214rem;
            top: 5px;
            bottom: 5px;
            height: calc(100% - 5px);
            background-color: $border-color;
        }
        &__item {
            display: table;
            position: relative;
            margin-bottom: 1.75rem;
            $self: &;
            &-time {
                display: table-cell;
                font-size: 0.875rem;
                font-weight: 500;
                vertical-align: top;
                position: absolute;
                padding-top: 0.18rem;
                color: $txt-gray;
            }
            &-cricle {
                width: 23px;
                height: 23px;
                border-radius: 50%;
                background: $bg-white;
                z-index: 1;
                top: 0.2rem;
                left: 4.25rem;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                >i {
                    font-size: 1.78rem;
                }
            }
            &-text {
                display: table-cell;
                vertical-align: top;
                font-size: 1rem;
                padding: 0.35rem 0 0 5rem;
                color: $txt-gray;
                >span {
                    font-weight: 700;
                }
                &-text--bold {
                    font-size: 1.2rem;
                    font-weight: 500;
                    padding-top: 0.21rem;
                    color: $txt-gray;
                }
            }
            .list-pics {
                display: table-cell;
                vertical-align: top;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &-v3 {
        $self: &;
        &__item {
            display: table;
            margin-bottom: 1rem;
            position: relative;
            $self: &;
            &:before {
                position: absolute;
                display: block;
                width: 0.28rem;
                border-radius: 0.3rem;
                height: 70%;
                left: 5.1rem;
                top: 0.46rem;
                content: "";
            }
            &-time {
                display: table-cell;
                vertical-align: top;
                padding-top: 0.6rem;
                font-weight: 500;
                font-size: 0.875rem;
                position: absolute;
                text-align: right;
                width: 3.57rem;
                color: $txt-gray;
            }
            &-desc {
                display: table-cell;
                width: 100%;
                vertical-align: top;
                padding-left: 7rem;
                &-text {
                    font-size: 1rem;
                    font-weight: 400;
                    color: $txt-gray;
                }
                &-user-name {
                    .timeline-v3__itek-link {
                        font-size: 0.9rem;
                        text-decoration: none;
                    }
                }
            }
            &--brand {
                &:before {
                    background: $brand-color;
                }
            }
            &--light {
                &:before {
                    background: #ffffff;
                }
            }
            &--dark {
                &:before {
                    background: $dark-color;
                }
            }
            &--primary {
                &:before {
                    background: $primary-color;
                }
            }
            &--success {
                &:before {
                    background: $success-color;
                }
            }
            &--info {
                &:before {
                    background: $info-color;
                }
            }
            &--warning {
                &:before {
                    background: $warning-color;
                }
            }
            &--danger {
                &:before {
                    background: $danger-color;
                }
            }
        }
    }
    &-v4 {
        $self: &;
        &__item-date {
            padding: 1rem 0;
            position: sticky;
            top: 0;
            z-index: 2;
            background: $bg-white;
            .tag {
                background: $bg-gray;
                font-size: 0.875rem;
                font-weight: 600;
                padding: 0.25rem 1rem;
                border-radius: 0.25rem;
            }
        }
        &__item {
            display: flex;
            margin-bottom: 1.5rem;
            position: relative;
            $self: &;
            &:before {
                position: absolute;
                display: block;
                width: 0.28rem;
                border-radius: 0.3rem;
                height: 25px;
                #{$start-direction}: 100px;
                top: 0px;
                content: "";
                background: $brand-color;
            }
            &-time {
                display: flex;
                flex: 0 0 100px;
                max-width: 100px;
                padding-#{$end-direction}: 1.5rem;
                font-weight: 500;
                font-size: 0.875rem;
                color: $txt-gray;
            }
            &-desc {
                display: flex;
                flex: 1;
                flex-direction: column;
                width: 100%;
            }
            &-text {
                font-size: 0.875rem;
                font-weight: 400;
                color: $txt-gray;
                width: 100%;
                display: block;
                b {
                    font-weight: 600;
                }
                .tag {
                    padding: 0.15rem 1rem;
                    font-size: 0.875rem;
                    font-weight: 600;
                    background-color: #0072cf31;
                    color: $brand-color;
                    border-radius: 0rem 1rem 1rem 0rem;
                    display: inline-flex;
                    margin-bottom: 0.25rem;
                }
            }
            &-link {
                font-size: 0.9rem;
                text-decoration: none;
                font-weight: 600;
            }
            &--brand {
                &:before {
                    background: $brand-color;
                }
            }
            &--light {
                &:before {
                    background: #ffffff;
                }
            }
            &--dark {
                &:before {
                    background: $dark-color;
                }
            }
            &--primary {
                &:before {
                    background: $primary-color;
                }
            }
            &--success {
                &:before {
                    background: $success-color;
                }
            }
            &--info {
                &:before {
                    background: $info-color;
                }
            }
            &--warning {
                &:before {
                    background: $warning-color;
                }
            }
            &--danger {
                &:before {
                    background: $danger-color;
                }
            }
        }
    }
}