.breadcrumb {
    list-style: none;
    margin: 0;
    padding: 0;

    ul {
        display: flex;
        margin: 0;
        align-items: center;
        flex-wrap: wrap;

        li {
            position: relative;
            padding: 0;
            margin: 5px 0;
            margin-#{$end-direction}: 1rem;
            color: $txt-body;
            font-size: 0.8125rem;
            display: block;
            font-weight: $font-weight-regular;
            line-height: 1.5;

            &:before {
                line-height: inherit;
                padding: 0 !important;
                position: absolute;
                #{$end-direction}: -1rem;
                content: "/" !important;
                // border: solid 1px darken($border-color, 50%);
                // border-width: 1px 1px 0 0;
                // transform: rotate(45deg);
                // [dir="rtl"] & {
                //     #{$end-direction}: 13px;
                //     transform: rotate(-136deg);
                // }
            }

            &:last-child {
                padding-#{$end-direction}: 0;

                &:before {
                    display: none;
                }
            }

            a {
                color: $txt-gray;
                font-size: inherit;
                display: block;
                line-height: inherit;
            }
        }
    }

    &-center {
        justify-content: center;

        ul {
            justify-content: center;
        }
    }

    &-right {
        color: #fff;

        ul {
            justify-content: flex-end;
        }
    }

    &-white {
        color: #fff;

        ul {
            li {
                &:before {
                    border-color: #fff;
                }
            }
        }
    }
}