@-webkit-keyframes moltinShake {
    12.5% {
        transform: translateX(-6px) rotateY(-5deg);
    }
    37.5% {
        transform: translateX(5px) rotateY(4deg);
    }
    62.5% {
        transform: translateX(-3px) rotateY(-2deg);
    }
    87.5% {
        transform: translateX(2px) rotateY(1deg);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes moltinShake {
    12.5% {
        transform: translateX(-6px) rotateY(-5deg);
    }
    37.5% {
        transform: translateX(5px) rotateY(4deg);
    }
    62.5% {
        transform: translateX(-3px) rotateY(-2deg);
    }
    87.5% {
        transform: translateX(2px) rotateY(1deg);
    }
    100% {
        transform: translateX(0);
    }
}

.invalid {
    animation: moltinShake 0.4s ease-in-out 0.1s normal forwards 1 running;
}

.btn {
    padding: 0.6rem 0.75rem;
    height: auto;
    border-radius: 0;
    &-brand {
        background-color: var(--brand-color);
        color: var(--brand-color-inverse);
        &:hover {
            color: currentColor;
        }
    }
    &-outline-brand {
        border-color: var(--brand-color);
        color: var(--brand-color-inverse);
        &:hover {
            color: currentColor;
        }
    }
    &-white {
        background: #fff;
        color: #000;
        &:hover {
            color: currentColor;
        }
    }
    &-outline-brand {
        background: none;
        border-color: $brand-color;
        color: $brand-color;
        &:hover {
            color: currentColor;
        }
    }
    &-outline-secondary {
        background: none;
        border-color: $secondary-color;
        color: $secondary-color;
        &:hover {
            color: currentColor;
        }
    }
    &-outline-white {
        background: none;
        border-color: #fff;
        color: #fff;
        &:hover {
            color: currentColor;
        }
    }
    &-outline-black {
        background: none;
        border-color: #000;
        color: $body-color;
        &:hover {
            color: currentColor;
        }
    }
    &-outline-gray {
        background: none;
        border-color: $border-color;
        color: $body-color;
        &:hover {
            color: currentColor;
        }
    }
    &-block {
        display: block;
        width: 100% !important;
    }
    &-wide {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    &-sm {
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
        line-height: 1.5;
        //border-radius: 0.2rem;
    }
    &-arrow {
        svg {
            width: 12px;
            height: 12px;
            margin-top: -4px;
            margin-#{$end-direction}: 5px;
            fill: currentColor;
        }
    }
    &-link {
        text-decoration: none;
        color: $body-color;
        padding: 0;
        .arrow {
            display: inline-block;
            transition: all 0.2s ease-in-out;
            .svg {
                width: 12px;
                height: 12px;
                margin-#{$end-direction}: 5px;
                fill: currentcolor;
            }
        }
        &:hover {
            .arrow {
                transform: translateX(0.25rem);
            }
        }
    }
    &:focus {
        outline: none !important;
    }
    .icn {
        svg {
            width: 16px;
            height: 16px;
            fill: currentColor;
        }
    }
}

.btn-group > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group > .btn-group:not(:last-child) > .btn {
    border-top-#{$end-direction}-radius: 0;
    border-bottom-#{$end-direction}-radius: 0;
}

.btn-group > .btn:not(:first-child),
.btn-group > .btn-group:not(:first-child) > .btn {
    border-top-#{$start-direction}-radius: 0;
    border-bottom-#{$start-direction}-radius: 0;
}

button:focus,
.btn:focus {
    outline: none;
    box-shadow: none !important;
}

a.link {
    color: $brand-color;
    position: relative;
    font-size: 0.875rem;
    white-space: nowrap;
    text-rendering: optimizeLegibility;
    transition: color 0.3s ease-in-out;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size 0.3s;
    &:after {
        //content: "";
        position: absolute;
        height: 1px;
        bottom: -2px;
        #{$start-direction}: 0;
        #{$end-direction}: 0;
        background: $brand-color;
        color: $brand-color-inverse;
        transform-origin: bottom left;
        transform: scaleX(1);
        transition: transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    }
    &:hover {
        text-decoration: none;
        background-size: 100% 1px;
    }
}

a.link-arrow {
    color: $brand-color;
    position: relative;
    font-size: 0.875rem;
    white-space: nowrap;
    text-rendering: optimizeLegibility;
    transition: color 0.3s ease-in-out;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size 0.3s;
    display: inline-flex;
    align-items: center;
    &:after {
        transition: all 0.5s ease;
        position: absolute;
        right: -0.5rem;
        opacity: 0;
        content: "→";
    }
    &:hover {
        color: $brand-color;
        text-decoration: none;
        &:after {
            transition: all 0.5s ease;
            right: -1rem;
            width: auto;
            opacity: 1;
        }
    }
    &--inline {
        display: inline-flex;
    }
}

.link-text {
    display: inline-flex;
    align-items: center;
    font-size: 0.9rem;
    color: $primary-color;
    .icn {
        width: 12px;
        height: 12px;
        display: block;
        margin-#{$end-direction}: 8px;
        svg {
            width: 100%;
            height: 100%;
            display: flex;
            fill: currentColor;
        }
    }
}
