.js-carousel {
  //display: block;
  grid-auto-flow: column;
  @include media-breakpoint-up(lg) {
    margin-inline: -$gap/2;
  }
  .item {
    @include media-breakpoint-up(lg) {
      padding-inline:$gap/2;
    }
  }
  .slick-track {
    margin: 0;
  }
}
