.cart-summary {
    font-size: 0.85rem;

    &-item {
        padding: 0.5rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .label {
            color: currentColor;
            padding: 0;
        }

        .value {
            font-weight: $font-weight-bold;
            text-align: #{$end-direction};
            margin-#{$start-direction}: auto;
        }

        &.highlighted {
            font-size: 1rem;
            color: $txt-body;
            border-top: $border;
            padding-top: 1rem;
            margin-top: 1rem;
        }

        &.text-success {
            color: $success-color;
        }
    }
}