.slider-testimonials {
  text-align: center;
  padding-bottom: 2rem;
  position: relative;
  display: flex;
  margin: 10px auto;
  max-width: 1000px;

  &-item {
    flex: 1;
    padding: 2rem 4rem;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(lg) {
      align-items: center;
      flex-direction: row;
      padding: 0 1rem;
    }
  }

  &-image {
    margin-bottom: 1rem;
    position: relative;

    @include media-breakpoint-up(lg) {
      aspect-ratio: 1/1;
      margin-bottom: 0;

      img {
        display: inline-block;
      }
    }

    &:before {
      @include media-breakpoint-up(lg) {
        content: "";
        position: absolute;
        #{$start-direction}: 0;
        top: 0;
        z-index: 0;
        width: 12.9rem;
        height: 12.9rem;
        background: $brand-color;
        border-top-#{$start-direction}-radius: 100px;
      }
    }
  }

  &-user {
    object-fit: cover;
    margin: auto;

    @include media-breakpoint-down(lg) {
      border-radius: 50%;
      min-width: 100px;
      width: 100px;
      height: 100px;
    }

    @include media-breakpoint-up(lg) {
      min-width: 17.5rem;
      width: 17.5rem;
      height: 17.5rem;
      position: relative;
      margin-#{$start-direction}: 70px;
      margin-top: 70px;
    }
  }

  &-data {
    overflow: hidden;
    flex: 1;
    font-size: 1.3rem;

    @include media-breakpoint-up(lg) {
      margin-#{$start-direction}: 6.25rem;
      margin-top: 6.25rem;
      text-align: #{$start-direction};
    }
  }

  &-text {
    //max-width: 512px;
    p {
      font-size: 1rem;
      color: $txt-gray;
      font-weight: $font-weight-regular;
    }
  }

  &-from {
    margin-top: 2rem;

    .name {
      font-size: 1.3rem;
      display: block;
      font-weight: $font-weight-normal;
    }
  }

  .slick-arrow {
    width: 48px;
    min-width: 48px;
    height: 48px;
    background-color: transparent;
    border: none;
    transition: all 0.2s ease-in-out;
    position: absolute;
    top: calc(50% - 24px);
    z-index: 1;
    text-indent: -999999px;
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
      content: "";
      display: inline-block;
      border-#{$end-direction}: 2px solid currentColor;
      border-bottom: 2px solid currentColor;
      width: 24px;
      height: 24px;
    }

    &.slick-prev {
      #{$start-direction}: 0;

      @include media-breakpoint-up(xl) {
        #{$start-direction}: -130px;
      }

      &:before {
        transform: rotate(136deg * $transform-direction);
        margin-right: -7px;
      }
    }

    &.slick-next {
      #{$end-direction}: 0;

      @include media-breakpoint-up(xl) {
        #{$end-direction}: -130px;
      }

      &:before {
        margin-left: -7px;
        transform: rotate(-45deg * $transform-direction);
      }
    }
  }

  .slick-center & {
    background-color: #fff;
    color: $txt-body;
  }
}
