.shop-layout-1 {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(2, 1fr);

    @include media-breakpoint-up(lg) {
        grid-gap: 3rem;
        grid-template-columns: repeat(4, 1fr);
    }

    .shop {
        text-align: center;
        background: $gray-light;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 0;
        position: relative;
        overflow: hidden;
        transition: all 0.2s linear;
        animation: slideRight 600ms ease both;
        border: solid 1px transparent;
        padding: 2rem 0;
        &:hover {
            background: none;
            border-color: $brand-color;
        }
        &-head {
        }
        &-body {
            flex: 1;
        }
        &-foot {
            text-align: center;
            .products__rating {
                justify-content: center;
            }
        }
        &-logo {
            background: #fff;
            border-radius: 50%;
            overflow: hidden;
            width: 142px;
            height: 142px;
            margin: 0 auto;
            margin-bottom: 1rem;
            position: relative;
            border: $border;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            @include media-breakpoint-down(sm) {
                width: 100px;
                height: 100px;
            }
        }
        &-title {
            font-weight: 500;
            font-size: 1rem;
            color: $txt-body;
        }
        &-location {
            font-size: 0.875rem;
            color: $txt-gray;
        }
    }
}

.shop-layout-2 {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: repeat(3, 1fr);
    .shop {
        display: flex;
        flex-direction: column;
        text-align: center;
        max-width: 488px;
        &:nth-child(odd) {
            flex-direction: column-reverse;
        }
        &-body {
            flex: 1;
        }
        &-foot {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            padding: 2.5rem 1rem;
        }
        &-title {
            font-weight: 500;
            font-size: 1rem;
            color: $txt-body;
        }
        &-location {
            font-size: 0.8rem;
            font-weight: $font-weight-light;
            color: $txt-gray;
            margin-bottom: 1.5rem;
        }
    }
}
