.bg-newsletter {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.newsletter {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(8px);
    border-radius: $common-radius;
    max-width: 500px;
    padding: 2rem;

    @include media-breakpoint-up(lg) {
        //margin: 4rem;
        padding: 4rem;
    }

    display: flex;
    flex-direction: column;

    &-head {
        margin-bottom: 1.5rem;

        h3 {
            margin-bottom: 1rem;
            font-weight: $font-weight-bold;
        }

        h6 {
            font-size: 0.8rem;
            font-weight: $font-weight-light;
            max-width: 337px;
        }
    }

    &-form {
        display: flex;
        align-items: center;
        border-bottom: solid 2px #000;

        &-input {
            flex: 1;
            background: none;
            border: none;
            height: 2.5rem;
            width: 100%;
            line-height: 1.2;
            font-size: 0.8em;
            padding: 5px 0;
            margin: 0;
            color: $txt-body;
            vertical-align: top;
        }

        &-submit {
            height: 2.5rem;
            width: 2.5rem;
            background: transparent;
            color: #000;
            border: none;
        }
    }
}