.faq-layout-1 {
    .faq {
        border-bottom: $border;
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 60%;
        margin: auto;
        @include media-breakpoint-down(lg) {
            max-width: none;
        }
        &-item {
            &.is-active {
                color: $brand-color;
            }
        }
        &-links {
            border: none;
            background: none;
            display: block;
            padding: 0.8rem 1rem;
        }
    }
    .tab-content {
        .faq-list {
            max-width: 60%;
            margin: 0 auto;
            margin-top: 2rem;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            @include media-breakpoint-down(lg) {
                max-width: none;
            }
            &-item {
                padding: 2rem;
                margin-bottom: 1rem;
                background: $bg-gray;
                h5 {
                    font-size: 1.1rem;
                    margin: 0;
                }
                p {
                    line-height: 1.7;
                    font-size: 0.9rem;
                    font-weight: 300;
                    color: $txt-gray;
                    margin-top: 1rem;
                }
            }
            &-link {
                background: none;
                border: none;
                position: relative;
                display: flex;
                width: 100%;
                font-weight: 500;
                margin: 0;
                padding: 0;
                padding-#{$end-direction}: 2rem;
                text-align: #{$start-direction};
                &:after,
                &:before {
                    background: $body-color;
                    content: "";
                    height: 2px;
                    position: absolute;
                    right: 0;
                    top: calc(50% - 1px);
                    width: 12px;
                }
                &:before {
                    transform: rotate(90deg);
                    transition: all 0.2s ease-in-out;
                }
                &[aria-expanded="true"]:before {
                    transform: rotate(0deg);
                }
            }
        }
    }

    .faq_data {
        margin-top: 2rem;
    }
}
