/*cookies*/

.cc-window {
    //box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 5px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: $shadow1;
    backdrop-filter: blur(3px);
    // border: $border-black;
    border-radius: $common-radius;
    color: $txt-body;
    bottom: 1rem;
    #{$start-direction}: 1rem;
    #{$end-direction}: 1rem;
    opacity: 1;
    position: fixed;
    //#{$end-direction}: 0;
    transition: all 0.3s ease 0s;
    width: auto;
    margin: auto;
    z-index: 1050;
    padding: 1rem;
    max-width: 380px;
    @include media-breakpoint-up(lg) {
        #{$start-direction}: 1rem;
        #{$end-direction}: auto;
    }
    .box-cookies {
        font-size: 13px;
        font-weight: 400;
        line-height: 30px;
        padding: 1rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-gap: 10px;
        flex-direction: column;
        flex-flow: row wrap;
        @include media-breakpoint-up(lg) {
            flex-direction: column;
        }
        a {
            text-decoration: underline;
        }
    }

    .cookie-alert {
        p {
            color: $txt-gray;
        }
    }
    .cookies-actions {
        display: flex;
        gap: 1rem;
        flex-flow: row wrap;
        //flex-direction: column;
        .btn {
            //border-radius: 6px;
            flex: 1;
        }
    }
}
