/*cookies*/

.cc-window {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(3px);
    color: $txt-body;
    bottom: 0;
    #{$start-direction}: 0;
    opacity: 1;
    position: fixed;
    #{$end-direction}: 0;
    transition: all 0.3s ease 0s;
    width: fit-content;
    margin: auto;
    z-index: 1050;
    .box-cookies {
        font-size: 13px;
        font-weight: 400;
        line-height: 30px;
        padding: 1rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-gap: 10px;
        flex-direction: column;
        flex-flow: row wrap;
        @include media-breakpoint-up(lg) {
            flex-direction: row;
        }
        a {
            text-decoration: underline;
        }
    }

    .cookie-alert {
        p {
            color: $txt-gray;
        }
    }
}
