.featured-item {
    text-align: center;
    background: $gray-light;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: $radius4;
    position: relative;
    overflow: hidden;
    border: solid 1px transparent;
    height: 100%;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-animation: slideRight 600ms ease both;
    animation: slideRight 600ms ease both;
    border: solid 1px transparent;
}

.featured-item:hover {
    background: none;
    border-color: $brand-color;
}

.featured_inner {}

.featured_logo {
    background: #fff;
    border-radius: 50%;
    overflow: hidden;
    width: 142px;
    height: 142px;
    margin: 0 auto;
    position: relative;
    border: $border;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1rem;
}

.featured_detail {
    position: relative;
    z-index: 1;
    min-height: 60px;
}

.featured_name a {
    font-size: 1em;
    color: $body-color;
}

.featured_location {
    font-size: 0.875rem;
    color: lighten($body-color, 50%);
}

.featured_footer .products__rating {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}