
.file__upload {
    position: relative;
    display: inline-flex;
    align-items: center;
    color: $txt-gray;
    
    border:$border;
    padding: .45rem 1rem;
    border-radius: .25rem;
    //margin: .875rem 0;
    font-size: .8rem;
    
    &:hover {cursor: pointer;
        color: $primary-color;
    }
    input[type="file"] {
        position: absolute;
        border: none;
        opacity: 0;
        padding: 0;
        cursor: pointer;
    }
    span {
        font-size: .875rem;
        color: currentColor;
        svg {
            fill: currentColor;
        }
        &.upload-icon {
            width: 1.5rem;
            height: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-#{$end-direction}: .25rem;
        }
    }
}