.filter-directory {
    a {
        color: inherit;
    }

    .filter-directory_bar {
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
        align-items: center;
        border-bottom: $border;
        padding: 0 0 1rem 0;
        margin-bottom: 1rem;

        // @include media-breakpoint-down(md) {
        //     flex-direction: column;
        // }
        .filter-directory_search_input {
            margin-#{$end-direction}: 1rem;
            flex: 0 0 200px;
            max-width: 200px;

            @include media-breakpoint-down(md) {
                margin: 0;
                margin-bottom: 1rem;
                flex: auto;
                max-width: none;
            }
        }

        .filter-directory_indices {
            display: flex;
            gap: 5px;
            //justify-content: space-around;
            flex: 1;
            flex-direction: row;
            flex-wrap: nowrap;
            overflow-x: auto;

            @include media-breakpoint-down(md) {
                justify-content: flex-start;

                width: 100%;
            }

            li {
                font-size: 0.8rem;
                padding: 0.4rem;
                text-transform: uppercase;
                font-weight: $font-weight-bold;
                cursor: pointer;
            }
        }
    }

    .filter-directory_disabled {
        opacity: 0.2;
    }
}

.filter-directory_list {
    padding: 0;
    height: 465px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    white-space: nowrap;
    overflow-y: auto;
    gap: 20px;

    li {
        font-size: 0.8rem;
    }

    .filter-directory_list_title {
        text-transform: uppercase;
        font-weight: $font-weight-bold;
        font-size: 1rem;
        margin-bottom: 0.8rem;
    }

    .filter-directory_count {
        opacity: 0.66;
        font-size: 0.7rem;
    }
}