.offcanvas-mega-search {
    top: $header-height;
    right: 0;
    left: 0;
    max-height: 70%;
    transform: translateY(-100%);
    z-index: 100;
    box-shadow: 0 1.2px 1.9px -1px rgba(0, 0, 0, 0.014), 0 3.3px 5.3px -1px rgba(0, 0, 0, 0.038), 0 8.5px 12.7px -1px rgba(0, 0, 0, 0.085), 0 30px 42px -1px rgba(0, 0, 0, 0.15);
}
.mega-search {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 4rem 0;
    &-input {
        font-size: 0.85rem;
        background: none;
        border: 2px solid $brand-color;
        border-radius: $radius4;
        height: 40px;
        width: 100%;
        margin-bottom: 2rem;
    }
}

.search-suggestions {
    font-size: 0.8rem;
    padding: 0;
    display: flex;
    border-radius: $radius4;
    @include media-breakpoint-down(lg) {
        flex-direction: column;
    }
    .suggestions-title {
        text-transform: uppercase;
        color: $txt-body;
        font-size: 0.8rem;
        margin-bottom: 1rem;
        padding: 0;
    }
    .text-suggestions {
        flex: 1;
        display: flex;
        flex-direction: column;
        font-size: 0.75rem;
        &-item {
            padding-bottom: 8px;
            transition: all 0.2s ease-in-out;
        }
        &-link {
            display: inline-block;
            transition: all 0.2s linear;
            position: relative;
            &:after {
                transition: all 0.5s ease;
                position: absolute;
                right: -0.5rem;
                opacity: 0;
                content: "→";
            }
            &:hover {
                color: $brand-color;
                text-decoration: none;
                &:after {
                    transition: all 0.5s ease;
                    right: -1rem;
                    width: auto;
                    opacity: 1;
                }
            }
        }
        &-span {
        }
    }
    .history-suggestions {
        width: 100%;
        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .clear-all {
            font-size: inherit;
        }
        .recent-search {
            margin: 8px 0;
            &:last-child {
                margin: 0;
            }
            &__cross {
                position: relative;
                flex: 0 0 20px;
                max-width: 20px;
                height: 20px;
                margin-#{$end-direction}: 10px;
                .close-layer {
                    top: 0;
                    #{$start-direction}: 0;
                    #{$end-direction}: auto;
                }
            }
            &__link {
                flex: 1;
            }
            &__arrow {
                -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
                cursor: pointer;
                .svg {
                    width: 16px;
                    height: 16px;
                    fill: currentColor;
                }
            }
        }
    }
    .matched {
        display: block;
        .matched-brands {
            margin-bottom: 1rem;
        }
    }
}
