html {
	font-size: 14px;

	@include media-breakpoint-up(md) {
		font-size: 13px;
	}

	@include media-breakpoint-up(lg) {
		font-size: 14px;
	}

	@include media-breakpoint-up(xl) {
		font-size: 15px;
	}

	@include media-breakpoint-up(xxl) {
		font-size: 16px;
	}

	@media (min-width: 1600px) {
		font-size: 17px;
	}
}

@media (min-width: 1600px) {
	.container {
		max-width: 1440px;
	}
}

@media (min-width: 1800px) {
	.container {
		max-width: 1536px;
	}
}

@media print {
	.pagebreak {
		clear: both;
		page-break-after: always;
	}
}

.container-fluid {
	max-width: none;
}

:focus {
	//box-shadow: none !important;
	outline: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {}

p {
	margin: 0;
}

b,
strong {
	font-weight: $font-weight-normal;
}

.strong {
	font-weight: $font-weight-normal;
}

ol,
ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

img {
	max-width: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: $brand-color;
	text-decoration: underline;
}

.svg {
	fill: currentColor;
}

mark,
.mark {
	padding: 0;
}

.mleft-auto {
	margin-#{$start-direction}: auto !important;
}

.mright-auto {
	margin-#{$end-direction}: auto !important;
}

.text-left {
	text-align: #{$start-direction} !important;
}

.text-right {
	text-align: #{$end-direction} !important;
}

.-color-light {
	opacity: 0.6;
}

.-color-light {
	opacity: 0.6;
	font-weight: normal;
}

.-heightfull {
	height: 100%;
}

.-heightfull.-border.rounded p.small {
	font-size: 100%;
	font-style: normal;
}

.-inline-element {
	display: inline-block;
	vertical-align: top;
}

.divider {
	height: 1px;
	background: $border-color;
	margin: 15px 0;
}

.note {
	font-weight: $font-weight-regular;
	margin-top: 10px;
	display: block;
}

.txt-white {
	color: #fff;
}

.txt-brand {
	color: $brand-color;
}

.txt-secondary {
	color: $secondary-color;
}

.txt-success {
	color: $success-color;
}

.dragHandle {
	cursor: move;
}

#st_gdpr_iframe {
	display: none;
}

.not-allowed {
	background: #ededed;
	color: #888;
	cursor: not-allowed !important;
}

.formActions-css {
	display: none !important;
}

.-inline-link {
	text-decoration: underline;
	font-size: 0.9em;
	color: $brand-color !important;
}

.gap {
	height: 1rem;
	clear: both;
	display: table;
	width: 100%;
}

.padding20 {
	padding: 20px;
}

.align-center {
	margin: 0 auto;
	text-align: center;
}

.hidden {
	display: none !important;
}

.no-after {
	&:after {
		content: normal !important;
	}

	&:before {
		content: normal !important;
	}
}

.list-inline {
	display: flex;
	align-items: center;
	gap: 10px;
}

.focused-div {
	height: auto;
	cursor: text;
	font-size: 0.9em;
}

.cards-message {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	position: relative;
	padding: 0.75rem 1.25rem;
	margin: auto;
	color: var(--body-color);
	height: 100%;

	.cards-message-icon {
		display: flex;
		align-items: center;
		padding: 1.25rem 0;
		font-size: 2.5rem;
	}

	.alert-text {
		align-self: center;
	}
}

.profile-image {
	.avtar {
		margin: 0 auto;
	}
}

.info-message {
	background: #f9edbe;
	border: 1px solid #f0c36d;
	color: #6c6c6c;
	font-size: 0.85em;
	line-height: 1.2;
	border-radius: $common-radius;
	padding: 0.8rem;
}

.docs-buttons {
	display: flex;
	justify-content: center;

	.btn-group {
		margin: 0 2px;
	}
}

.custom-ui-autocomplete {
	max-height: 200px;
	max-width: 500px;
	overflow: hidden;
	overflow-y: auto;
	box-shadow: 0 0 35px 10px rgba(0, 0, 0, 0.1);
	border-radius: $common-radius;
	font-weight: $font-weight-regular;
	font-size: 0.8rem !important;
	border: $border;
	animation: dropdown-menu-fade-in 0.3s ease 1,
		dropdown-menu-move-up 0.3s ease-out 1;

	.ui-menu-item {
		border-bottom: $border;

		.ui-menu-item-wrapper {
			padding: 0.8rem;
			border-color: transparent !important;
		}

		&:last-child {
			border-bottom: none;
		}
	}

	strong {
		font-weight: $font-weight-bold;
	}
}

.strikethrough {
	text-decoration: line-through;
}

.cursor-pointer {
	cursor: pointer;
}

.alert-aligned {
	height: 100%;
	display: flex;
	align-items: center;
}

.list-shipping {
	.list-group-item {
		padding: 1rem;
	}

	.shipping-states {
		display: flex;

		.box-icon {
			border-radius: $radius3;
			background-color: $bg-gray;
			padding: 5px 7px;
			margin-#{$end-direction}: 8px;
		}

		.detail {
			h6 {
				margin: 0;
				font-size: 0.85rem;
			}

			p {
				font-size: 0.75rem;
			}
		}
	}

	.table-rates {
		td {
			padding: 0.6rem;
		}
	}
}

.list-country-zone {
	li {
		margin: 5px 0;
		padding: 5px 0;
		border-bottom: $border-light;
		font-size: 0.8rem;

		&:last-child {
			padding-bottom: 0;
			border-bottom: 0;
			margin-bottom: 0;
		}

		ul {
			font-size: 0.75rem;
			margin-#{$start-direction}: 1rem;
			color: $txt-gray;
		}
	}

	.checkbox {
		font-size: inherit;
	}
}

.text-link {
	font-weight: $font-weight-normal;
	color: $brand-color;
}

.close-layer {
	z-index: 2;
	position: absolute;
	#{$end-direction}: 10px;
	top: 10px;
	width: 32px;
	height: 32px;
	opacity: 0.3;

	transition: all 300ms;
	display: flex;
	align-items: center;
	border: none;
	background: none;

	&:hover,
	&:focus,
	&:active {
		transform: rotate(-90deg);
		opacity: 1;
	}

	&:before,
	&:after {
		position: absolute;
		#{$start-direction}: 15px;
		content: " ";
		height: 18px;
		width: 2px;
		background-color: #000;
	}

	&:before {
		transform: rotate(45deg);
	}

	&:after {
		transform: rotate(-45deg);
	}

	&--white {

		&:before,
		&:after {
			background-color: #fff;
		}
	}

	&-sm {
		width: 20px;
		height: 20px;

		&:before,
		&:after {
			#{$start-direction}: 10px;
			height: 12px;
			width: 1px;
		}
	}
}

.browse-more {
	margin-top: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: row wrap;
	gap: 10px;

	li {
		a {
			background: $bg-brand-light;
			color: $brand-color;
			border-radius: 30px;
			padding: 0.5rem 1rem;
			//border: $border;
			font-size: 0.75rem;
			font-weight: $font-weight-bold;
			display: block;

			&:hover,
			&:focus,
			&:active {
				background: $brand-color;
				color: $brand-color-inverse;
				border-color: currentColor;
				text-decoration: none;
			}
		}
	}
}

.form-edit {
	display: flex;
	flex-direction: column;
	//height: 100%;
	padding: 0;

	&-head {
		padding: 0 2rem;
		border-bottom: $border;
	}

	&-body {
		flex: 1 1 auto;
		padding: 1.5rem 2rem;

		.h3 {
			font-size: 1rem;
			color: $txt-body;
		}
	}

	&-foot {
		border-top: $border;
		position: sticky;
		bottom: 0;
		z-index: 1020;
		background-color: $bg-white;
		padding: 1.5rem 2rem;
	}
}


//.dropdown-toggle-custom
.dropdown-toggle-custom {
	text-align: #{$start-direction};
	cursor: pointer;
	position: relative;
	padding-#{$end-direction}: 2rem;

	&-arrow {
		position: absolute;
		transform: translate(-6px, 0);
		top: calc(50% - 4px);
		#{$end-direction}: 0;

		&:after,
		&:before {
			content: "";
			position: absolute;
			background-color: currentColor;
			width: 1px;
			height: 9px;
			transition: all 0.25s ease-in-out;
		}

		&:before {
			transform: translate(-3px * $transform-direction, 0) rotate(-45deg);
		}

		&:after {
			transform: translate(3px * $transform-direction, 0) rotate(45deg);
		}

		[aria-expanded="true"] & {
			&:before {
				transform: translate(-3px * $transform-direction, 0) rotate(45deg);
			}

			&:after {
				transform: translate(3px * $transform-direction, 0) rotate(-45deg);
			}
		}
	}
}

.offcanvas-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1040;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
}

.slider-controls {
	display: flex;
	align-items: center;
	justify-content: center;
	grid-gap: 1rem;
	flex-direction: row;
	flex-wrap: nowrap;

	.btn {
		background-color: #fff;

		@include media-breakpoint-up(lg) {
			border: $border-black;
		}

		padding: 0;
		width: 42px;
		height: 42px;
		// display: block;
		display: flex;
		align-items: center;
		justify-content: center;

		&-prev span {
			display: inline-block;
			border-#{$end-direction}: 1px solid black;
			border-bottom: 1px solid black;
			width: 10px;
			height: 10px;
			transform: rotate(136deg * $transform-direction);
			margin-#{$end-direction}: -7px;
		}

		&-next span {
			display: inline-block;
			border-#{$end-direction}: 1px solid black;
			border-bottom: 1px solid black;
			width: 10px;
			height: 10px;
			transform: rotate(-45deg * $transform-direction);
			margin-#{$start-direction}: -7px;
		}

		&:hover {
			border-color: $brand-color;

			span {
				border-color: $brand-color;
			}
		}
	}
}

//phone code
.iti {
	// width: 100%;
	// height: $input-height;
	font-size: 0.8rem;

	&__selected-flag {
		background-color: $input-bg;
		border-radius: $input-border-radius;
		margin-#{$end-direction}: 10px !important;
	}

	&[dir="ltr"] {
		.iti__flag-container {
			right: auto !important;
			left: 0 !important;
		}

		.iti__country-list {
			left: 0;
			text-align: left;
		}
	}

	&[dir="rtl"] {
		.iti__flag-container {
			right: 0 !important;
			left: auto !important;
		}

		.iti__country-list {
			text-align: right;
			right: 0;
		}
	}
}

.processing-wrap {
	position: relative;
}

.processing {
	background-color: rgba(255, 255, 255, 0.55);
	position: absolute;
	z-index: 1024;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;

	&:after {
		position: absolute;
		content: "";
		background-color: rgba(255, 255, 255, 0.05);
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
	}
}

//skeleton
// .skeleton-loader-background {
//     width: 100%;
//     height: 15px;
//     display: block;
//     background: lightgray;
// }

// .skeleton-loader-gradient {
//     width: 100%;
//     height: 15px;
//     display: block;
//     background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80%), lightgray;
//     background-repeat: repeat-y;
//     background-size: 50px 200px;
//     background-position: 0 0;
// }

// .skeleton-loader {
//     &:empty {
//         width: 100%;
//         height: 15px;
//         display: block;
//         background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80%), lightgray;
//         background-repeat: repeat-y;
//         background-size: 50px 500px;
//         background-position: 0 0;
//         animation: shine 1s infinite;
//     }
// }

// @keyframes shine {
//     to {
//         background-position: 100% 0;
//     }
// }

.skeleton {
	background: linear-gradient(to right,
			rgba(255, 255, 255, 0),
			rgba(255, 255, 255, 0.5) 50%,
			rgba(255, 255, 255, 0) 80%),
		lightgray;
	border-radius: 2px;
	height: 10px;
	margin: 2px 0;
	position: relative;
	overflow: hidden;

	&::before {
		content: "";
		display: block;
		position: absolute;
		left: -150px;
		top: 0;
		height: 100%;
		width: 150px;
		background: linear-gradient(to right,
				transparent 0%,
				#e8e8e8 50%,
				transparent 100%);
		animation: load 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
	}
}

@keyframes load {
	from {
		left: -150px;
	}

	to {
		left: 100%;
	}
}

.grid-layout {
	display: flex;
	flex-direction: column;
	gap: 3rem;

	@include media-breakpoint-up(lg) {
		display: grid;
		grid-gap: 5rem;
		grid-template-columns: minmax(auto, 24%) 1fr;
	}
}

.badges-list {
	display: inline-flex;
	align-items: center;
	gap: 10px;
	margin-top: 5px;

	&-img {
		border-radius: 6px;
		height: 100%;
		width: 100%;
		object-fit: cover;
		max-width: 22px;
	}
}

//plugin

//google locations
.pac-container {
	font-family: inherit;
	box-shadow: $shadow1;
	z-index: 1040;
	border: $border !important;
	border-radius: 4px;

	.pac-item {
		cursor: pointer;
		padding: 8px 10px;
		border-top: $border !important;
	}

	.pac-icon {
		background-image: url(images/retina/geo-alt.svg) !important;
		background-size: 14px !important;
		background-repeat: no-repeat;
		background-color: transparent;
		background-position: center;
	}

	.pac-logo {
		&:after {
			content: normal !important;
		}
	}
}

.badges-wrap {
	z-index: 1;
	position: absolute;
	#{$end-direction}: 0.25rem;
	top: 0.25rem;
}

/* Used in blog search autocomplete. */
.text-suggestions {
	flex: 1;
	display: flex;
	flex-direction: column;
	font-size: 0.75rem;

	li {
		padding-bottom: 8px;
		transition: all 0.2s ease-in-out;

		a {
			display: block;
			position: relative;
			transition: all 0.2s linear;

			&:before {
				visibility: hidden;
				opacity: 0;
				position: absolute;
				left: 10px;
				top: calc(50% - 3px);
				content: "";
				display: block;
				margin: 0;
				width: 6px;
				height: 6px;
				border-top: 1px solid currentColor;
				border-#{$end-direction}: 1px solid currentColor;
				transform: rotate(45deg);

				transition: all 0.2s linear;
			}

			&:hover {
				margin-#{$start-direction}: 10px;
				color: $brand-color;

				&:before {
					#{$start-direction}: -12px;
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}
}

.dropdown-addresses {
	.btn-dropdown {
		border-radius: $input-border-radius;
		width: 100%;
		gap: 10px;
		padding-#{$start-direction}: 1rem;
	}

	.dropdown-menu-option {
		cursor: pointer;
		font-weight: 400;
	}
}

.dropdown-menu-addresses {
	max-height: 250px;
	overflow-y: auto;

	.dropdown-menu-link {
		font-size: 0.85rem;
		font-weight: 400;
	}
}

.input-group {
	.errorlist {
		flex: 0 0 100%;
	}
}