.more-sellers {
    padding: 2rem 3rem;
  
    .item__pic-seller {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        flex: none; 
        max-width: inherit; 
        padding: 5px;
        display: none;
    }
    .item__title {
        margin-bottom: 0.5rem;
    }
    .actions {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @include media-breakpoint-down(md) {
            align-items: inherit;
        }
        .btn {
            margin: 5px 0;
            display: block;
            max-width: 140px;
            width: 100%;
        }
        .btn-link {
            color: $brand-color;
        }
    }
    .list-options {
        font-size: 0.8rem;
        font-weight: 300;
        display: flex;
        align-items: center;
        >li {
            text-align: center;
            margin-#{$end-direction}: 6px;
            // width: 20px;
            // height: 20px;
            display: flex;
            align-items: center;
            color: $txt-gray;
            &.label {
                color: currentColor;
                font-weight: 500;
                padding: 0;
                margin: 0;
                margin-#{$end-direction}:10px;
            }
            &.more {
                width: auto;
                height: auto;
            }
            .colors-dot {
                margin: 0 auto;
                width: 12px;
                height: 12px;
                display: block;
                border-radius: 50%;
                box-shadow: $shadow1;
            }
            .sizes-dot {
                font-weight: 600;
            }
            .ellipsis {
                display: block;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }
}

.responsive-table {  max-height: 400px;
    >li {
        font-size: 0.8rem;
        //border-radius: $radius4;
        padding: 1rem;
        display: flex;
        //align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        @include media-breakpoint-down(md) {
            display: block;
        }
    }
    .table-header {
        font-size: 0.8rem;
        color: $txt-body;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        background-color: $bg-gray;
        border-radius: $radius4;
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
    .table-row {
        background-color: $bg-white;
        color: $bg-white-inverse;
        //box-shadow: $shadow1;
        border-radius: $radius4;
        border: $border;
        //border: $border;
        color: $txt-gray;
        position: relative;
        overflow: hidden;
        &:last-child {
            //border-bottom: none;
        }
        &.is-active {
            border-#{$start-direction}-color: $brand-color;
            &:before {
                content: "";
                background-color: $brand-color;
                width: 3px;
                height: 100%;
                position: absolute;
                top: 0;
                #{$start-direction}: 0;
            }
        }
    }
    .cell {
        padding: 0 1rem;
        overflow: hidden;
        &:first-child {
            //padding-#{$start-direction}: 0;
        }
        &:last-child {
            //padding-#{$end-direction}: 0;
            // text-align: #{$end-direction};
        }
        @include media-breakpoint-down(md) {
            flex-basis: 100%;
            display: flex;
            padding: 10px 0;
            flex-direction: column;
            &:before {
                font-size: 1.2rem;
                font-weight: 500;
                margin-bottom: 1rem;
                color: $txt-body;
                content: attr(data-label);
                flex-basis: 50%;
            }
        }
        &-1 {
            flex-basis: 23%;
        }
        &-2 {
            flex-basis: 10%;
        }
        &-3 {
            flex-basis: 30%;
        }
        &-4 {
            flex-basis: 22%;
        }
        &-5 {
            flex-basis: 20%;
        }
    }
}