.no-data-found {
    margin: 2rem auto;
    text-align: center;
    display: flex;
    flex-direction: column;

    .img {
        max-width: 100%;
        margin: 1rem auto;

        img,
        .svg {
            width: 100%;
            max-width: 400px;
        }
    }

    .data {
        margin-top: 1rem;

        h2 {
            font-size: 1.8rem;
            margin: 0;
            font-weight: $font-weight-regular;
        }

        p {
            margin-bottom: 1rem;
            color: $txt-gray;
            font-size: 0.85rem;
        }
    }

    &.no-data-found--md {
        .img {
            max-width: 150px;
        }

        .data {
            h2 {
                font-size: 1.5rem;
            }
        }
    }

    &.no-data-found--sm {
        .img {
            max-width: 100px;
        }

        .data {
            h2 {
                font-size: 1.2rem;
            }
        }
    }
}

.block-empty {
    padding: 2rem 20px;
    margin: auto;

    .block__img {
        display: block;
        margin: 20px auto 30px !important;
        /* opacity: 0.4;*/
    }

    .error__img {
        width: 449px;
        display: block;
        margin: 20px auto 0;
    }

    &-sm {}

    h3 {
        font-size: 1.2rem;
    }

    h6 {
        font-size: 0.9rem;
        font-weight: $font-weight-regular;
        color: $txt-gray;
    }
}

.no-product {
    text-align: center;

    ul {
        justify-content: center;
    }
}

.not-found {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
        margin-bottom: 2rem;
    }

    h3 {
        margin-bottom: 1rem;
    }

    p {
        margin-bottom: 1rem;
    }
}