$offcanvas-space: 1rem 2rem;
$offcanvas-radius: 12px;

.offcanvas {
  &-backdrop {
    opacity: 1 !important;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
  }

  &-header {
    padding: $offcanvas-space;
  }

  &-body {
    padding: $offcanvas-space;
  }

  &-foot {
    padding: $offcanvas-space;
  }

  &-start {
    border: none;
    #{$end-direction}: auto;
    #{$start-direction}: 0;
    transform: translateX(-100% * $transform-direction);
  }

  &-end {
    border: none;
    #{$start-direction}: auto;
    #{$end-direction}: 0;
    transform: translateX(100% * $transform-direction);
  }

  &-gps-location {
    height: 50vh;
  }

  &-side-cart {
    width: 500px;

    .cart-summary {
      margin-bottom: 2rem;
    }
  }
}

.offcanvas-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}