//.product-listing
.product-listing {
    display: grid;
    grid-gap: $gap;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));

    &-item {
        min-width: 0;
    }

    @include media-breakpoint-up(xl) {
        &[data-view="2"] {
            grid-template-columns: repeat(2, 1fr);
        }

        &[data-view="3"] {
            grid-template-columns: repeat(3, 1fr);
        }

        &[data-view="4"] {
            grid-template-columns: repeat(4, 1fr);
        }

        &[data-view="5"] {
            grid-template-columns: repeat(5, 1fr);
        }

        &[data-view="6"] {
            grid-template-columns: repeat(6, 1fr);
        }

        &[data-view="7"] {
            grid-template-columns: repeat(7, 1fr);
        }

        &[data-view="8"] {
            grid-template-columns: repeat(8, 1fr);
        }

        &[data-view="9"] {
            grid-template-columns: repeat(9, 1fr);
        }
    }

    @include media-breakpoint-down(sm) {
        grid-gap: 5px;

        .products {
            border-radius: 0px;
        }
    }

    .products {
        height: 100%;
    }
}