.seller-lists {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
}

//.seller-card
.seller-card {
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;

    &-thumbnail {
        background-color: transparent;
        box-shadow: $shadow;
        border-radius: 50%;
        overflow: hidden;
        flex: 0 0 40px;
        max-width: 40px;
    }

    &-img {
        width: 100%;
        max-width: 100%;
    }

    &-data {
        font-weight: 0.85rem;
        font-weight: 600;
    }

    &-title {}

    &-head {
        padding: 2rem;
    }

    &-body {
        flex: 1;
        display: flex;
        flex-direction: column;

        .title {
            font-weight: $font-weight-bold;
            font-size: 1rem;
            color: $txt-body;
        }

        .location {
            font-size: 0.8rem;
            font-weight: $font-weight-regular;
            color: $txt-gray;
            margin-bottom: 1.5rem;
        }

        .price {
            font-weight: $font-weight-bold;
            color: $brand-color;
        }

        .payment-mode {
            font-size: 0.8rem;
            color: $txt-gray;
        }
    }

    &-foot {
        padding: 1.5rem;
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    .seller-logo {
        background-color: #fff;
        border-radius: 50%;
        overflow: hidden;
        width: 150px;
        height: 150px;
        margin: 0 auto;
        position: relative;
        border: solid 1px #dee2e6;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }



    .seller_detail {
        flex: 1;
    }

    .seller_title {
        font-weight: $font-weight-normal;
        margin: 0.5rem;
        font-size: 0.95rem;
    }
}

.product-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &-img {
        border: $border;
        aspect-ratio: 1/1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-data {
        .title {
            font-weight: $font-weight-bold;
            font-size: clamp(1rem, 1.5vw, 3rem);
        }
    }
}