$space: 1rem;

.request-quote {
	background-color: $bg-white;
	font-size: 1rem;

	//font-family: $font-Noto;
	&-head {
		padding: 1rem $space;
		border-bottom: $border;

		@include media-breakpoint-down(md) {
			padding: 1rem;
		}
	}

	&-body {
		padding: 1rem $space;

		@include media-breakpoint-down(md) {
			padding: 1rem;
		}
	}

	&-foot {
		padding: 1rem $space;
		box-shadow: 0px 8px 32px 0px rgba(17, 17, 26, 0.05),
			0px 4px 16px 0px rgba(17, 17, 26, 0.1);

		@include media-breakpoint-down(md) {
			padding: 1rem;
		}
	}

	&-title {
		font-weight: 500;
		margin-bottom: 1.5rem;
	}
}



.quote {
	&-to {
		display: flex;
		align-items: center;
		flex-flow: row nowrap;
		margin-bottom: 2rem;gap: 1rem;

		@include media-breakpoint-down(xl) {
			flex-wrap: wrap;
		}

		

		.label {
			font-size: 1rem;
			color: $text-secondary;
		}

		.avatar {
			display: flex;
			align-items: center;
			gap: 1rem;

			&-media {
				--size: 2rem;
				width: var(--size);
				height: var(--size);
				flex: 0 0 var(--size);
				max-width: var(--size);
				border-radius: 50%;
				background-color: #d4afbd;
				overflow: hidden;
				display: flex;
				border: 1px solid #ddd;

				img {
					margin: auto;
				}
			}

			&-detail {
				.title {
					font-weight: 700;
				}
			}
		}

	}


	&-shop {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem 1rem;

		@include media-breakpoint-up(xl) {
			padding-#{$start-direction}: 1.25rem;
			margin-#{$start-direction}: 0.25rem;
			border-#{$start-direction}: 2px solid #b3b3b3;
		}

		@include media-breakpoint-down(xl) {
			flex: 0 0 100%;
		}

		.shop-name {
			font-size: 1rem;
			font-weight: 600;
			//text-transform: uppercase;
		}

		.reviews {
			display: flex;
			gap: 0.5rem;

			&-count {
				color: $brand-color;
				font-size: 14px;
				font-weight: 500;
				line-height: 1.7;
			}
		}

		.rating {
			display: flex;
			align-items: center;
			gap: 0.5rem;

			&-count {
				color: $brand-color;
				font-size: 14px;
				font-weight: 500;
			}
		}
	}



	&-for {
		padding-top: 1.5rem;
		display: flex;
		flex-flow: row wrap;
		gap: 2rem;
		justify-content: space-between;

		@include media-breakpoint-down(md) {
			display: block;
		}

		&-qty {
			@include media-breakpoint-down(md) {
				padding-top: 1.25rem;
			}

			.label {
				font-size: 0.875rem;
				white-space: nowrap;
			}

			.qty-wrap {
				display: flex;
				//align-items: center;
				gap: 0.5rem;

				input,
				select {
					width: auto;
					//height: 2rem;
					line-height: 1.2;
					border-radius: 0.5rem;
					padding: 0 0.75rem;
				}

				.form-control {
					max-width: 80px;
				}

				.form-select {
					max-width: inherit;
					line-height: 1.5;
					padding-#{$end-direction}: 2.125rem;
				}

				.label {
					margin: 0;
				}

				.errorlist {
					order: 5;
					padding: 0;

					li {
						font-size: 0.875rem;
					}
				}
			}
		}
	}
}

.rating-stars {
	display: flex;
	align-items: center;
}

.form-inputfile {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	#{$end-direction}: 1rem;
	bottom: 0.75rem;

	input[type="file"] {
		opacity: 0;
		height: auto;
		line-height: normal;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		cursor: pointer;
	}

	.attachfile {
		font-size: 0.875rem;
		display: inline-flex;
		align-items: center;
		color: $brand-color;
		font-weight: 600;
		gap: 0.25rem;
	}
}

.btn.btn-attachment {
	position: relative;
	gap: 5px;
	padding: 0;
	border-radius: 0;
	height: auto;
	line-height: 1.5;
	cursor: pointer;
	color: $brand-color;

	.attachment-file {
		cursor: pointer;
		opacity: 0;
		position: absolute;
		z-index: 1;
		width: 100%;
	}

	&:hover {
		box-shadow: none;
	}
}

//.sticky-date
.sticky-date {
	@include bg-blur-white;
	padding: 1.5rem;
	border-top: $border;
	box-shadow: $shadow3;
	position: sticky;
	bottom: 0;
	z-index: 1;
}