$space: 1rem;

.request-quote {
  background-color: $bg-white;
  font-size: 1rem;

  //font-family: $font-Noto;
  &-head {
    padding: 1rem $space;
    border-bottom: $border;
    @include media-breakpoint-down(md) {
      padding: 1rem;
    }
  }
  &-body {
    padding: 1rem $space;
    @include media-breakpoint-down(md) {
      padding: 1rem;
    }
  }
  &-foot {
    padding: 1rem $space;
    box-shadow: 0px 8px 32px 0px rgba(17, 17, 26, 0.05),
      0px 4px 16px 0px rgba(17, 17, 26, 0.1);
    @include media-breakpoint-down(md) {
      padding: 1rem;
    }
  }
  &-title {
    font-weight: 700;
    margin-bottom: 1.5rem;
  }
}

.rating-stars {
  display: flex;
  align-items: center;
}

.form-inputfile {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  #{$end-direction}: 1rem;
  bottom: 0.75rem;

  input[type="file"] {
    opacity: 0;
    height: auto;
    line-height: normal;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
  }

  .attachfile {
    font-size: 0.875rem;
    display: inline-flex;
    align-items: center;
    color: $brand-color;
    font-weight: 600;
    gap: 0.25rem;
  }
}

.btn.btn-attachment {
  position: relative;
  gap: 5px;
  padding: 0;
  border-radius: 0;
  height: auto;
  line-height: 1.5;
  cursor: pointer;
  color: $brand-color;

  .attachment-file {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    z-index: 1;
    width: 100%;
  }

  &:hover {
    box-shadow: none;
  }
}

//.sticky-date
.sticky-date {
  @include bg-blur-white;
  padding: 1.5rem;
  border-top: $border;
  box-shadow: $shadow3;
  position: sticky;
  bottom: 0;
  z-index: 1;
}