.social-profiles {
    margin-top: 1rem;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
        margin: 0 5px;
    }
}

.share-wrap {
    text-align: center;
}

.social-sharing {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    li {
        font-size: 0.8rem;
        display: block;
        position: relative;
        transition: all .3s ease;
        flex: 0 0 40%;
        max-width: 40%;
        border-radius: 40px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
        margin: 1rem;
        a {
            display: block;
            padding: 0.5rem;
            .icn {
                height: inherit;
                width: inherit;
                display: flex;
                align-items: center;
                justify-content: center;
                svg {
                    fill: #fff;
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
        }
        &.social-facebook {
            background: #3b5998;
        }
        &.social-twitter {
            background: #6cdfea;
        }
        &.social-pintrest {
            background: #c8232c;
        }
        &.social-email {
            background: #9b9a9a;
        }
    }
}