.social-profiles {
    margin-top: 1rem;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;

    li {
        margin: 0 5px;
    }
}

.share-wrap {
    padding: 2.5rem;
    text-align: center;
}

.social-sharing {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: grid;
    grid-gap: 1rem;
    padding: 1.5rem;
    grid-template-columns: 1fr 1fr;

    li {
        font-size: 0.8rem;
        display: block;
        position: relative;
        transition: all 0.3s ease;
        margin: 0;
        border-radius: 40px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

        a {
            color: #fff;
            cursor: pointer;
            display: block;
            padding: 1rem 0.5rem;

            .svg {
                width: 1.5rem;
                height: 1.5rem;
            }
        }

        &.social-facebook {
            background: #3b5998;
        }

        &.social-twitter {
            background: #1da1f2;
        }

        &.social-pintrest {
            background: #c8232c;
        }

        &.social-email {
            background: #9b9a9a;
        }
    }
}