.login-1 {
    text-align: center;
    .logo {
        margin: 1rem auto;
        img {
            max-width: 120px;
        }
    }
    .card {
        &-body {
            .title {
                margin: 1.5rem 0;
                h2 {
                    font-size: 1.5rem;
                    color: $txt-body;
                }
            }
        }
    }
    .other-links {
        color: $brand-color;
        display: flex;
        align-items: center;
        justify-content: center;
        li {
            display: inline-block;
        }
        a {
            color: currentColor;
        }
    }
    .version {
        font-size: 0.8rem;
        margin-top: 2rem;
    }
}

.form-login {
    input {
        &[type="text"],
        &[type="password"] {
            height: auto;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }
    [type="button"] {
        height: auto;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}