.login-page {
    height: 100%;
    display: flex;
    align-items: center;
    @include media-breakpoint-down(md) {
        align-items: inherit;
    }
}

.login-1 {
    .login-block {
        max-width: 450px;
        min-width: 300px;
        margin: 0 auto;
    }
    .logo {
        margin: 0 auto;
        padding-top: 1.5rem;
        img {
            max-width: 120px;
        }
    }
    .card {
        &-head {
            padding-bottom: 0;
        }
        &-body {
            padding: 2rem;
            .title {
                margin: 1.5rem 0;
                h2 {
                    font-size: 1.5rem;
                    color: $txt-body;
                }
            }
        }
    }
    .other-links {
        color: $brand-color;
        display: flex;
        align-items: center;
        justify-content: center;
        li {
            display: inline-block;
        }
        a {
            color: currentColor;
        }
    }
    .version {
        text-align: center;
        font-size: 0.8rem;
        margin-top: 2rem;
    }
}

.form-login {
    input {
        &[type="text"],
        &[type="password"] {
            height: auto;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }
    [type="button"] {
        height: auto;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}