//default colors
$dark-color: #888;
$blue: var(--brand-color);
$primary: #ff3a59;
//dynamic theme colors
$brand-color: var(--brand-color);
$brand-color-inverse: var(--brand-color-inverse);
$bg-brand-light: rgba(var(--brand-color-alpha), 0.1);

$primary-color: var(--primary-color);
$primary-color-inverse: var(--primary-color-inverse);

$secondary-color: #6dcdef;
$secondary-color-inverse: #ffffff;

$third-color: var(--third-color);
$third-color-inverse: var(--third-color-inverse);

//fixed theme colors
$txt-brand: $brand-color;
$txt-secondary: $secondary-color;
$txt-black: rgba(0, 0, 0, 1);
$txt-body: rgba(0, 0, 0, 0.97);
$txt-gray: rgba(0, 0, 0, 0.77);
$text-muted: #888888 !default;
$txt-white: #fff;

//Font weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-normal: 500;
$font-weight-bold: 600;
$font-weight-boldest: 800;

//border colors
$border-color: #dee2e6;
$border: solid 1px $border-color;
$border-light: solid 1px lighten($border-color, 5);
$border-transparent: solid 1px transparent;
$focus-outline: 1px solid #888;
$border-black: solid 1px #000;
//backgrounds colors
$bg-body: #f2f7ff;
$bg-white: #fff;
$bg-white-inverse: $txt-body;
$bg-brand-light: rgba(var(--brand-color-alpha), 0.1);
$bg-secondary-light: rgba(var(--secondary-color-alpha), 0.1);
$bg-light: #f3f4f5;
$bg-gray: #f2f7ff;
$gray-light: #f3f4f5;
$bg-placeholder: rgba(0, 0, 0, 0.03);

//shadow
$shadow-rgb: var(--shadow-rgb);
$shadow-theme: 0 0 1px rgba(40, 51, 65, 0.1), 0 1px 2px rgba(40, 51, 65, 0.1),
  0 1px 3px rgba(40, 51, 65, 0.1);
$shadow0: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$shadow1: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$shadow2: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
$shadow3: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$shadow4: rgba(0, 0, 0, 0.16) 0px 1px 4px;
$shadow5: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$shadow6: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$shadow7: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$shadow8: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
$shadow9: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
  rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
$shadow10: rgba(0, 0, 0, 0.1) 0px 4px 12px;
$shadow11: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
  rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
  rgba(0, 0, 0, 0.09) 0px -3px 5px;

//Radius
$common-radius: 4px;
$radius4: 4px;
$radius3: 3px;
$radius2: 2px;
$radius1: 1px;
$radius: 4px;
$kart: 6px;

//Space
$space: 24px !default;
$gap: 1.5rem !default;
$gap-sm: 1rem !default;

//Messages
$success-color: #1dc9b7;
$warning-color: #ffb822;
$info-color: #5578eb;
$danger-color: #fd397a;

//Aspect ratio
$product-ratio: 1/1 !default;
$category-ratio: 1/1 !default;
$seller-ratio: 1/1 !default;
$category-mobile-ratio: 16/9 !default;
$category-tablet-ratio: 16/9 !default;
$shop-ratio: 1/1 !default;
$shop-banner-ratio: 4/1 !default;
$shop-banner-mobile-ratio: 4/3 !default;
$hero-ratio: 10/3.33 !default;
$video-ratio: 16/9 !default;
$avatar-ratio: 1/1 !default;

//Bg brand
@mixin bg-brand {
  background-color: $brand-color;
  color: $brand-color-inverse;
}

@mixin bg-brand-light {
  background-color: $bg-brand-light;
  color: #000;
}

@mixin bg-secondary {
  background-color: $secondary-color;
  color: $secondary-color-inverse;
}
@mixin bg-third {
  background-color: $third-color;
  color: $third-color-inverse;
}
@mixin bg-white {
  background-color: #fff;
  color: #000;
}
@mixin bg-black {
  background-color: #000;
  color: #fff;
}

@mixin bg-gray {
  background-color: $bg-gray;
  color: $txt-body;
}

@mixin bg-gray-dark {
  background-color: $bg-gray;
  color: $txt-body;
}

//Push auto
@mixin push--auto {
  margin: {
    left: auto;
    right: auto;
  }
}

//Pseudo
@mixin pseudo($display: block, $pos: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $pos;
}
//Responsive ratio
@mixin responsive-ratio($x, $y, $pseudo: false) {
  $padding: unquote(($y / $x) * 100 + "%");
  @if $pseudo {
    &:before {
      @include pseudo($pos: relative);
      width: 100%;
      padding-top: $padding;
    }
  } @else {
    padding-top: $padding;
  }
}

// Img absolute
@mixin img-absolute {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

//Truncate
@mixin truncate($truncation-boundary) {
  max-width: $truncation-boundary;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin placeholder {
  animation: placeholderShimmer 2s linear;
  animation-iteration-count: infinite;
  background-color: #fff;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(0, 0, 0, 0.08)),
    color-stop(15%, rgba(0, 0, 0, 0.15)),
    color-stop(30%, rgba(0, 0, 0, 0.08))
  );
  background-image: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 0.08) 0,
    rgba(0, 0, 0, 0.15) 15%,
    rgba(0, 0, 0, 0.08) 30%
  );
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.08) 0,
    rgba(0, 0, 0, 0.15) 15%,
    rgba(0, 0, 0, 0.08) 30%
  );
  background-size: 1200px 100%;
}

@-webkit-keyframes placeholderShimmer {
  0% {
    background-position: -1200px 0;
  }
  100% {
    background-position: 1200px 0;
  }
}

@keyframes placeholderShimmer {
  0% {
    background-position: -1200px 0;
  }
  100% {
    background-position: 1200px 0;
  }
}

@mixin underline {
  text-rendering: optimizeLegibility;
  transition: color 0.3s ease-in-out;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  transition: background-size 0.2s;
  text-decoration: none;
  background-size: 0% 1px;
  border: none;
  &:is(:hover, :focus, :active) {
    color: currentColor;
    text-decoration: none !important;
    background-size: 100% 1px;
  }
}
@mixin btn-hover {
  background-color: transparent;
  position: relative;
  overflow: hidden;
  color: #000;
  // border-radius: 50px;
  &::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 0.2s cubic-bezier(0.2, 0.91, 0.85, 0.96) 0s;
    transition: all 0.2s ease;
    transform: scale(0.75);
    backface-visibility: hidden;
  }
  &:is(:hover, :focus, :active, .active) {
    color: currentColor;
    &::after {
      opacity: 1;
      transform: scale(1);
    }
  }
}
@mixin button {
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
}
@mixin avatar {
  @include bg-brand;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  width: 40px;
  height: 40px;
}
