.header {
    position: sticky;
    z-index: 10;
    top: 0;
    width: 100%;
    font-weight: 300;
    font-size: 0.8rem;
    background: $bg-white;
    .top-bar {
        border-bottom: $border;
        transition: all 300ms linear 0s;
        &__inner {
            display: grid;
            align-items: center;
            grid-template-columns: minmax(auto, 30%) 1fr;
            @include media-breakpoint-down(sm) {
                //grid-template-columns: auto;
            }
        }
        &__left {
            display: flex;
            align-items: center;
        }

        .slogan {
            line-height: 1;
            color: inherit;
            padding: 8px 0;
        }
        .logout {
            font-weight: 600;
            border-top: $border;
        }
    }

    .logo {
        width: 120px;
        margin: 10px 0;
        margin-#{$end-direction}: 1.5rem;
        display: flex;
        justify-content: center;
        @include media-breakpoint-down(lg) {
            max-width: 100px;
        }
        img {
            &[data-ratio="16:9"] {
                max-width: 120px;
            }
            &[data-ratio="1:1"] {
                max-width: 60px;
            }
        }
    }
    .last-bar {
        border-top: $border;
        @include media-breakpoint-down(lg) {
            & {
                border: none;
            }
        }
    }
    &-location {
        display: flex;
        align-items: center;
        input {
            border: none;
            background-color: transparent;
            border-radius: 0;
            color: #fff;
            font-size: 0.875rem;
            background-image: url("../images/icon__map.svg");
            background-repeat: no-repeat;
            background-position: left center;
            padding-#{$start-direction}: 30px;
            &::-webkit-input-placeholder {
                /* Chrome/Opera/Safari */
                color: #fff;
            }
            &::-moz-placeholder {
                /* Firefox 19+ */
                color: #fff;
            }
            &:-ms-input-placeholder {
                /* IE 10+ */
                color: #fff;
            }
            &:-moz-placeholder {
                /* Firefox 18- */
                color: #fff;
            }
            &:focus {
                background-color: transparent;
                color: #fff;
            }
        }
        &__icon {
            margin-#{$start-direction}: 1rem;
            width: 40px;
            cursor: pointer;
        }
    }
}

.quick-nav {
    display: flex;
    align-items: center;
    justify-content: end;
    &-item {
        display: block;
        padding: 0;
        position: relative;
        margin-#{$start-direction}: 10px;
    }
    &-link {
        background: none;
        border: none;
    }
    .icn {
        .svg {
            margin-#{$end-direction}: 5px;
        }
    }
}

.select-lang-currency {
    min-width: 330px;
    font-size: 0.85rem;
    padding: 2rem;
    color: $txt-gray;
    h6 {
        display: block;
        padding: 0;
        margin-bottom: 10px;
        font-size: 0.8rem;
        white-space: nowrap;
        color: currentColor;
        text-transform: uppercase;
    }
    > ul {
        display: flex;
        flex-wrap: wrap;
        > li {
            border: none;
            margin-bottom: 10px;
            margin-#{$end-direction}: 10px;
            a {
                color: currentColor;
                border: $border;
                border-radius: 3px;
                display: flex;
                align-items: center;
                padding: 0.4rem 0.8rem;
            }
            &.is-active {
                a {
                    border-color: $brand-color;
                    color: $brand-color;
                }
            }
            &:last-child {
                margin: 0;
            }
        }
    }
    .space {
        display: table;
        margin: 1rem 0;
    }
}

.dropdown.is-active .dropdown__target {
    pointer-events: auto;
}
