
:root {
    --space-unit: 1rem;
}
 

@media (min-width: 64rem) {
    :root {
        --mega-nav-height: 70px;
    }
}
.mega-nav {
    height: var(--mega-nav-height);
    width: 100%;
    z-index: var(--z-index-header, 3);
    box-shadow: inset 0px -1px 0px hsla(var(--color-contrast-higher-h), var(--color-contrast-higher-s), var(--color-contrast-higher-l), 0.1);
}
.mega-nav--expanded {
    background-color: #ffffff;
}
.mega-nav__container {
    width: calc(100% - 2 * var(--component-padding));
    height: 100%;
    max-width: var(--mega-nav-content-max-width);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mega-nav__logo {
    display: block;
    width: 104px;
    height: 30px;
}
.mega-nav__logo > * {
    width: inherit;
    height: inherit;
}
.mega-nav__icon-btns {
    display: flex;
    align-items: center;
}
.mega-nav__icon-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 24px;
    color: var(--color-contrast-high);
    cursor: pointer;
    transition: 0.2s;
}
.mega-nav__icon-btn .icon {
    display: block;
}
.mega-nav__icon-btn .icon__group {
    stroke-width: 1px;
}
.mega-nav__icon-btn .icon__group > * {
    transition: stroke-dashoffset 0.3s, opacity 0.3s, -webkit-transform 0.3s var(--ease-in-out);
    transition: transform 0.3s var(--ease-in-out), stroke-dashoffset 0.3s, opacity 0.3s;
    transition: transform 0.3s var(--ease-in-out), stroke-dashoffset 0.3s, opacity 0.3s, -webkit-transform 0.3s var(--ease-in-out);
}
.mega-nav__icon-btn--menu .icon__group > * {
    stroke-dasharray: 24;
}
.mega-nav__icon-btn--menu .icon__group > *:nth-child(1) {
    -webkit-transform-origin: 12px 6px;
    transform-origin: 12px 6px;
}
.mega-nav__icon-btn--menu .icon__group > *:nth-child(2) {
    stroke-dashoffset: 0;
}
.mega-nav__icon-btn--menu .icon__group > *:nth-child(3) {
    -webkit-transform-origin: 12px 18px;
    transform-origin: 12px 18px;
}
.mega-nav__icon-btn--menu.mega-nav__icon-btn--state-b .icon__group > *:nth-child(1) {
    -webkit-transform: translateY(6px) rotate(-45deg);
    transform: translateY(6px) rotate(-45deg);
}
.mega-nav__icon-btn--menu.mega-nav__icon-btn--state-b .icon__group > *:nth-child(2) {
    stroke-dashoffset: 24;
}
.mega-nav__icon-btn--menu.mega-nav__icon-btn--state-b .icon__group > *:nth-child(3) {
    -webkit-transform: translateY(-6px) rotate(45deg);
    transform: translateY(-6px) rotate(45deg);
}
.mega-nav__icon-btn--search .icon__group {
    -webkit-transform-origin: 12px 12px;
    transform-origin: 12px 12px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: -webkit-transform 0.3s var(--ease-out);
    transition: transform 0.3s var(--ease-out);
    transition: transform 0.3s var(--ease-out), -webkit-transform 0.3s var(--ease-out);
}
.mega-nav__icon-btn--search .icon__group > *:nth-child(1) {
    stroke-dashoffset: 34;
    stroke-dasharray: 24;
}
.mega-nav__icon-btn--search .icon__group > *:nth-child(2) {
    stroke-dashoffset: 24;
    stroke-dasharray: 24;
}
.mega-nav__icon-btn--search .icon__group > *:nth-child(3) {
    -webkit-transform-origin: 9.5px 9.5px;
    transform-origin: 9.5px 9.5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    stroke-dashoffset: 84;
    stroke-dasharray: 42;
    opacity: 1;
}
.mega-nav__icon-btn--search.mega-nav__icon-btn--state-b .icon__group {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.mega-nav__icon-btn--search.mega-nav__icon-btn--state-b .icon__group > *:nth-child(1) {
    stroke-dashoffset: 48;
}
.mega-nav__icon-btn--search.mega-nav__icon-btn--state-b .icon__group > *:nth-child(2) {
    stroke-dashoffset: 48;
}
.mega-nav__icon-btn--search.mega-nav__icon-btn--state-b .icon__group > *:nth-child(3) {
    stroke-dashoffset: 42;
    opacity: 0;
}
.mega-nav__arrow-icon { width: 1rem; height: 1rem;
    font-size: 16px;
    color: currentColor;
    transition: color 0.2s; 
}
.mega-nav__arrow-icon .icon {
    display: block;
}
.mega-nav__arrow-icon .icon__group {
    stroke-width: 1px;
    will-change: transform;
    -webkit-transform-origin: 8px 8px;
    transform-origin: 8px 8px;
    transition: -webkit-transform 0.3s var(--ease-out);
    transition: transform 0.3s var(--ease-out);
    transition: transform 0.3s var(--ease-out), -webkit-transform 0.3s var(--ease-out);
}
.mega-nav__arrow-icon .icon__group > * {
    stroke-dasharray: 17;
    -webkit-transform-origin: 8px 8px;
    transform-origin: 8px 8px;
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    transition: stroke-dashoffset 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, stroke-dashoffset 0.3s;
    transition: transform 0.3s, stroke-dashoffset 0.3s, -webkit-transform 0.3s;
    transition-timing-function: var(--ease-out);
}
.mega-nav__arrow-icon .icon__group > *:first-child {
    stroke-dashoffset: 8.5;
}
.mega-nav__arrow-icon .icon__group > *:last-child {
    stroke-dashoffset: 8.5;
}
.mega-nav__label {
    color: var(--color-contrast-medium);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: var(--text-xs);
}
.mega-nav__card img {
    transition: opacity 0.3s;
}
.mega-nav__card img:hover {
    opacity: 0.85;
}
.mega-nav__card-title {
    color: var(--color-contrast-higher);
    text-decoration: none;
}
.mega-nav__card-title:hover {
    text-decoration: underline;
}
.mega-nav--mobile {
}
.mega-nav--mobile .mega-nav__icon-btns--desktop {
    display: none;
}
.mega-nav--mobile .mega-nav__nav,
.mega-nav--mobile .mega-nav__search {
    display: none;
    position: absolute;
    top: var(--mega-nav-height);
    left: 0;
    width: 100%;
    height: calc(100vh - var(--mega-nav-height) - var(--mega-nav-offset-y, 0px));
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background-color: #ffffff;
    box-shadow: $shadow1;
}
.mega-nav--mobile .mega-nav__nav--is-visible,
.mega-nav--mobile .mega-nav__search--is-visible {
    display: block;
}
.mega-nav--mobile .mega-nav__nav--is-visible > *,
.mega-nav--mobile .mega-nav__search--is-visible > * {
    -webkit-animation: mega-nav-entry-animation 0.5s var(--ease-out);
    animation: mega-nav-entry-animation 0.5s var(--ease-out);
}
.mega-nav--mobile .mega-nav__nav-inner,
.mega-nav--mobile .mega-nav__search-inner {
    padding: var(--space-md) 0;
    width: calc(100% - 2 * var(--component-padding));
    max-width: var(--mega-nav-content-max-width);
    margin-left: auto;
    margin-right: auto;
}
.mega-nav--mobile .mega-nav__label {
    margin: var(--space-lg) 0 var(--space-xs);
}
.mega-nav--mobile .mega-nav__item {
    border-bottom: 1px solid var(--color-contrast-lower);
}
.mega-nav--mobile .mega-nav__control {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: var(--text-md);
    text-align: left;
    padding: var(--space-sm) 0;
    color: var(--color-contrast-higher);
    text-decoration: none;
    cursor: pointer;
}
.mega-nav--mobile a[aria-current="page"] {
    color: var(--color-primary);
}
.mega-nav--mobile .mega-nav__arrow-icon {
    margin-left: auto;
    margin-right: 12px;
}
.mega-nav--mobile .mega-nav__btn {
    width: 100%;
    margin: var(--space-sm) 0;
    font-size: var(--text-md);
}
.mega-nav--mobile .mega-nav__sub-nav-wrapper {
    display: none;
    padding: 0 var(--space-md) var(--space-lg);
    overflow: hidden;
}
.mega-nav--mobile .mega-nav__sub-items {
}
.mega-nav--mobile .mega-nav__sub-items:not(:last-child) {
    margin-bottom: var(--space-lg);
}
.mega-nav--mobile .mega-nav__sub-item {
    border-bottom: 1px solid var(--color-contrast-lower);
}
.mega-nav--mobile .mega-nav__sub-link {
    display: block;
    color: var(--color-contrast-higher);
    text-decoration: none;
    padding: 9px 0;
}
.mega-nav--mobile .mega-nav__quick-link {
    display: block;
    color: var(--color-contrast-higher);
    text-decoration: none;
    border-bottom: 1px solid var(--color-contrast-lower);
    padding: var(--space-xs) 0;
}
.mega-nav--mobile .mega-nav__sub-nav--layout-1 {
}
.mega-nav--mobile .mega-nav__sub-nav--layout-1 .mega-nav__sub-items {
    margin-bottom: 0;
}
.mega-nav--mobile .mega-nav__sub-nav--layout-1 .mega-nav__tabs {
    display: none;
}
.mega-nav--mobile .mega-nav__sub-nav--layout-3 {
    padding-top: var(--space-md);
    display: grid;
    gap: var(--space-md);
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}
.mega-nav--mobile .mega-nav__item--expanded .mega-nav__arrow-icon .icon__group {
}
.mega-nav--mobile .mega-nav__item--expanded .mega-nav__arrow-icon .icon__group > *:first-child {
    -webkit-transform: translateY(-3px) rotate(-90deg);
    transform: translateY(-3px) rotate(-90deg);
}
.mega-nav--mobile .mega-nav__item--expanded .mega-nav__arrow-icon .icon__group > *:last-child {
    -webkit-transform: translateY(-3px) rotate(90deg);
    transform: translateY(-3px) rotate(90deg);
}
.mega-nav--mobile .mega-nav__item--expanded .mega-nav__sub-nav-wrapper {
    display: block;
}
.mega-nav--mobile .mega-nav__item--expanded .mega-nav__sub-nav-wrapper > * {
    -webkit-animation: mega-nav-entry-animation 0.5s var(--ease-out);
    animation: mega-nav-entry-animation 0.5s var(--ease-out);
}
.mega-nav--desktop {
}
.mega-nav--desktop .mega-nav__icon-btns--mobile,
.mega-nav--desktop .mega-nav__sub-nav-wrapper,
.mega-nav--desktop .mega-nav__search,
.mega-nav--desktop .mega-nav__label {
    display: none;
}
.mega-nav--desktop .mega-nav__logo {
    flex-shrink: 0;
    margin-right: var(--space-sm);
}
.mega-nav--desktop .mega-nav__nav {
    flex-grow: 1;
    height: 100%;
}
.mega-nav--desktop .mega-nav__nav-inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.mega-nav--desktop .mega-nav__items {
    display: flex;
    height: 100%;
}
.mega-nav--desktop .mega-nav__item {
    display: flex;
    align-items: center;
}
.mega-nav--desktop .mega-nav__control {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0  2rem;
    height: 100%;
    font-size: var(--text-sm); 
    color: var(--color-contrast-higher);
    text-decoration: none;
    transition: 0.2s;
    background: transparent;
    border: 0;
}
.mega-nav--desktop .mega-nav__control::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color-contrast-higher);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
}
.mega-nav--desktop .mega-nav__control .mega-nav__arrow-icon {
    margin-left: 9px;
}
.mega-nav--desktop .mega-nav__control:hover {
    cursor: pointer;
    background-color: hsla(var(--color-contrast-higher-h), var(--color-contrast-higher-s), var(--color-contrast-higher-l), 0.05);
}
.mega-nav--desktop .mega-nav__sub-nav-wrapper,
.mega-nav--desktop .mega-nav__search {
    position: absolute;
    top: var(--mega-nav-height);
    left: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: $shadow1;
    max-height: calc(100vh - var(--mega-nav-height) - var(--mega-nav-offset-y, 0px));
    overflow: auto;
}
.mega-nav--desktop .mega-nav__sub-nav,
.mega-nav--desktop .mega-nav__search-inner {
    width: calc(100% - 2 * var(--component-padding));
    margin: 0 auto;
    padding: var(--space-xl) 0;
}
.mega-nav--desktop .mega-nav__sub-nav .mega-nav__label,
.mega-nav--desktop .mega-nav__search-inner .mega-nav__label {
    display: block;
}
.mega-nav--desktop .mega-nav__sub-nav {
    max-width: var(--mega-nav-content-max-width);
}
.mega-nav--desktop .mega-nav__search-inner {
    max-width: var(--max-width-xs);
}
.mega-nav--desktop .mega-nav__label {
    margin-bottom: var(--space-md);
}
.mega-nav--desktop .mega-nav__sub-item:not(:last-child) {
    margin-bottom: 9px;
}
.mega-nav--desktop .mega-nav__sub-link {
    font-size: var(--text-sm);
    color: var(--color-contrast-higher);
    text-decoration: none;
}
.mega-nav--desktop .mega-nav__sub-link:hover {
    text-decoration: underline;
}
.mega-nav--desktop .mega-nav__quick-link {
    display: inline-block;
    margin-bottom: 9px;
    font-size: var(--text-sm);
    color: var(--color-contrast-higher);
    text-decoration: none;
}
.mega-nav--desktop .mega-nav__quick-link:hover {
    text-decoration: underline;
}
.mega-nav--desktop .mega-nav__btn {
    font-size: var(--text-sm);
    margin-left: var(--space-sm);
}
.mega-nav--desktop .mega-nav__sub-nav--layout-1 {
}
.mega-nav--desktop .mega-nav__sub-nav--layout-1 .mega-nav__sub-items {
    display: none;
}
.mega-nav--desktop .mega-nav__sub-nav--layout-1 .mega-nav__tabs {
    display: flex;
}
.mega-nav--desktop .mega-nav__sub-nav--layout-2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: var(--space-sm);
}
.mega-nav--desktop .mega-nav__sub-nav--layout-3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--space-md);
}
.mega-nav--desktop .mega-nav__sub-nav--layout-4 {
    text-align: center;
}
.mega-nav--desktop .mega-nav__sub-nav--layout-4 .mega-nav__sub-link {
    font-size: var(--text-lg);
}
.mega-nav--desktop .mega-nav__tabs-controls > *:not(:last-child) {
    border-bottom: 1px solid var(--color-contrast-lower);
}
.mega-nav--desktop .mega-nav__tabs-control {
    display: block;
    width: 100%;
    padding: var(--space-xs);
    overflow: hidden;
    color: var(--color-contrast-higher);
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s;
}
.mega-nav--desktop .mega-nav__tabs-control .icon {
    opacity: 0;
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
    transition: opacity 0.5s, -webkit-transform 0.5s var(--ease-out);
    transition: transform 0.5s var(--ease-out), opacity 0.5s;
    transition: transform 0.5s var(--ease-out), opacity 0.5s, -webkit-transform 0.5s var(--ease-out);
}
.mega-nav--desktop .mega-nav__tabs-control:hover,
.mega-nav--desktop .mega-nav__tabs-control[aria-selected="true"] {
    color: var(--color-primary);
}
.mega-nav--desktop .mega-nav__tabs-control[aria-selected="true"] .icon {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}
.mega-nav--desktop .mega-nav__tabs-img {
    display: block;
    overflow: hidden;
    border-radius: var(--radius-lg);
    transition: opacity 0.3s;
}
.mega-nav--desktop .mega-nav__tabs-img:hover {
    opacity: 0.85;
}
.mega-nav--desktop .mega-nav__item--expanded .mega-nav__control {
    background-color: hsla(var(--color-contrast-higher-h), var(--color-contrast-higher-s), var(--color-contrast-higher-l), 0.05);
}
.mega-nav--desktop .mega-nav__item--expanded .mega-nav__control::after {
    opacity: 1;
}
.mega-nav--desktop .mega-nav__item--expanded .mega-nav__sub-nav-wrapper {
    display: block;
}
.mega-nav--desktop .mega-nav__item--expanded .mega-nav__sub-nav {
    -webkit-animation: mega-nav-entry-animation 0.5s var(--ease-out);
    animation: mega-nav-entry-animation 0.5s var(--ease-out);
}
.mega-nav--desktop:not([data-hover="on"]) .mega-nav__item--expanded .mega-nav__arrow-icon .icon__group {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.mega-nav--desktop:not([data-hover="on"]) .mega-nav__item--expanded .mega-nav__arrow-icon .icon__group > *:first-child,
.mega-nav--desktop:not([data-hover="on"]) .mega-nav__item--expanded .mega-nav__arrow-icon .icon__group *:last-child {
    stroke-dashoffset: 0;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}
.mega-nav--desktop .mega-nav__icon-btn {
    border-radius: 50%;
    margin-left: var(--space-xxxxs);
}
.mega-nav--desktop .mega-nav__icon-btn:hover,
.mega-nav--desktop .mega-nav__icon-btn--state-b {
    background-color: hsla(var(--color-contrast-higher-h), var(--color-contrast-higher-s), var(--color-contrast-higher-l), 0.05);
}
.mega-nav--desktop .mega-nav__search--is-visible {
    display: block;
}
.mega-nav--desktop .mega-nav__search--is-visible .mega-nav__search-inner {
    -webkit-animation: mega-nav-entry-animation 0.5s var(--ease-out);
    animation: mega-nav-entry-animation 0.5s var(--ease-out);
}
@-webkit-keyframes mega-nav-entry-animation {
    from {
        opacity: 0;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}
@keyframes mega-nav-entry-animation {
    from {
        opacity: 0;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}
[class*="mega-nav--desktop"]::before {
    display: none;
    content: "mobile";
}
@media (min-width: 32rem) {
    .mega-nav--desktop\@xs::before {
        content: "desktop";
    }
}
@media (min-width: 48rem) {
    .mega-nav--desktop\@sm::before {
        content: "desktop";
    }
}
@media (min-width: 64rem) {
    .mega-nav--desktop\@md::before {
        content: "desktop";
    }
}
@media (min-width: 80rem) {
    .mega-nav--desktop\@lg::before {
        content: "desktop";
    }
}
@media (min-width: 90rem) {
    .mega-nav--desktop\@xl::before {
        content: "desktop";
    }
}
html:not(.js) .mega-nav--mobile .mega-nav__logo {
    margin: var(--space-md) 0;
}
html:not(.js) .mega-nav--mobile .mega-nav__icon-btns {
    display: none;
}
html:not(.js) .mega-nav--mobile .mega-nav__container,
html:not(.js) .mega-nav--mobile .mega-nav__sub-nav-wrapper {
    display: block;
}
html:not(.js) .mega-nav--mobile .mega-nav__nav,
html:not(.js) .mega-nav--mobile .mega-nav__search {
    display: block;
    position: static;
    height: auto;
    box-shadow: none;
    border-top: 1px solid var(--color-contrast-lower);
}