.actions {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: row wrap;
  vertical-align: top;
  white-space: nowrap;
  margin: 0;
  color: $txt-gray;
  gap: 5px;

  > li,
  &-item {
    display: inline-block;
    vertical-align: top;
    > a,
    &-link {
      background: none;
      padding: 5px;
      width: 30px;
      height: 30px;
      line-height: 1.4;
      text-align: center;
      font-size: 0.7rem !important;
      // border: $border;
      border-radius: $radius2;
      //border-radius: 50%;
      //background: $bg-brand-light;
      color: $txt-gray;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      position: relative;
      &:before {
        background: $bg-gray;
        content: "";
        height: 100%;
        width: 100%;
        // border-radius: $common-radius;
        border-radius: $common-radius;
        position: absolute;
        //z-index: -1;
        left: 0px;
        top: 0px;
        transform: scale(0.75);
        opacity: 0;
        transition: all 0.2s cubic-bezier(0.2, 0.91, 0.85, 0.96) 0s;
      }
      &:hover {
        color: $txt-body;
        &:before {
          opacity: 1;
          transform: scale(1);
        }
      }

      .svg,
      .icon,
      i {
        width: 14px;
        height: 14px;
        display: block;
        margin: 0;
        position: relative;
      }
      &.is-active,
      &:hover {
        text-decoration: none;
      }
    }
    &:last-child {
      margin-#{$end-direction}: 0;
    }
  }
}
