@-webkit-keyframes moltinShake {
    12.5% {
        transform: translateX(-6px) rotateY(-5deg);
    }
    37.5% {
        transform: translateX(5px) rotateY(4deg);
    }
    62.5% {
        transform: translateX(-3px) rotateY(-2deg);
    }
    87.5% {
        transform: translateX(2px) rotateY(1deg);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes moltinShake {
    12.5% {
        transform: translateX(-6px) rotateY(-5deg);
    }
    37.5% {
        transform: translateX(5px) rotateY(4deg);
    }
    62.5% {
        transform: translateX(-3px) rotateY(-2deg);
    }
    87.5% {
        transform: translateX(2px) rotateY(1deg);
    }
    100% {
        transform: translateX(0);
    }
}

.invalid {
    animation: moltinShake 0.4s ease-in-out 0.1s normal forwards 1 running;
}

.btn {
    display: inline-flex;
    align-items: center;
    padding: $input-padding;
    height: $input-height;
    font-size: 0.85rem;
    line-height: 1.5;
    border-width: 1px;
    display: inline-flex;
    align-items: center;
    font-weight: 500;

    &-brand {
        background-color: var(--brand-color);
        color: var(--brand-color-inverse);
        &:focus {
            //box-shadow: $shadow2;
        }
        &:hover {
            color: var(--brand-color-inverse);
            //box-shadow: $shadow1;
        }
    }

    &-outline-brand {
        border-color: var(--brand-color);
        color: var(--brand-color);
        &:hover {
            color: var(--brand-color);
        }
    }
    &-secondary {
        background-color: var(--secondary-color);
        color: var(--secondary-color-inverse);
        &:hover {
            color: var(--secondary-color-inverse);
        }
    }

    &-outline-secondary {
        border-color: var(--secondary-color);
        color: var(--secondary-color);
        &:hover {
            color: var(--secondary-color);
        }
    }

    &-white {
        background: #fff;
        color: #000;
    }
    &-outline-white {
        background: none;
        border-color: #fff;
        color: #fff;
    }
    &-gray {
        background-color: $bg-gray;
        color: $txt-body;
    }
    &-outline-gray {
        background: none;
        border-color: $border-color;
        color: $txt-body;
    }
    &-block {
        display: block;
        width: 100%;
    }
    &-wide {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    &-icon {
    }
    &-icon {
        gap: 6px;
        white-space: nowrap;
        .svg {
            // width: 12px;
            // height: 12px;
            //margin-#{$end-direction}: 6px;
        }
        &-start {
            //margin-#{$end-direction}: 6px;
        }
        &-end {
            //margin-#{$start-direction}: 6px;
        }
    }
    &-sm {
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
        line-height: 1.5;
        border-radius: 0.2rem;
        height: auto;
    }
    &-arrow {
        gap: 6px;
        .svg {
            width: 12px;
            height: 12px;
            margin-top: -4px;
        }
    }

    &-link {
        text-decoration: none;
        color: $txt-body;
        padding: 0;
        .arrow {
            display: inline-block;
            transition: all 0.2s ease-in-out;
            .svg {
                width: 12px;
                height: 12px;
                margin-#{$end-direction}: 5px;
            }
        }
        &:hover {
            .arrow {
                transform: translateX(0.25rem);
            }
        }
    }

    &.disabled {
        filter: grayscale(1);
    }

    &:hover {
        opacity: 1;
        // outline: none;
        // box-shadow: none !important;
    }
    .icn {
        .svg {
            width: 16px;
            height: 16px;
        }
    }
}
.link-underline {
    padding: 0;
    color: $brand-color;
    position: relative;
    font-size: 0.875rem;
    font-weight: 500;
    white-space: nowrap;
    text-rendering: optimizeLegibility;
    transition: color 0.3s ease-in-out;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    background-color: transparent;
    transition: background-size 0.3s;
    text-decoration: none;
    background-size: 100% 2px;
    border: none;
    &:hover {
        text-decoration: none;
        background-size: 95% 2px;
    }
    &-black {
        color: $black;
    }
}
a.link {
    color: $brand-color;
    position: relative;
    font-size: 0.875rem;
    white-space: nowrap;
    text-rendering: optimizeLegibility;
    transition: color 0.3s ease-in-out;
    display: flex;
    align-items: center;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size 0.3s;
    &:hover {
        text-decoration: none;
        background-size: 100% 1px;
    }
}

.link-arrow {
    color: $brand-color;
    position: relative;
    font-size: 0.875rem;
    white-space: nowrap;
    text-rendering: optimizeLegibility;
    transition: color 0.3s ease-in-out;
    display: flex;
    align-items: center;
    &:after {
        transition: all 0.5s ease;
        position: absolute;
        right: -0.5rem;
        opacity: 0;
        content: "→";
    }

    &:hover {
        color: $brand-color;
        text-decoration: none;
        &:after {
            transition: all 0.5s ease;
            right: -1rem;
            width: auto;
            opacity: 1;
        }
    }
}
.link-inline {
    display: inline-flex;
}
.link-text {
    display: inline-flex;
    align-items: center;
    font-size: 0.9rem;
    color: $brand-color !important;
    font-weight: 600;
    .icn {
        width: 12px;
        height: 12px;
        display: block;
        margin-#{$end-direction}: 8px;
        .svg {
            width: 100%;
            height: 100%;
            display: flex;
        }
    }
}

.back {
    color: $txt-body;
    //margin-#{$end-direction}: 0.5rem;
    &:hover {
        text-decoration: none;
    }
    .svg {
        [dir="rtl"] & {
            transform: scaleX(-1);
        }
    }
}
.link-dotted {
    text-decoration: dotted underline;
    text-underline-offset: 4px;
    &:hover {
        color: $brand-color;
    }
}
