.messages-chat {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  height: 100%;

  &-head {
  }
  &-body {
    padding: 1.5rem 2rem;
    flex: 1;
  }
  &-foot {
    padding: 1.5rem 2rem;
    position: sticky;
    bottom: 0;
    z-index: 1;
    background-color: #fff;
    border-top: $border;
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;
    align-items: stretch;
  }
  &-item {
    width: fit-content;
    max-width: 90%;
    & + & {
      margin-top: 1.5rem;
    }
  }
  &-bubble {
    word-break: break-word;
    font-size: 0.85rem;
    font-weight: 400;
    //background-color: $bg-gray;
    padding: 1.5rem;
    // border: $border;
    border-radius: 30px;
    .border-red & {
      background-color: lighten($danger-color, 30) !important;
      border: $border;
      border-color: $danger-color;
      color: $danger-color !important;
    }
  }

  .msg {
    &-left {
      margin-#{$end-direction}: auto;
      .messages-chat-bubble {
        background-color: darken($bg-gray, 05);
        border-bottom-left-radius: 0;
      }
      .bubble-foot {
        justify-content: flex-start;
      }
    }
    &-right {
      margin-#{$start-direction}: auto;
      .messages-chat-bubble {
        color: #fff;
        background-color: darken($bg-gray, 40);
        border-bottom-right-radius: 0;
      }
      .bubble-foot {
        justify-content: flex-end;
      }
    }
  }
  .bubble-foot {
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;

    .time {
      font-size: 11px;
    }
  }

  .date {
    font-size: 0.8rem;
    background: $bg-gray;
    padding: 0.25rem 1rem;
    border-radius: 2rem;
    color: $txt-body;
    width: fit-content;
    margin: 1rem auto;
  }
  .dots {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 2rem;
    line-height: 0.5;
    padding: 0 5px;
  }
  .btn-attachments,
  .btn-send,
  .btn-access {
    position: relative;
    background-color: $bg-gray;
    border: none;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:is(:hover, :focus, :active) {
      cursor: pointer;
      background-color: darken($bg-gray, 05);
      border: none;
      outline: none;
    }
    &.active {
      @include bg-brand;
    }
  }
  .btn-send {
    @include bg-brand;
    &[disabled] {
      pointer-events: none;
      opacity: 0.5;
      //background-color: #ddd;
    }
    &:is(:hover, :focus, :active) {
      @include bg-brand;
    }
  }
  .hidden-input {
    position: absolute;
    z-index: 1;
    inset: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    &:hover {
      cursor: pointer;
    }
  }
  .chat-textarea {
    font-size: 0.8rem;
    padding: 0 1rem;
    padding-top: 6px;
    width: 100%;
    height: auto !important;
    background-color: $bg-gray;
    border: none;
    border-radius: 5px;
    flex: 1;
    &:is(:hover, :focus, :active) {
      background-color: darken($bg-gray, 05);
      border: none;
      outline: none;
    }
  }
  .btn-load-more {
    display: inherit;
    border-radius: 40px !important;
    margin: 1rem auto;
  }
}

//attachments
.attachments {
  display: flex;
  flex-direction: column;

  &-item {
    padding: 0.5rem 0;
    color: currentColor;
    display: inline-flex;
    gap: 8px;
    align-items: center;
    flex-flow: row wrap;
    &:hover {
      color: $brand-color;
    }
  }
  &-thumb {
    aspect-ratio: 1/1;
    img {
      width: 80px;
      height: 80px;
      max-width: none;
      object-fit: cover;
    }
  }
  &-file-name {
    font-size: 0.8rem;
    color: currentColor;
  }

  &-remove {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 0;
    #{$end-direction}: 0;
    width: 32px;
    height: 32px;
    min-width: 32px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.9);
    }
  }
}
