.checkbox,
.radio {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1rem;
    cursor: pointer;
    display: flex;
    gap: 5px;
    &.brand {
        display: flex;
    }
    &-flex {
        display: flex !important;
    }
    a {
        color: $brand-color;
        text-decoration: underline;
    }
}
$checkbox-size: 16px;
.checkbox input,
.radio input {
    appearance: none;
    position: relative;
    top: -1px;
    #{$end-direction}: 0;
    bottom: 0;
    #{$start-direction}: 0;
    height: $checkbox-size !important;
    width: $checkbox-size !important;
    flex: 0 0 $checkbox-size;
    max-width: $checkbox-size;
    transition: all 0.15s ease-out 0s;
    border: solid 1px darken($border-color, 10);
    border-radius: 2px;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    //margin-#{$end-direction}: 0.5rem;
    padding: 0 !important;
    outline: none;
    position: relative;
    z-index: 1;
    vertical-align: middle;
    &:hover {
        border-color: darken($border-color, 30);
    }
    &[disabled] {
        opacity: 0.6;
        cursor: not-allowed;
    }
    &:hover {
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.04), 0px 4px 5px 0px rgba(0, 0, 0, 0.04), 0px 1px 10px 0px rgba(0, 0, 0, 0.04);
    }
    &:focus {
        box-shadow: inset 0px 1px 2px -1px rgba(0, 0, 0, 0.08), inset 0px 4px 5px 0px rgba(0, 0, 0, 0.08), inset 0px 1px 10px 0px rgba(0, 0, 0, 0.08);
    }
    &:active {
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.04), 0px 4px 5px 0px rgba(0, 0, 0, 0.04), 0px 1px 10px 0px rgba(0, 0, 0, 0.04);
    }
}

.checkbox input:checked,
.radio input:checked {
    background: $brand-color;
    color: $brand-color-inverse;
}

.checkbox input:checked::before,
.radio input:checked::before {
    height: 10px;
    width: 6px;
    position: absolute;
    content: "";
    display: inline-block;
    font-size: 1rem;
    text-align: center;
    line-height: 1rem;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(45deg);
    left: 50%;
    top: 50%;
    margin: -7px 0 0 -3px;
}

.checkbox input:checked::after,
.radio input:checked::after {
    background: $brand-color;
    color: $brand-color-inverse;
    content: "";
    display: block;
    position: relative;
    z-index: 100;
}

.checkbox input:checked,
.radio input:checked {
    border-color: $brand-color;
}

.radio input {
    border-radius: 50% !important;
}

.radio input::after {
    border-radius: 50%;
}

/*toggles*/

.switch-links {
    text-align: center;
    margin: 0px auto;
    display: block;
    position: relative;
    max-width: 250px;
}

.switch-links a {
    padding-top: 3px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    color: lighten($txt-body, 50%);
    font-size: 0.8em;
}

.switch-links a:first-child {
    float: left;
    margin-#{$end-direction}: 10px;
}

.switch-links a:last-child {
    margin-#{$start-direction}: 10px;
    float: right;
}

.switch-button {
    position: relative;
    width: 70px;
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
}

.switch-button:before {
    content: "";
    position: absolute;
    background: #e6e6e6;
    border-radius: 30px;
    width: 70px;
    height: 25px;
    top: 0;
    margin: 0 auto;
    #{$start-direction}: 0;
    #{$end-direction}: 0;
}

.switch-button:after {
    background: $brand-color;
    color: $brand-color-inverse;
    width: 18px;
    height: 18px;
    display: block;
    border-radius: 50%;
    content: "";
    position: absolute;
    #{$start-direction}: 4px;
    top: 3px;

    transition: all ease 0.3s;
}

.switch-button.is--active:after {
    #{$start-direction}: auto;
    #{$end-direction}: 4px;

    transition: all ease 0.3s;
}

.switch-links a.is--active {
    color: $brand-color;
}
