html {
  font-size: 16px;

  @include media-breakpoint-down(lg) {
    font-size: 15px;
  }

  @include media-breakpoint-down(md) {
    font-size: 14px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 13px;
  }
}

body {
  height: auto;
}

:focus {
  // box-shadow: none !important;
  // outline: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {}

p {
  margin: 0;
}

b,
strong {
  font-weight: 500;
}

ol,
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: $brand-color;
  text-decoration: none;
}

.svg {
  fill: currentColor;
}

mark,
.mark {
  padding: 0;
}

.bg-gray {
  background: $bg-gray;
}

.align-right {
  text-align: #{$end-direction};
}

.align-left {
  text-align: #{$start-direction};
}

.align-center {
  text-align: center;
}

.text-left {
  text-align: #{$start-direction} !important;
}

.text-right {
  text-align: #{$end-direction} !important;
}

.divider {
  height: 1px;
  background: $border-color;
  margin: 15px 0;
}

.note {
  font-weight: 300;
  margin-top: 10px;
  display: block;
}

.txt-white {
  color: #fff;
}

.dragHandle {
  cursor: move;
}

#st_gdpr_iframe {
  display: none;
}

.not-allowed {
  background: #ededed;
  color: $txt-body;
  cursor: not-allowed !important;
}

.formActions-css {
  display: none !important;
}

.gap {
  height: 1rem;
  clear: both;
  display: table;
  width: 100%;
}

.align-center {
  margin: 0 auto;
  text-align: center;
}

.hidden {
  display: none !important;
}

.no-after {
  &:after {
    content: normal !important;
  }

  &:before {
    content: normal !important;
  }
}

.list-inline {
  display: flex;
  align-items: center;
  gap: 10px;
}

.focused-div {
  height: auto;
  cursor: text;
  font-size: 0.9em;
}

.info {
  background: lighten($info-color, 33);
  color: $info-color;
  border: dashed 1px $info-color;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  font-weight: 500;

  .svg {
    width: 20px;
    height: 20px;
    margin-#{$end-direction}: 0.5rem;
  }
}

.info-message {
  background: #f9edbe;
  border: 1px solid #f0c36d;
  color: $txt-body;
  font-size: 0.85em;
  line-height: 1.2;
  border-radius: $common-radius;
  padding: 0.8rem;
}

.docs-buttons {
  display: flex;
  justify-content: center;

  .btn-group {
    margin: 0 2px;
  }
}

.custom-ui-autocomplete {
  max-height: 200px;
  max-width: 500px;
  overflow: hidden;
  overflow-y: auto;
  box-shadow: 0 0 35px 10px rgba(0, 0, 0, 0.1);
  border-radius: $common-radius;
  font-weight: 400;
  font-size: 0.8rem !important;
  border: $border;
  animation: dropdown-menu-fade-in 0.3s ease 1,
    dropdown-menu-move-up 0.3s ease-out 1;

  .ui-menu-item {
    border-bottom: $border;

    .ui-menu-item-wrapper {
      padding: 0.8rem;
      border-color: transparent !important;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  strong {
    font-weight: 600;
  }
}

.strikethrough {
  text-decoration: line-through;
}

.cursor-pointer {
  cursor: pointer;
}

.alert-aligned {
  height: 100%;
  display: flex;
  align-items: center;
}

.block-social {
  height: auto;
  background-color: transparent;
  color: #fff;
  border: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;

  &:hover {
    color: #fff;
  }

  .svg {
    width: 46px;
    height: 46px;
    margin-bottom: 1.5rem;
  }
}

.text-link {
  font-weight: 500;
  color: $brand-color;
}

.icn-eye {
  font-size: 12px;
  position: absolute;
  #{$end-direction}: 1rem;
  top: 16px;
  color: $txt-gray;
}

.list-country-zone {
  max-height: 360px;
  overflow-y: auto;
}

.img-container {
  min-height: 200px;
}

.cropper-body {
  min-height: 350px;
  display: flex;
  align-items: center;
  transition: 0.5s ease all;
}

.field-password {
  height: 100%;
  width: 3rem;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.8rem;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIiBjbGFzcz0iYmkgYmktdGhyZWUtZG90cyIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICA8cGF0aCBkPSJNMyA5LjVhMS41IDEuNSAwIDEgMSAwLTMgMS41IDEuNSAwIDAgMSAwIDN6bTUgMGExLjUgMS41IDAgMSAxIDAtMyAxLjUgMS41IDAgMCAxIDAgM3ptNSAwYTEuNSAxLjUgMCAxIDEgMC0zIDEuNSAxLjUgMCAwIDEgMCAzeiIvPgo8L3N2Zz4=);

  &-show {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIiBjbGFzcz0iYmkgYmktZXllIiB2aWV3Qm94PSIwIDAgMTYgMTYiPgogIDxwYXRoIGQ9Ik0xNiA4cy0zLTUuNS04LTUuNVMwIDggMCA4czMgNS41IDggNS41UzE2IDggMTYgOHpNMS4xNzMgOGExMy4xMzMgMTMuMTMzIDAgMCAxIDEuNjYtMi4wNDNDNC4xMiA0LjY2OCA1Ljg4IDMuNSA4IDMuNWMyLjEyIDAgMy44NzkgMS4xNjggNS4xNjggMi40NTdBMTMuMTMzIDEzLjEzMyAwIDAgMSAxNC44MjggOGMtLjA1OC4wODctLjEyMi4xODMtLjE5NS4yODgtLjMzNS40OC0uODMgMS4xMi0xLjQ2NSAxLjc1NUMxMS44NzkgMTEuMzMyIDEwLjExOSAxMi41IDggMTIuNWMtMi4xMiAwLTMuODc5LTEuMTY4LTUuMTY4LTIuNDU3QTEzLjEzNCAxMy4xMzQgMCAwIDEgMS4xNzIgOHoiLz4KICA8cGF0aCBkPSJNOCA1LjVhMi41IDIuNSAwIDEgMCAwIDUgMi41IDIuNSAwIDAgMCAwLTV6TTQuNSA4YTMuNSAzLjUgMCAxIDEgNyAwIDMuNSAzLjUgMCAwIDEtNyAweiIvPgo8L3N2Zz4=);
  }
}

.rotator-actions {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  gap: 1rem;
  flex: 1;
  margin: 0;
  padding: 1rem 0;

  .actions {
    gap: 5px;
    // border-radius: $common-radius;
    border: none;

    // border: $border;
    li {
      .actions-link {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        height: $input-height;
        padding: $input-padding;
        font-size: $input-font-size;
        line-height: $input-line-height;
        border-radius: $input-border-radius;
        width: 4rem;
        border: $border;
        margin: 0;
        cursor: pointer;

        &:before {
          cursor: pointer;
          content: normal;
        }

        &:hover {
          border-color: $brand-color;
          background-color: $brand-color;
          color: $brand-color-inverse;
        }
      }
    }
  }
}

.or {
  position: relative;
  text-transform: uppercase;
  font-size: 11px;
  color: $txt-gray;
  margin: 30px 0;
  display: flex;
  text-align: center;

  &:after {
    content: "";
    height: 1px;
    width: 100%;
    background: $border-color;
    position: absolute;
    top: 50%;
    left: 0;
  }

  span {
    position: relative;
    z-index: 1;
    background: $bg-white;
    padding: 0 5px;
    letter-spacing: 2px;
    margin: 0 auto;
  }
}

.account-delete {
  display: flex;
  justify-content: space-between;

  .btn {
    font-size: 0.8rem;
    background: none;
    margin-#{$end-direction}: 10px;
    margin-bottom: 1rem;
    border: $border;
    border-radius: 3px;
    padding: 6px 10px;
    font-size: 0.75rem;
    color: $txt-gray;
    height: auto;
    flex: 1;
    transition: all 0.5s ease;
    text-align: center;
    display: block;
  }
}

.user-type {
  display: flex;
  align-items: center;

  li {
    flex: 0 0 50%;
    max-width: 50%;
    margin: 0;
    padding: 0;

    &:first-child {
      .user-type-link {
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
      }
    }

    &:last-child {
      .user-type-link {
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
      }
    }
  }

  &-link {
    background-color: transparent;
    border: $border;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
    color: $txt-gray;
    line-height: 1.5;
    font-size: 1rem;
    position: relative;
    padding: 12px 1rem;
  }

  .is-active {
    .user-type-link {
      @include bg-brand;
      border-color: $brand-color;
    }
  }
}

.advanced-search {
  padding: 1.5rem;
  padding-bottom: 0;
}

//description limit
.txt-description {
  display: inline-flex;
  white-space: nowrap;
  min-width: 190px;

  .btn-view {
    background-color: $bg-gray;
    border: $border;
    padding: 0;
    margin: 0;
    margin-#{$start-direction}: 5px;
    color: $txt-body;
    width: 1.8rem;
    height: 1rem;
    border-radius: 3px !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.contenteditable,
.click-to-edit {
  display: inline-block;
  white-space: nowrap;
  padding: 4px;
  border: solid 1px transparent;
  border-radius: 3px;
  background-color: $bg-gray;
  cursor: text;

  &:hover,
  &:focus-visible,
  &:focus,
  &:active {
    outline: none;
    background-color: $bg-gray;
    border-color: darken($bg-gray, 10);
  }
}

.click-to-edit-input {
  display: inline-block;
  white-space: nowrap;
  border: none;
  outline: solid 2px transparent;

  &:focus,
  &:active,
  &:hover {
    outline: solid 2px $brand-color;
    border: none;
  }
}

.edit-price {
  display: flex;
  align-items: center;
}

.actions-downloads {
  position: relative;
  display: inline-flex;
  gap: 10px;
  align-items: center;
  padding-#{$end-direction}: 80px;

  // padding: 10px;
  // cursor: pointer;
  &:hover {

    // background-color: $bg-gray;
    .actions {
      // display: block;
    }
  }

  .file-name {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
  }

  .actions {
    //display: none;
    position: absolute;
    #{$end-direction}: 0;
  }
}

.isLoading {
  position: relative;
  overflow: hidden;
}

.processing-wrap {
  position: relative;
}

.processing {
  background-color: rgba(255, 255, 255, 0.55);
  position: absolute;
  z-index: 1024;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  &:after {
    position: absolute;
    content: "";
    background-color: rgba(255, 255, 255, 0.05);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
}

.skeleton {
  background: linear-gradient(to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 80%),
    lightgray;
  border-radius: 2px;
  height: 20px;
  margin: 2px 0;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: -150px;
    top: 0;
    height: 100%;
    width: 150px;
    background: linear-gradient(to right,
        transparent 0%,
        #e8e8e8 50%,
        transparent 100%);
    animation: load 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }
}

@keyframes load {
  from {
    left: -150px;
  }

  to {
    left: 100%;
  }
}

.success-animation {
  margin: 2rem auto;
}

.checkmark {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #4bb71b;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #4bb71b;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
  position: relative;
  top: 5px;
  right: 5px;
  margin: 0 auto;

  .checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #4bb71b;
    fill: #fff;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }

  .checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {

  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #4bb71b;
  }
}

.thanks-screen {
  p {
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-up(xl) {
      max-width: 80%;
    }
  }
}

.card-toggle {
  .dropdown-toggle-custom-arrow {
    position: relative;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: none;
  }

  .card-toolbar {
    @include media-breakpoint-up(md) {
      margin-#{$start-direction}: auto;
    }
  }
}

.offcanvas-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.close-layer {
  z-index: 2;
  position: absolute;
  #{$end-direction}: 10px;
  top: 10px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  transition: all 300ms;
  display: flex;
  align-items: center;
  border: none;
  background: none;

  &:hover {
    transform: rotate(-90deg);
    opacity: 1;
  }

  &:before,
  &:after {
    position: absolute;
    #{$start-direction}: 15px;
    content: " ";
    height: 18px;
    width: 2px;
    background-color: #000;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }

  &--white {

    &:before,
    &:after {
      background-color: #fff;
    }
  }

  &-sm {
    width: 20px;
    height: 20px;

    &:before,
    &:after {
      #{$start-direction}: 10px;
      height: 12px;
      width: 1px;
    }
  }
}

.badges-wrap {
  z-index: 1;
  position: absolute;
  #{$end-direction}: 0.25rem;
  top: 0.25rem;
}

.badge-wrap {
  .badges-wrap {
    position: static;
  }
}

/* By Satbir */
.actions-link {
  border: none;
  background: transparent;
}

[dir="rtl"] .default-ltr {
  direction: ltr;
  display: inline-flex;
}

//Taxes
.taxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;

  &+& {
    margin-top: 0.5rem;
  }

  &-options {
    font-size: 0.8rem;
    font-weight: 400;
  }

  &-value {
    font-size: 0.8rem;
    font-weight: 600;
  }
}