.my-dashboard {
    .sidebar {
        width: 70px;
        position: absolute;
        z-index: 12;
        #{$start-direction}: 0;
        top: 0;
        bottom: 0;
        background: #fff;
        padding-top: 71px;
        height: 100%;
        transition: width 0.5s ease-in-out;
        display: flex;
        flex-direction: column;
        border-#{$end-direction}: $border;
        @include media-breakpoint-down(lg) {
            position: fixed;
        }
        .sidebar__content {
            padding-top: 1rem;
            height: 100%;
            max-height: none;
            width: auto;
            overflow-y: auto;
            width: 100% !important;
        }
        .logo-wrapper {
            display: flex;
            // justify-content: flex-end;
            align-items: center;
            padding: 1rem;
            height: 71px;
            border-bottom: $border;
            position: absolute;
            top: 0;
            z-index: 1;
            background: #fff;
            width: 100%;
            .logo-dashboard {
                transition: all 0.5s ease-in-out;
                // position: absolute;
                // #{$start-direction}: 24px;
                opacity: 1;
                img {
                    max-width: 100px;
                    max-height: 70px;
                }
            }
        }
        .hamburger-toggle {
            position: relative;
            padding: 0;
            background: transparent;
            border: 1px solid transparent;
            cursor: pointer;
            margin-#{$end-direction}: 10px;
            //width: 2.5rem;
            & [class*="bar-"] {
                display: block;
                background: #102c58;
                transform: rotate(0deg);
                transition: 0.2s ease all;
                border-radius: $radius2;
                height: 2px;
                width: 24px;
                margin-bottom: 4px;
                &:nth-child(2) {
                    width: 18px;
                }
                &:last-child {
                    margin-bottom: 0;
                    width: 12px;
                }
            }
            &.is-opened {
                & [class*="bar-"] {
                    background: #000;
                }
                .bar-top {
                    transform: rotate(45deg);
                    transform-origin: 15% 15%;
                }
                .bar-mid {
                    opacity: 0;
                }
                .bar-bot {
                    transform: rotate(-45deg);
                    transform-origin: 15% 95%;
                    width: 24px;
                }
            }
            &:focus {
                outline-width: 0;
            }
        }
    }
    &.sidebar-is-expanded {
        .sidebar {
            width: 280px;
        }
        .header-dashboard {
            padding-#{$start-direction}: 280px;
            @include media-breakpoint-down(lg) {
                padding-#{$start-direction}: 20px;
            }
        }
        .main {
            padding-#{$start-direction}: 280px;
            @include media-breakpoint-down(lg) {
                padding-#{$start-direction}: 0;
            }
        }
        .menu-head {
            #{$start-direction}: 0 !important;
            opacity: 1 !important;
            visibility: visible !important;
            display: block !important;
        }
        .menu-item__title {
            #{$start-direction}: 0 !important;
            opacity: 1 !important;
        }
    }
    &.sidebar-is-reduced {
        .logo-dashboard {
            #{$start-direction}: -100% !important;
            opacity: 0 !important;
            visibility: hidden !important;
        }
        .dashboard-menu-icon {
            margin: 0 auto;
        }
        .dashboard-menu-head {
            display: none;
        }
        .dashboard-menu-arrow {
            display: none;
        }

        @include media-breakpoint-down(lg) {
            .sidebar {
                width: 0;
            }
            .hamburger-toggle {
                //#{$start-direction}: 35px;
            }
            .header-dashboard {
                padding-#{$start-direction}: 70px;
            }
        }
    }
}

.dashboard-menu {
    color: $txt-gray;
    fill: currentColor;
    font-size: 0.85rem;
    &-item {
        overflow: hidden;
        transition: all 0.5s ease-in-out;
        color: $txt-body;

        &.is-active {
            background: $bg-brand-light;
            color: $brand-color;
            fill: $brand-color;
        }
    }
    &-btn {
        background-color: transparent;
        border: none;
        display: flex;
        align-items: center;
        flex: 0 0 100%;
        text-align: #{$start-direction};
        width: 100%;
        margin: 0;
        padding: 1rem 1rem;
    }
    &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        .svg {
            width: 18px;
            height: 18px;
        }
    }
    &-head {
        margin-#{$start-direction}: 10px;
        font-weight: 500;
        color: $txt-body;
        font-size: 0.875rem;
        transition: all 0.7s ease-in-out;
    }
    .dropdown-toggle-custom-arrow {
        #{$end-direction}: 25px;
    }
    .menu-sub {
        padding: 0;
        margin: 0;
        &-item {
            display: flex;
            position: relative;
            color: $txt-gray;
            &:after {
                content: "";
                width: 5px;
                height: 5px;
                background: currentColor;
                display: block;
                position: absolute;
                #{$start-direction}: 22px;
                top: 15px;
                border-radius: 50%;
            }
        }
        &-link {
            flex: 0 0 100%;
            padding: 0.5rem 2rem;
            padding-#{$start-direction}: 44px;
            &::before {
                background: rgba(0, 0, 0, 0.08);
                content: "";
                height: 100%;
                width: 100%;
                //border-radius: $radius4;
                position: absolute;
                left: 0px;
                top: 0px;
                transform: scale(0.75);
                opacity: 0;
                transition: all 0.2s cubic-bezier(0.2, 0.91, 0.85, 0.96) 0s;
            }

            &:hover,
            &:focus,
            &.active {
                color: $txt-body;
                &::before {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
    }
    .divider {
        margin: 0px 0;
    }
}
