.nav-tabs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: none;
    @include media-breakpoint-down(md) {
        flex-wrap: nowrap;
        overflow: hidden;
        overflow-x: auto;
    }
    .nav-item {
        + .nav-item {
            padding-#{$start-direction}: 2rem;
        }
    }
    .nav-link {
        background-position: 50% 100%;
        background-repeat: no-repeat;
        background-size: 0% 1px;
        transition: background-size 0.3s;
        border: transparent;
        position: relative;
        color: $txt-body;
        font-size: 0.85rem;
        font-weight: 500;
        padding: 1.5rem 0;
        margin: 0 1rem;
        top: 1px;
        &.active {
            color: $brand-color;
            background-image: linear-gradient(currentColor, currentColor);
            text-decoration: none;
            background-size: 100% 1px;
            text-decoration: none;
        }
        &:first-child {
            margin-#{$start-direction}: 0;
        }
        &:last-child {
            margin-#{$end-direction}: 0;
        }
    }
}

.nav-pills {
    grid-gap: 5px;
    .nav-link {
        background-color: $bg-gray;
        position: relative;
        color: $txt-body;
        font-size: 0.85rem;
        font-weight: 500;
        border-radius: 30px;
        top: 1px;
        &.active {
            background-color: $secondary-color;
        }
        &:first-child {
            margin-#{$start-direction}: 0;
        }
        &:last-child {
            margin-#{$end-direction}: 0;
        }
    }
}
