.listing-tbl {
    overflow-x: auto;
}

.table-wrap {
    overflow: hidden !important;
    overflow-x: auto !important;
}

.table {
    background-color: #fff;
    margin-bottom: 0;
    text-align: #{$start-direction};
    &-justified {
        thead {
            th:last-child {
                text-align: #{$end-direction};
            }
        }
        tr {
            td:last-child {
                text-align: #{$end-direction};
                //padding-#{$end-direction}: 0;
            }
        }
    }
    thead {
        th {
            color: $txt-body;
            padding: 0.5rem 1rem;
            border-bottom: none;
            background: $bg-gray;
            background: $bg-brand-light;
            color: $brand-color;
            font-weight: 400;
            vertical-align: top;
            &:first-child {
                border-top-#{$start-direction}-radius: $radius4;
                border-bottom-#{$start-direction}-radius: $radius4;
            }
            &:last-child {
                border-top-#{$end-direction}-radius: $radius4;
                border-bottom-#{$end-direction}-radius: $radius4;
            }
        }
    }
    tr {
        &.selected-row {
            background: rgba(var(--brand-color-alpha), 0.05);
            >td {
                border-color: transparent;
            }
        }
        &:last-child {
            td {
                border-bottom: none;
            }
        }
        td {
            color: $txt-gray;
            position: relative;
            /* word-break:break-word;*/
            &:first-child {
                /* padding-left: 0;*/
            }
            &:last-child {
                /*  padding-right: 0;*/
            }
        }
    }
    th,
    td {
        font-weight: unset;
        padding: 1rem;
        border: none;
        color: inherit;
        font-size: 0.8rem;
        border-bottom: $border;
        vertical-align: top;
    }
    a {
        color: $brand-color;
        &:hover {
            text-decoration: underline;
        }
    }
    table {
        font-size: 100%;
    }
}

.table--justify {
    tr {
        td {
            &:first-child {
                padding-#{$start-direction}: 0;
            }
            &:last-child {
                padding-#{$end-direction}: 0;
                text-align: #{$end-direction};
            }
        }
    }
}

.table .btn {
    margin: 2px;
}

.table.cart--full .item-yk-head-category {
    font-size: 0.8em;
    text-transform: uppercase;
}

.table.cart--full .item-yk-head-title,
.table.cart--full .item__title {
    font-size: 1.1em;
    font-weight: 600;
}

.table.cart--full .item-yk-head-specification .btn {
    margin-top: 10px;
}

.table.cart--full .product-img {
    border: 1px solid #ddd;
    max-width: 100px;
    min-width: 100px;
    border-radius: $radius4;
    overflow: hidden;
}

.table-fixed-header {
    table-layout: fixed;
    border-collapse: collapse;
    thead {
        tr {
            display: table-row;
        }
    }
    tbody {
        display: block;
        width: 100%;
        overflow: auto;
        height: 350px;
    }
    thead,
    tbody tr,
    tfoot {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
}

.variants-wrap {
    margin-top: 1rem;
    border: $border;
    border-radius: $radius4;
    table {
        th {
            font-weight: 600;
        }
        th,
        td {
            vertical-align: middle;
            padding: 0.5rem 1rem;
            font-size: 0.85rem;
            border-bottom: $border;
        }
        tr {
            &:last-child {
                td {
                    border-bottom: none;
                }
            }
        }
    }
}