.cart-page {
    display: flex;
    @include media-breakpoint-down(md) {
        flex-direction: column;
    }
    &_main {
        flex: 0 0 70%;
        max-width: 70%;
        padding-#{$end-direction}: 3rem;
        @include media-breakpoint-down(md) {
            flex: 1;
            max-width: none;
            padding: 0;
            padding-bottom: 1rem;
        }
    }
    &_aside {
        flex: 1;
        background: $bg-gray;
        padding: 2rem;
        border-radius: $radius4;
    }
    .cart-title {
        font-weight: 600;
        font-size: 1rem;
    }
    .list-cart {
        margin-bottom: 2rem;
        >li {
            //padding: 2.5rem;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .cart-title {
        text-transform: uppercase;
        font-size: 1rem;
        margin-bottom: 1rem;
        font-weight: 600;
        color: $txt-body;
    }
}

.cart-summary {
    font-size: 0.85rem;
    ul {
        li {
            padding: 1rem 0;
            border-left: 0;
            border-right: 0;
            border-radius: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .label {
                color: currentColor;
                padding: 0;
            }
            .value {
                font-weight: 500;
                text-align:#{$end-direction};
                margin-#{$start-direction}: auto;
            }
            &.hightlighted {
                font-weight: 500;
                border-top: $border;
            }
            &.text-success {
                color: $success-color;
            }
        }
    }
}

.list-cart {
    font-size: 0.8rem;
    border: $border;
    border-radius: $radius4;
    background-color: $bg-white;
    >li {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        border-bottom: $border;
        @include media-breakpoint-down(sm) {
            flex-direction: column;
        }
        &:last-child {
            //border-bottom: none;
        }
        &.list-saved-later {
            align-items: center;
            @include media-breakpoint-down(md) {
                & {
                    flex-direction: row;
                }
            }
        }
        &.minus-space {
            padding: 0;
            border: none;
        }
    }
    .cell {
        &_product {
            flex: 0 0 280px;
            max-width: 280px;
            @include media-breakpoint-down(sm) {
                flex: 1;
                max-width: inherit;
            }
        }
        &_qty {
            padding: 0 10px;
            flex: 0 0 100px;
            max-width: 100px;
            margin-#{$start-direction}: auto;
            @include media-breakpoint-down(sm) {
                padding: 10px 0;
                flex: 1;
                max-width: inherit;
                margin-#{$start-direction}: 0;
            }
        }
        &_price {
            padding: 0 10px;
            flex: 0 0 100px;
            max-width: 100px;
            margin-#{$start-direction}: auto;
            @include media-breakpoint-down(sm) {
                padding: 10px 0;
                flex: 1;
                max-width: inherit;
                margin-#{$start-direction}: 0;
            }
        }
        &_action {
            text-align: #{$end-direction};
            // flex: 0 0 30px;
            // max-width: 30px;
            margin-#{$start-direction}: auto;
            @include media-breakpoint-down(sm) {
                margin-#{$start-direction}: 0;
                flex: 1;
                max-width: inherit;
                text-align: inherit;
            }
        }
        &:last-child {
            padding-#{$end-direction}: 0;
        }
    }
    .product-quantity {
        text-align: center;
        margin: 0 0;
        .remove {
            margin: 0.5rem 0;
            display: inline-block;
        }
        .side-price {
            font-weight: 500;
            font-size: 0.8rem;
            margin-#{$start-direction}: 10px;
        }
        &-price {
            display: flex;
            align-items: center;
        }
    }
    .product-price {
        text-align: #{$end-direction};
        @include media-breakpoint-down(sm) {
            text-align: inherit;
        }
    }
    .product-action {
        @include media-breakpoint-down(md) {
            position: absolute;
            top: 1rem;
            #{$end-direction}: 1rem;
        }
        .list-actions {
            /* padding-top: 8px;*/
            justify-content: flex-end;
        }
    }
    .btn-saveforlater {
        border: none;
        background: none;
        .svg {
            width: 26px;
            height: 26px;
            fill: $brand-color;
        }
    }
    .list-add {
        padding-top: 8px;
        display: flex;
        align-items: center;
        color: $txt-gray;
        li {
            margin-#{$end-direction}: 10px;
            &:last-child {
                margin: 0;
            }
        }
        .svg {
            width: 1rem;
            height: 1rem;
            fill: currentColor;
        }
        .active {
            .svg {
                width: 1rem;
                height: 1rem;
                fill: $brand-color;
            }
        }
    }
    &-double {
        flex-direction: row;
        flex-wrap: wrap;
        li {
            flex: 0 0 50%;
            max-width: 50%;
            padding: 1rem;
            border: none;
            border-top: $border;
            &:nth-child(1),
            &:nth-child(2) {
                border-top: none;
            }
            &:last-child {
                flex: 1;
                max-width: none;
            }
        }
    }
    &-checkout {
        border: none;
        background: none;
        li {
            background: none;
            border: none;
            padding: 1rem 0;
            flex-direction: row;
            .img-fluid {
                max-width: 48px;
            }
        }
        .cell_product {
            max-width: 220px;
            flex: 0 0 220px;
        }
    }
    &-return {
        li {
            flex-direction: column;
            &:last-child {
                border-bottom: none;
            }
            .product-profile__thumbnail img {
                max-width: 70px;
            }
            .product-quantity {
                margin: 0;
                margin-top: 1rem;
            }
            .product-price {
                flex: none;
                max-width: none;
                margin: 0;
                margin-bottom: 2rem;
            }
        }
    }
    &-order {
        .product-thumbnail {
            max-width: 48px;
            flex: 0 0 48px;
        }
    }
}

.list-cart-page {
    border: none;
    margin-bottom: 2rem;
    >li {
        border: $border;
        border-radius: 4px;
        margin: 1rem 0;
    }
}

.product-price {
    color: $brand-color;
    .new_price {
        font-weight: 600;
    }
    del {
        color: $body-color;
        font-size: 0.8rem;
        font-weight: 300;
    }
}

.coupons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    h6 {
        font-size: 0.8rem;
        margin: 0;
        padding: 0;
    }
    .btn-coupons {
        font-weight: 600;
        border-style: dashed;
        text-transform: uppercase;
    }
    .svg {
        margin-#{$end-direction}: 5px;
    }
}

.included {
    text-align: center;
    font-weight: 400;
    font-size: 0.8rem;
    padding: 1rem 0;
    color: $txt-gray;
}

.promo-code {
    max-width: 400px;
    display: flex;
    align-items: center;
    form {
        display: flex;
        flex: 1;
        .promo-input {
            width: auto;
            height: 40px;
            line-height: 1;
        }
    }
}

.product-line-info {
    .label {
        font-size: 0.8rem;
    }
    .value {
        @extend .label;
        color: $body-color;
    }
}

.product-profile {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    /*max-width: 300px;*/
    min-width: 0;
    // @include media-breakpoint-down(md) {
    //     max-width: 80%;
    //     margin-bottom: 1rem;
    // }
    &__thumbnail {
        position: relative;
        margin-#{$end-direction}: 15px;
        img {
            min-width: 30px;
            max-width: 40px;
            border-radius: $radius4;
            border: $border;
            @include media-breakpoint-down(sm) {
                max-width: 50px;
            }
        }
        .product-qty {
            font-size: 0.7rem;
            font-weight: 500;
            line-height: 1rem;
            white-space: nowrap;
            text-align: center;
            border-radius: 1.75rem;
            background-color: rgba(114, 114, 114, 0.9);
            color: #fff;
            min-width: 1rem;
            height: 1rem;
            padding: 0 0.1rem;
            position: absolute;
            #{$end-direction}: -0.25rem;
            top: -0.25rem;
            z-index: 1;
        }
    }
    &__data {
        flex: 1;
        min-width: 0px;
        .title {
            //font-weight: 500;
            //font-size: 0.88rem;
            margin-bottom: 4px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            a {
                color: $body-color;
            }
        }
        .options {
            font-size: 0.75rem;
            color: $txt-gray;
        }
    }
    &__btn {
        margin-top: 5px;
        font-size: 0.8rem;
    }
}

.coupons-applied {
    border: dashed 1px $success-color;
    padding: 1rem;
    border-radius: $radius4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    color: $success-color;
    position: relative;
    .svg {
        width: 20px;
        height: 20px;
        margin-#{$end-direction}: 10px;
    }
    h6 {
        font-weight: 500;
        margin: 0;
        padding: 0;
        position: relative;
        display: flex;
        align-items: center;
    }
    p {
        margin-top: 10px;
        font-size: 0.8rem;
        color: currentColor;
    }
}

.sticky-summary {
    position: sticky;
    top: 175px;
    .card {
        box-shadow: none;
        &-body {}
    }
    .buttons-group {
        margin-top: 1rem;
    }
}

.buttons-group {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .btn {
        flex: 0 0 48%;
        max-width: 48%;
    }
}

.gift-wrap {
    margin-top: 1.5rem;
    background-color: #fff;
    .list-group-item {
        display: flex;
        justify-content: space-between;
    }
    &__left {
        display: flex;
        align-items: center;
    }
    &__icon {
        margin-#{$end-direction}: 1rem;
        svg {
            width: 24px;
            height: 24px;
            fill: currentColor;
        }
    }
    &__text {
        span {
            &:first-child {
                padding-#{$end-direction}: 1rem;
            }
        }
    }
}

.strong {
    font-weight: 500;
}

.secure {
    margin-top: 4rem;
    text-align: center;
    p {
        margin: 0.5rem 0;
        font-weight: 500;
        .icn {
            margin-#{$end-direction}: 6px;
        }
    }
}

.row-coupon {
    .row-coupon__left {
        max-width: 10%;
        flex: 0 0 10%;
        padding-top: 10px;
    }
}

.list-promo {
    &__name {
        color: $brand-color;
        border: dashed 2px $brand-color;
        border-radius: $radius4;
        padding: 0.5rem 1rem;
        font-weight: 500;
        display: inline-block;
        font-size: 0.85rem;
    }
    &__code {
        font-weight: 500;
        padding-bottom: 0.5rem;
        display: block;
    }
    &__text {
        font-size: 0.75rem;
    }
}

.row-coupon {
    display: flex;
}

.shiporpickup {
    position: relative;
    z-index: 1;
    margin-bottom: 1.5rem;
    border-radius: $radius4;
    ul {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        //border-radius: $radius4 $radius4 0 0;
        li {
            flex: 0 0 48%;
            // &:first-child {
            //     border-top-left-radius: $radius4;
            // }
            // &:last-child {
            //     border-top-right-radius: $radius4;
            // }
        }
    }
    .control-label {
        border: solid 1px $border-color;
        border-radius: 4px;
        background: $bg-white;
        color: $txt-gray;
        padding: 1rem 1rem;
        margin: 0;
        display: block;
        cursor: pointer;
        font-size: 0.9rem;
        font-weight: 600;
        text-align: center;
        position: relative;
        &:hover {
            color: $brand-color;
        }
    }
    input {
        &[type="radio"] {
            position: absolute;
            opacity: 0;
            z-index: -1;
            &:checked+.control-label {
                color: $brand-color;
                border-color: $brand-color;
                border-width: 2px;
                &:after {
                    // content: "";
                    background: $brand-color;
                    height: 2px;
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                    right: 0;
                }
            }
        }
    }
    .svg {
        width: 24px;
        height: 24px;
        margin-#{$end-direction}: 10px;
        fill: currentColor;
    }
    .disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}

.info {
    flex: 1;
    // flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: $bg-gray;
    border-radius: $radius4;
    font-size: 0.85rem;
    .svg {
        width: 20px;
        height: 20px;
        margin-#{$end-direction}: 10px;
        fill: $brand-color;
    }
}

.save-later {
    margin-top: 1.5rem;
    line-height: 1;
    font-weight: 500;
    font-size: 0.75rem;
    color: $txt-gray;
    a {
        &:hover {
            color: $brand-color;
        }
    }
}

.txt-brand {
    color: $brand-color;
}

.txt-success {
    color: $success-color;
}

.coupon-offers {
    border: $border;
    border-radius: $radius4;
    li {
        border-bottom: solid 1px lighten($border-color, 05);
        display: flex;
        align-items: flex-start;
        padding: 1rem;
        font-size: 0.8rem;
        color: $txt-gray;
        &:last-child {
            border-bottom: none;
        }
    }
    .coupon-code {
        padding: 0.3rem 1.2rem;
        border-radius: 2rem;
        color: lighten($body-color, 50%);
        border: dashed 1px $border-color;
        display: inline-block;
        font-weight: 500;
        margin-#{$end-direction}: 1rem;
        cursor: pointer;
        &:hover {
            border-color: $brand-color;
            color: $brand-color;
        }
    }
}

.delivery-info {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    font-size: 0.85rem;
    color: $brand-color;
    font-weight: 500;
    background-color: $bg-brand-light;
    border: dashed 1px $brand-color;
    border-radius: 4px;
    .svg {
        width: 20px;
        height: 20px;
        margin-#{$end-direction}: 10px;
    }
    a {
        text-decoration: underline;
    }
}