.is-checkout .section--pagebar {
    padding: 20px 0 !important;
}

.header-checkout {
    background: #fff;
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 98;
    border-bottom: $border;
    .header-checkout-inner {
        position: relative;
        padding: 15px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        @include media-breakpoint-down(sm) {
            & {
                flex-direction: column;
            }
        }
        .back-store {
            position: absolute;
            #{$end-direction}: 0;
            top: 30px;
        }
    }
    .logo {
        width: 120px;
        margin: 0px 0;
        margin-#{$end-direction}: 2rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        img {
            &[data-ratio="16:9"] {
                max-width: 120px;
            }
            &[data-ratio="1:1"] {
                max-width: 60px;
            }
        }
    }
    .checkout-flow {
        margin: 0 auto;
        display: table;
        @include media-breakpoint-down(lg) {
            & {
                margin-top: 1rem;
            }
        }
        ul {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            width: 100%;
            counter-reset: count;
            text-align: center;
            li {
                padding: 0 20px;
                position: relative;
                text-align: center;
                color: #999;
                min-width: 180px;
                @include media-breakpoint-down(lg) {
                    & {
                        min-width: auto;
                    }
                }
                &:before {
                    width: 40px;
                    line-height: 40px;
                    font-weight: 500;
                    height: 40px;
                    border: 1px solid #cdcdcd;
                    border-radius: 100%;
                    display: block;
                    color: #cdcdcd;
                    position: relative;
                    font-size: 1em;
                    content: "";
                    margin: 0 auto 5px;
                    counter-increment: count;
                    content: counter(count);
                    background: #fff;
                    background: #fff;
                    z-index: 1;
                    pointer-events: none;
                }
                &:after {
                    width: 100%;
                    height: 1px;
                    background: #cdcdcd;
                    content: "";
                    position: absolute;
                    #{$end-direction}: -60%;
                    top: 20px;
                    pointer-events: none;
                    @include media-breakpoint-down(lg) {
                        & {}
                    }
                }
                &:last-child {
                    &:after {
                        content: normal;
                    }
                }
                >span {
                    color: currentColor;
                    display: block;
                    text-transform: uppercase;
                    font-size: 0.8em;
                }
                &.inprogress {
                    &:before {
                        background: $secondary-color;
                        color: $secondary-color-inverse;
                        border-color: $secondary-color;
                    }
                    >span {
                        color: $secondary-color;
                    }
                }
                &.completed {
                    &:before {
                        background: #81d68b;
                        border-color: #81d68b;
                        border-width: 2px;
                        color: #fff;
                        font-size: 0;
                    }
                    >span {
                        font-weight: 700;
                        color: #81d68b;
                        &:before {
                            width: 16px;
                            height: 10px;
                            content: "";
                            position: absolute;
                            #{$start-direction}: 50%;
                            top: 12px;
                            border-#{$start-direction}: 3px solid #fff;
                            border-bottom: 3px solid #fff;
                            transform: rotate(-45deg);
                            -webkit-transform: rotate(-45deg);
                            -ms-transform: rotate(-45deg);
                            z-index: 2;
                            margin: 0 0 0 -8px;
                        }
                    }
                }
            }
        }
    }
}

.short-detail {
    margin-top: 1rem;
    &:first-child {
        margin: 0;
    }
    .shipping-seller {
        border-radius: $radius4;
        background: $gray-light;
        padding: 0.5rem;
    }
    .shipping-seller-title {
        font-weight: 600;
        font-size: 0.8rem;
        text-transform: uppercase;
    }
}

.table-shipping {
    .shipping-select {
        min-width: 200px;
    }
}

.checkout--steps {
    background: #fff;
    -webkit-padding-end: 4rem;
    -moz-padding-end: 4rem;
    padding-#{$end-direction}: 4rem;
}

.checkout-page .loader-yk {
    margin: 50px auto;
}

.nav-checkout {}

.nav-checkout ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav-checkout ul li a {
    color: $body-color;
    font-size: 1rem;
    padding: 8px 0px;
    margin: 0 20px;
    display: block;
    font-weight: 600;
    position: relative;
}

.nav-checkout ul li a:hover,
.nav-checkout ul li.is--active a {
    color: $brand-color
}

.nav-checkout ul li a:after,
.nav-checkout ul li a:before {
    content: "";
    background: transparent;
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    -webkit-transition: 0.4s all ease;
    transition: 0.4s all ease;
}

.nav-checkout ul li a:after {
    #{$start-direction}: 50%;
}

.nav-checkout ul li a:before {
    #{$end-direction}: 50%;
}

.nav-checkout ul li a:hover:after,
.nav-checkout ul li.is--active a:after {
    #{$start-direction}: 0;
    width: 50%;
    background: $brand-color;
    color: $brand-color-inverse;
}

.nav-checkout ul li a:hover:before,
.nav-checkout ul li.is--active a:before {
    #{$end-direction}: 0;
    width: 50%;
    background: $brand-color;
    color: $brand-color-inverse;
}

.body--checkout {}

.checkout--steps__inner {
    padding: 2.5rem 0;
}

.section-checkout {}

.section-checkout.is-completed {
    background: #ebebeb;
    padding: 15px;
}

.section-checkout.is-current {
    /*border-bottom: $border;*/
}

.section-checkout.login {}

.check-login-wrapper,
.address-wrapper,
.make-payment-wrapper {
    padding: 0;
    margin: 0 auto;
}

.address {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    padding-bottom: 15px;
    -webkit-margin-start: 2rem;
    -moz-margin-start: 2rem;
    margin-#{$start-direction}: 2rem;
    /*opacity: 0.4;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);*/
    /* Safari 6.0 - 9.0 */
}

.address.is--selected {
    opacity: 1;
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.address .address-inner {
    width: 100%;
    padding: 0;
    font-size: 0.875rem;
    color: $body-color;
}

.address .address-inner span.radio {
    position: absolute;
    top: 0;
    #{$start-direction}: -2rem;
}

.address .address-inner p {
    line-height: 1.5;
}

.address p strong {
    display: block;
    margin-bottom: 5px;
}

.shipping-selectors li {
    margin-bottom: 1rem;
    display: block;
}

.shipping-selectors p {
    margin-bottom: 0.5rem;
}

.btn-action {
    float: right;
    white-space: nowrap;
}

.btn-action .action {
    position: relative;
    display: inline-block;
    border: solid 1px lighten($body-color, 50%);
    border-radius: 50%;
    color: #777;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px;
    margin: 0 2px;
}

.btn-action .action .icon {
    color: #ff3a59;
}

.btn-action .action:hover {
    background: $brand-color;
    color: $brand-color-inverse;
    border: solid 1px $brand-color;
}

.btn-action .action:hover .icon {
    color: #fff;
}

.btn-action .action .icon svg {
    width: 18px;
    height: 18px;
}

.btn-action .action .icon svg path,
.btn-action .action .icon svg polygon,
.btn-action .action .icon svg circle {
    fill: lighten($body-color, 50%);
}

.btn-action .action:hover .icon svg path,
.btn-action .action:hover .icon svg polygon,
.btn-action .action:hover .icon svg circle {
    fill: #fff;
}

.address-type {
    color: lighten($body-color, 50%);
    font-size: 0.8em;
    font-weight: 600;
    margin-bottom: 15px;
}

.payment_methods_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.payment_methods_list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
    max-height: 316px;
    /*	flex-wrap: nowrap;
	overflow-y: auto;
	white-space: nowrap;*/
}

.payment_methods_list li {
    margin: 0;
    margin-bottom: 0.5rem;
    width: 100%;
    display: block;
    position: relative;
}

.payment_methods_list li a {
    border: $border;
    border-radius: $radius4;
    color: $body-color;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.payment_methods_list li a:hover,
.payment_methods_list li.is-active a {
    border-color: #21c17a;
}

.payment_methods_list li.is-active:after {
    background: url(../images/retina/tick-green.svg) no-repeat center;
    content: "";
    position: absolute;
    #{$start-direction}: 10px;
    top: 10px;
    background-size: 10px;
    width: 22px;
    height: 22px;
    border: solid 1px #21c17a;
    border-radius: 50%;
}

.payment_methods_list li:last-child {
    margin-bottom: 0;
}

.payment_methods_list span {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    font-size: 0.875rem;
}

.payment_methods_list .payment-box {
    -webkit-margin-start: 30px;
    -moz-margin-start: 30px;
    margin-#{$start-direction}: 30px;
    padding: 1rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.payment_methods_list .payment-icn {
    width: 40px;
    height: 40px;
    display: block;
    overflow: hidden;
    max-width: 40px;
    margin: 0 0.6rem;
}

.payment-from {
    background: #fff;
    border-radius: $radius4;
    border: $border;
    padding: 2rem;
}

.payment-here {}

.payment-here .you-pay strong {
    display: block;
    font-size: 2rem;
}

.summary-listing {}

.applied-coupon {
    padding: 10px;
    display: table;
    width: 100%;
    text-align: center;
    background: #ecfff4;
    border: dashed 1px #06d260;
    border-radius: 5px;
}

.applied-coupon span {
    display: block;
    margin-bottom: 10px;
}

.applied-coupon .btn {
    width: auto;
    display: inline-block;
}

.coupon-input {}

.summary-listing>ul {
    overflow-y: auto;
    max-height: 408px;
}

.summary-listing>ul>li {
    padding: 15px 0;
    display: table;
    width: 100%;
    background: #fff;
    border-radius: $radius4;
    border-bottom: $border;
    margin-bottom: 15px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.06);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.06);
    padding: 1rem;
}

.summary-listing .products__title {
    width: 80%;
    color: $body-color;
    font-weight: 300;
}

.summary-listing .products__category {
    color: lighten($body-color, 50%);
    font-size: 0.8em;
    font-weight: 400;
    float: left;
}

.summary-listing .products__price {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: #{$end-direction};
    font-weight: 600;
    color: inherit;
}

.summary-listing .product_qty {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.summary-listing .product_qty .qty-wrapper {
    height: 26px;
    margin-#{$end-direction}: 5px;
}

.summary-listing .product_qty .qty-wrapper .increase,
.summary-listing .product_qty .qty-wrapper .decrease,
.summary-listing .product_qty .qty-wrapper input {
    height: 24px;
    line-height: 22px;
    font-size: 0.875rem;
}

.summary-listing .cartdetail__footer {
    padding: 0;
}

.summary-listing .cartdetail__footer table {
    width: 100%;
}

.scrollbar-order-list {
    max-height: 408px;
    padding-#{$end-direction}: 20px;
}

.summary-order-list {
    /*overflow-y: auto;
  max-height: 408px;*/
}

.summary-order-list>li {
    padding: 15px 0;
    display: table;
    width: 100%;
    background: #fff;
    border-radius: $radius4;
    /*	border-bottom: $border;*/
    margin-bottom: 15px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    padding: 1rem;
}

.summary-order-list>li:last-child {
    margin-bottom: 0;
}

.gurantee {
    background: #ededed;
    padding: 20px;
}

.gurantee i.icn {
    float: left;
    margin-#{$end-direction}: 15px;
}

.gurantee p {
    -webkit-padding-start: 50px;
    -moz-padding-start: 50px;
    padding-#{$start-direction}: 50px;
    color: $body-color;
    font-size: 0.8em;
}

.selected-panel {
    /*background: $gray-light;*/
    color: #565656;
    font-weight: 300;
    padding: 0;
    display: table;
    width: auto;
    table-layout: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0.875rem;
}

.section-checkout h3 {
    color: #000;
    border-bottom: $border;
    padding: 10px 0;
    /*margin-bottom: 2rem;*/
    font-size: 1.3rem;
    font-weight: 400;
}

.selected-panel-type {
    position: relative;
    -webkit-padding-start: 25px;
    -moz-padding-start: 25px;
    padding-#{$start-direction}: 25px;
    line-height: 1;
    font-size: 1rem;
    font-weight: 600;
}

.selected-panel-type:before {
    position: absolute;
    #{$start-direction}: 0;
    background: url(../images/retina/green-check.svg) no-repeat 0 0;
    width: 17px;
    height: 17px;
    display: block;
    content: "";
}

.selected-panel-data {
    position: relative;
    -webkit-padding-start: 25px;
    -moz-padding-start: 25px;
    padding-#{$start-direction}: 25px;
    line-height: 1.3;
    font-weight: 500;
}

.selected-panel-data p {
    margin: 0;
}

.selected-panel-type,
.selected-panel-data,
.selected-panel-action {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    max-width: 33%;
    vertical-align: middle;
}

.selected-panel-action {
    text-align: #{$end-direction};
}

.apply--coupon--form {
    max-width: 500px;
    margin: 0 auto;
}

.coupon-offers {
    li {
        border-bottom: $border;
        padding: 1rem 0;
        margin: 1rem 0;
        position: relative;
        &:before {
            /* content: "";*/
            border-radius: 50%;
            width: 10px;
            height: 10px;
            background: $border-color;
            display: block;
            #{$start-direction}: 0;
            top: 32px;
            position: absolute;
        }
        &:last-child {
            border-bottom: none;
        }
        .is--active {
            &:before {
                background: $brand-color;
                color: $brand-color-inverse;
            }
        }
    }
    p {
        color: lighten($body-color, 50%);
        padding: 0px 0;
        margin: 0;
    }
    .coupon-code {
        border: dashed 1px $border-color;
        padding: 5px 10px;
        display: inline-block;
        font-weight: 500;
        cursor: pointer;
    }
}

.order-summary {
    position: -webkit-sticky;
    position: sticky;
    background-color: #fff;
    border-radius: $radius4;
    margin-top: 63px;
    @include media-breakpoint-down(sm) {
        & {
            margin-top: 0;
        }
    }
}

.order-summary .divider {
    margin: 0;
}

.txt-order-summary {
    text-align: center;
    border-radius: $radius4;
    /*	background: $brand-color; color:$brand-color-inverse;*/
    padding: 15px 10px;
    color: #000;
    font-weight: 600;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    background: #fff;
}

.form-checkout-login {
    overflow: hidden;
    max-width: 400px;
    margin: 0 auto;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -webkit-animation: slideRight 600ms ease both;
    animation: slideRight 600ms ease both;
    position: relative;
}

.tabz--checkout-login ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 400px;
}

.tabz--checkout-login ul li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 48%;
    flex: 0 0 48%;
    max-width: 48%;
    position: relative;
}

.tabz--checkout-login li a {
    border: solid 1px $brand-color;
    border-radius: $radius4;
    padding: 10px 20px;
    font-size: 1rem;
    color: #000;
    display: block;
    line-height: 1;
    opacity: 0.3;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.tabz--checkout-login .icn svg {
    width: 14px;
    height: 14px;
    margin-#{$end-direction}: 5px;
    fill: $brand-color;
}

.tabz--checkout-login ul li.is-active a {
    color: $brand-color;
    opacity: 1;
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.tabz--checkout-login ul li:after {
    /*content: "";*/
    bottom: 0;
    background: $brand-color;
    color: $brand-color-inverse;
    height: 2px;
    position: absolute;
    z-index: 12;
    #{$start-direction}: 0;
    #{$end-direction}: 100%;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.tabz--checkout-login ul li.is-active:after {
    position: absolute;
    background: $brand-color;
    color: $brand-color-inverse;
}

.tabz--checkout-login ul li.is-active:after {
    #{$end-direction}: 0;
}

.buttons-list-checkout ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.buttons-list-checkout ul li {
    margin: 5px;
}

.term {
    margin: 15px auto;
    text-align: center;
}

.same-as {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 0 0;
    @include media-breakpoint-down(sm) {
        & {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    .txt-where {
        font-size: 0.875rem;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        margin: 10px 0;
    }
    .same-delivery {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 35%;
        flex: 0 0 35%;
        border-#{$end-direction}: $border;
        @include media-breakpoint-down(sm) {
            & {
                border: none;
            }
        }
        h3 {
            font-weight: 400;
            font-size: 1.5rem;
        }
    }
}

.form--singlefield {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.form--singlefield input[type="text"] {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-#{$end-direction}: 5px;
}

.form--singlefield input[type="submit"] {
    margin: 0;
}

.summary-order-list .actions li {
    margin-bottom: 0;
}

.summary-order-list .actions li a {
    width: 40px;
    height: 40px;
}

.summary-order-list .actions li a:hover {
    background: none;
    border-color: $border-color;
}

.summary-order-list .actions li a:hover .icn svg {
    fill: $brand-color;
}

.wallet {
    margin: 1rem 0;
}

.wallet ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.wallet ul li {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-#{$end-direction}: 1rem;
}

.order-table tr {
    border-bottom: none;
}

.shipping-address {
    line-height: 1.8;
    color: #000;
    font-size: 0.85rem;
    opacity: 0.55;
}