.checkout {
    @include media-breakpoint-up(xl) {
        .container {
            max-width: 1000px;
            padding: inherit;
        }
    }
}

.header-checkout {
    padding: 1.5rem 0;
    background: transparent;
    background-size: cover;
    display: block;
    border-bottom: $border;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .logo-checkout-main {
        max-width: 150px;
        display: block;
        margin: 1rem auto;
    }
}

.order-summary-toggle {
    background: #fafafa;
    border: none;
    border-top: $border;
    border-bottom: $border;
    padding: 1.25em 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    .order-summary-toggle__inner {
        display: flex;
        width: 100%;
        .order-summary-toggle__text {
            position: relative;
            text-transform: uppercase;
        }
        .svg {
            width: 10px;
            height: 10px;
            margin: 0;
            fill: currentColor;
            transform: rotate(90deg);
            transition: all 0.5s ease;
        }
    }
    .order-summary-toggle__total-recap {
        text-align: right;
        flex: 1;
    }
}

.order-summary--on .order-summary-toggle__text .svg {
    transform: rotate(-90deg);
}

@include media-breakpoint-up(xl) {
    .order-summary-toggle {
        display: none;
    }
}

.content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    overflow: hidden;
    .container {
        display: flex;
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        flex-direction: column-reverse;
    }
    @include media-breakpoint-up(xl) {
        .container {
            flex-direction: row;
        }
    }
    @include media-breakpoint-up(xl) {
        .main {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-flex: 1;
            -webkit-flex: 1 0 auto;
            -ms-flex: 1 0 auto;
            flex: 1 0 auto;
            background: none;
            height: auto;
            padding: 0;
            padding-top: 4rem;
            width: 50%;
            padding-#{$end-direction}: 5%;
            float: #{$start-direction};
            &__content {
                position: relative;
                overflow: hidden;
                display: flex;
                align-items: center;
                flex-direction: column;
            }
        }
    }
    @include media-breakpoint-up(xl) {
        .sidebar {
            position: relative;
            color: #525252;
            width: 40%;
            padding-top: 4rem;
            padding-#{$start-direction}: 5%;
            background-position: left top;
            float: #{$end-direction};
            &:after {
                content: "";
                display: block;
                width: 300%;
                position: absolute;
                top: 0;
                left: -100%;
                bottom: 0;
                background: #fff;
                z-index: -1;
                -webkit-box-shadow: 0 -1px 0 $border-color inset;
                box-shadow: 0 -1px 0 $border-color inset;
                left: 0;
                background-position: left top;
                -webkit-box-shadow: 1px 0 0 $border-color inset;
                box-shadow: 1px 0 0 $border-color inset;
            }
        }
    }
    .breadcrumb {
        .breadcrumb__item--current {
            font-weight: 600;
        }
        .breadcrumb__chevron-icon {
            width: 10px;
            height: 10px;
            margin: 0 0.64286rem;
            fill: currentColor;
        }
    }
}

.step {
    width: 100%;
    height: 0;
    transition: all 1s ease-out;
    overflow: hidden;
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    margin-bottom: 8rem;
    &.active {
        height: auto;
        overflow: visible;
        visibility: visible;
        transform: translateY(0);
        opacity: 1;
    }
    &__section {
        .step-title {
            font-size: 1rem;
            font-weight: 400;
            small {
                display: block;
                font-size: 0.8rem;
            }
        }
    }
    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1.5rem;
        .step__footer__continue-btn {
            order: 2;
        }
    }
}

.review-block {
    margin: 2rem 0;
    font-size: 0.8rem;
    li {
        display: flex;
        align-items: center;
    }
    &__label {
        flex: 0 0 125px;
        max-width: 125px;
        padding-#{$end-direction}: 1rem;
        color: $txt-gray;
    }
    &__content {
        flex: 1;
        padding-#{$end-direction}: 1rem;
        .selected-slot {
            font-weight: 500;
            padding-top: 0.5rem;
            display: block;
        }
    }
}

@include media-breakpoint-up(xs) {
    .order-summary {
        height: 0;
        visibility: hidden;
    }
    .order-summary--on {
        .order-summary {
            height: auto;
            visibility: visible;
            padding-top: 1rem;
        }
    }
}

@include media-breakpoint-up(xl) {
    .order-summary {
        height: auto;
        visibility: visible;
    }
}

.order-summary__sections {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: calc(100vh - 8em);
    width: 100%;
    .order-summary__section--product-list {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        min-height: 7em;
        overflow: hidden;
        padding: 0;
        position: relative;
        .order-summary__section__content {
            min-width: 100%;
            min-height: 300px;
            position: relative;
        }
    }
}

.v-divider {
    &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        background: #efefef;
        width: 1px;
    }
}

.shipping-section {
    border: $border;
    border-radius: $radius4;
    margin-bottom: 1rem;
    .shipping-option {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .custom-select {
        max-width: 200px;
        font-size: 0.8rem;
    }
}

.pick-section {
    border: $border;
    border-radius: $radius4;
    margin-bottom: 1rem;
    .pickup-option {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        &__list {
            flex: 0 0 44%;
            max-width: 44%;
            padding-#{$end-direction}: 2rem;
            li {
                padding-bottom: 1rem;
                .radio {
                    display: flex;
                }
            }
        }
        .lb-txt {
            font-size: 0.8rem;
        }
    }
    .pickup-time {
        .calendar {
            margin-bottom: 1.2rem;
            .xdsoft_datetimepicker .xdsoft_datepicker {
                width: 256px;
            }
        }
        .time-slot {
            display: flex;
            flex-wrap: wrap;
            li {
                padding-right: 10px;
                margin-bottom: 10px;
                position: relative;
                .control-input {
                    position: absolute;
                    opacity: 0;
                    z-index: -1;
                    &:checked+.control-label {
                        background: $brand-color;
                        border-color: $brand-color;
                        color: $brand-color-inverse;
                    }
                }
                .control-label {
                    background: $bg-white;
                    border: $border;
                    border-radius: $radius2;
                    position: relative;
                    cursor: pointer;
                    font-size: 12px;
                    -webkit-transition: all 0.2s ease;
                    transition: all 0.2s ease;
                    .time {
                        padding: 0.5rem 0.7rem;
                        display: block;
                    }
                }
            }
        }
    }
}

.payment-area {
    .nav-payments {
        display: flex;
        border: solid 1px $brand-color;
        border-radius: $radius4;
        margin: 1rem 0;
        li {
            flex: 1;
            font-size: 0.85rem;
            text-align: center;
            a {
                padding: 0.6rem 0.8rem;
                &.active {
                    background: $brand-color;
                    color: $brand-color-inverse;
                }
            }
        }
    }
    .tab-content {
        margin-bottom: 1.5rem;
    }
    .paypal-data {
        text-align: center;
        p {
            padding: 1rem;
            font-size: 0.8rem;
        }
    }
}

.place-order {
    text-align: center;
    font-size: 0.8rem;
    padding: 2rem 0;
    p {
        padding-bottom: 1rem;
        a {
            color: $brand-color;
        }
    }
}

.rewards {
    background-color: $gray-color;
    border-radius: $radius4;
    padding: 1.5rem;
    margin: 2rem 0;
    &__points {
        margin-bottom: 1.5rem;
        ul {
            display: grid;
            grid-gap: 1rem;
            grid-template-columns: 50% 1fr;
            align-items: center;
            li {
                text-align: center;
                border-radius: $radius4;
                padding: 1rem;
                border: $border;
                background-color: $bg-white;
                p {
                    font-size: 0.8rem;
                }
                .count {
                    font-weight: 500;
                    font-size: 1.3rem;
                }
            }
        }
    }
    .info {
        margin-bottom: 1.5rem;
        padding: 0;
    }
}

.earn-points {
    background-color: $gray-color;
    border-radius: $radius4;
    padding: 0.7rem;
    text-align: center;
    .svg {
        margin-#{$end-direction}: 10px;
    }
}

.list-addresses {
    .list-group-item {
        padding: 2rem;
        position: relative;
        .row {
            align-items: flex-end;
        }
        address {
            font-size: 0.85rem;
            color: $txt-gray;
            line-height: 1.5;
            margin-bottom: 1rem;
        }
    }
    &-view {
        .list-group-item {
            padding: 1rem;
            .row {
                align-items: center;
            }
        }
    }
    .tags-addresses {
        position: static;
        .tags__inner {
            justify-content: flex-start;
            .tag {
                font-size: 1rem;
                color: $brand-color;
                border-color: $brand-color;
            }
        }
    }
}

.tags {
    margin: 0 0;
    position: absolute;
    top: 1rem;
    #{$end-direction}: 1rem;
    text-align: #{$end-direction};
    &__inner {
        display: flex;
        justify-content: flex-end;
        .tag {
            margin: 0 5px;
            border: solid 2px $success-color;
            border-radius: 40px;
            color: $success-color;
            padding: 6px 1rem;
            line-height: 1;
            font-weight: 600;
            font-size: 0.75rem;
            text-transform: uppercase;
            &.address_lable {
                margin-#{$start-direction}: auto;
            }
            &:last-child {
                margin-#{$end-direction}: 0;
            }
        }
    }
    &__txt {
        display: block;
        font-size: 0.8rem;
        color: $txt-gray;
        margin-top: 4px;
    }
}

.payment-card {
    font-size: 0.85rem;
    color: $txt-gray;
    strong {
        font-weight: 500;
        color: $body-color;
    }
    .list-group-item {
        padding: 1rem;
        padding-#{$start-direction}: 5rem;
    }
    &__photo {
        .svg {
            width: 60px;
            height: 100%;
        }
    }
    @include media-breakpoint-down(sm) {
        &__name {
            padding: 10px 0;
        }
        &__expiry {
            padding-bottom: 10px;
        }
        &__number {
            padding-top: 10px;
        }
    }
    &-view {
        .list-group-item {
            padding: 1rem;
            .row {
                align-items: center;
            }
        }
    }
}