.header-supplier {
    color: $txt-body;
    min-height: auto;

    .logo-bar {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 2fr;
        //padding: 1rem 0;
    }
}

.short-links {
    margin-#{$start-direction}: auto;

    li {
        margin-#{$start-direction}: 1rem;

        a {

            &:hover,
            &:focus,
            &:active {
                color: $brand-color-inverse;
            }
        }
    }
}

.header-advertiser {
    @extend .header-supplier;
}

.header-affiliate {
    @extend .header-supplier;
}

.short-nav {
    @include media-breakpoint-down(md) {
        background-color: #fff;
        box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.05);
        z-index: 1050;
        position: fixed;
        -webkit-overflow-scrolling: touch;
        top: 0;
        #{$start-direction}: -280px;
        bottom: 0;
        overflow-y: auto;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        width: 280px;

        transition: left 0.3s ease, right 0.3s ease;

        ul {
            display: flex;
            flex-direction: column;
        }

        &--on & {
            background: $gray-light;
            padding: 0;
            #{$start-direction}: 0;
            visibility: visible;
        }
    }

    li {
        display: inline-block;
        vertical-align: top;

        a {
            display: block;
            font-size: 0.8em;
            padding: 6px 10px;
            color: $txt-body;
        }

        &:first-child {
            padding-#{$start-direction}: 0;
        }

        &:last-child {
            padding-#{$end-direction}: 0;
        }
    }
}

.seller-nav {
    flex-direction: column;
    align-items: inherit;

    &-item {
        margin: 0;
    }

    &-link {
        padding: 18px 20px;
        display: block;
        border-bottom: $border;
        font-size: 1rem;
        background-image: url(images/retina/submenu-arrow.svg);
        background-position: right 20px center;
        background-repeat: no-repeat;
        background-size: 8px 14px;
    }
}

.hero-banner {
    padding: 2rem 0;
    color: #fff;
    background-position: center;
    position: relative;
    background-attachment: fixed;

    //background-size: 25%;
    //background-color: var(--brand-color);
    // color: var(--brand-color-inverse);
    &:after {
        position: absolute;
        top: 0;
        #{$start-direction}: 0;
        #{$end-direction}: 0;
        bottom: 0;
        z-index: 0;
        content: "";
        opacity: 0.6;
        background: #232526;
        background: -webkit-gradient(linear, left top, right top, from(#414345), to(#232526));
        background: linear-gradient(to right, #414345, #232526);
    }

    .container {
        position: relative;
        z-index: 1;
    }

    &-inner {
        display: flex;
        flex-flow: row wrap;
        gap: 2rem;

        @include media-breakpoint-up(lg) {
            display: grid;
            grid-gap: 4rem;
            grid-template-columns: 1fr 1fr;
            align-items: flex-start;
        }
    }
}

.seller-slogan {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0;

    &-txt {
        h3 {
            font-size: clamp(2rem, 50%, 4rem);
            font-weight: $font-weight-bold;
            line-height: 1.5;
            margin-bottom: 1.5rem;
            color: currentColor;

            span {
                display: block;
                font-size: 1rem;
                color: inherit;
            }
        }

        p {
            color: currentColor;
        }
    }

    ul {
        li {
            display: inline-block;
            margin-#{$end-direction}: 20px;
        }
    }
}

.seller-register-form {
    //margin: 3.125rem 0;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.95);
    color: $txt-body;
    width: 100%;
    border-radius: $common-radius;
    position: relative;

    h2 {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
}

.seller-register-form.affiliate-register-form {
    max-width: none;
}

.seller-register-form .message {
    padding: 0 20px;
}

.features {
    padding: 100px 0;
}

.growth {
    max-width: 520px;
    background-repeat: no-repeat;
    background-position: right top;
    background-image: none !important;
    display: block;
    color: #000;
    font-size: 1.5em;

    strong {
        font-size: 2em;
    }

    .growth-txt {
        border-#{$start-direction}: $border;
        padding-#{$start-direction}: 120px;

        li {
            margin-bottom: 50px;
            display: table;
            width: 100%;

            &:last-child {
                margin-bottom: 0;
            }
        }

        i.icn {
            float: left;
            margin-#{$end-direction}: 30px;
        }

        p {
            color: lighten($txt-body, 50%);
        }
    }
}

.simple-step {
    background: #f8f8f8 url(../images/bg-step-slider.png) no-repeat center bottom;
}

.simple-step .heading1 {
    text-align: center;
    display: block;
}

.seller-steps-slider {
    position: relative;
    height: 410px;
}

.simple-price {
    background: $secondary-color;
    color: $secondary-color-inverse;
    text-align: center;
}

.pricing-structure {
    margin: 2rem auto;
    max-width: 1100px;

    ul {
        display: grid;
        // grid-template-columns: repeat(12, minmax(250px, 1fr));
        grid-template-columns: auto;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
        margin: 2.5rem auto;

        @include media-breakpoint-up(sm) {
            grid-template-columns: 25% 1fr 25% 1fr 25%;
        }

        @include media-breakpoint-up(lg) {
            gap: 2rem;
            grid-template-columns: 15.6125rem 1fr 15.6125rem 1fr 15.6125rem;
        }

        li {
            // flex: 0 0 10%;
            // max-width: 10%;
            text-align: center;
        }
    }

    .lg-hide {
        display: none;

        @include media-breakpoint-up(md) {
            display: none;
        }
    }

    .box {
        // flex: 0 0 15.6125rem;
        max-width: 15.6125rem;
        width: 100%;
        padding: 2rem 1rem;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 20px;
        box-shadow: 0px 0px 12px #00000029;
        background-color: #fff;

        h4 {
            font-size: 2rem;
            color: $brand-color;
            font-weight: $font-weight-boldest;
            margin: 0;
        }

        p {
            color: $txt-body;
        }
    }

    .sign {
        color: $brand-color;
        font-size: 3rem;
        font-weight: $font-weight-boldest;
    }
}

.registeration-process {
    margin: 1rem 0;

    ul {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;

        li {
            font-size: 0.85em;
            color: $txt-gray;
            margin-#{$end-direction}: 1rem;

            &:first-child {
                margin-#{$start-direction}: 0;
                padding-#{$start-direction}: 0;
            }

            a {
                display: block;
                padding: 0.5rem 0;
                color: inherit;
                white-space: nowrap;
                position: relative;
                text-decoration: none;

                &:after {
                    content: "";
                    bottom: 0;
                    background: $brand-color;
                    color: $brand-color-inverse;
                    height: 2px;
                    width: 0;
                    position: absolute;
                    z-index: 0;
                    #{$start-direction}: 0;
                }
            }

            &.is--active {
                a {
                    color: $brand-color;
                    font-weight: $font-weight-bold;

                    &:after {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.yk-login--wrapper {
    @include media-breakpoint-down(md) {
        & {
            background-color: #fff;
            box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.05);
            z-index: 1050;
            position: fixed;
            -webkit-overflow-scrolling: touch;
            top: 0;
            #{$start-direction}: -280px;
            bottom: 0;
            overflow-y: auto;
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
            width: 280px;
            -webkit-transition: left 0.3s ease, right 0.3s ease;
            transition: left 0.3s ease, right 0.3s ease;
        }

        &--on & {
            #{$start-direction}: 0;
            visibility: visible;
        }
    }
}

.seller-steps {
    text-align: center;
    margin: 0 auto;

    ul {
        display: flex;
        margin: 50px auto 0 auto;

        @include media-breakpoint-down(md) {
            & {
                flex-wrap: wrap;
            }
        }

        li {
            flex: 0 0 25%;
            max-width: 25%;
            padding: 0 1rem;
            vertical-align: top;

            @include media-breakpoint-down(md) {
                & {
                    flex: auto;
                    max-width: inherit;
                }
            }
        }
    }

    .icn {
        margin: 20px auto;
        display: block;
        text-align: center;
        width: 100px;
        height: 100px;
        position: relative;

        &:before {
            position: relative;
            display: block;
            content: "";
            padding-bottom: 100%;
        }

        img {
            position: absolute;
            #{$start-direction}: 0;
            #{$end-direction}: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }

    h3 {
        color: #000;
        font-size: 1.25em;
        line-height: 1.3;
        font-weight: $font-weight-regular;
    }

    p {
        font-size: 0.9375em;
        line-height: 1.3;
    }
}

.easy-methods {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3rem;

    .method {
        max-width: 300px;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 10px;

        .icon {
            padding: 10px;
            margin: 0 auto;
            margin-bottom: 1rem;
            aspect-ratio: 1/1;
            width: 100%;
            max-width: 11.25rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            box-shadow: 0px 0px 12px #00000029;

            img {
                opacity: 0.5;
                // width: 40px;
                // height: 40px;
            }
        }

        h3 {
            color: $txt-body;
            font-size: 1.375rem;
        }

        p {
            color: $txt-gray;
            font-size: 1rem;
        }
    }
}

.cta {
    text-align: center;

    h3 {
        font-size: 1.4rem;
        margin-bottom: 1.5rem;
    }
}

.bullet-circle {
    display: flex;
    flex-direction: column;
    gap: 10px;

    li {
        display: flex;
        gap: 10px;
        margin: 1rem 0;

        .icn {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 4px;
            font-size: 9px;
            background-color: $brand-color;
            color: $brand-color-inverse;
            border-radius: 50%;
            width: 1rem;
            height: 1rem;
            margin-top: 4px;
        }
    }
}