.shop-fold {
    position: relative;
}

.shop-bar {
    background-color: $bg-gray;
    border-bottom: $border;
}

.shop-banner {
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    background: $bg-placeholder;
    @include placeholder;
    @include responsive-ratio(4, 1);
    position: relative;
    img {
        @include img-absolute;
        //opacity: 0.2;
    }
}
.bg-shop-info {
    //background: $brand-color;
    background-image: linear-gradient($brand-color, $brand-color);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 100% 60px;
    .container {
        position: relative;
    }
}

.shop-info-wrap {
    display: flex;
    flex-direction: column;
}

.shop-information {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    @include media-breakpoint-up(lg) {
        flex-direction: row;
        align-items: center;
        padding: 3rem 0;
    }
    &-start {
        display: flex;
        align-items: center;
        flex-direction: row;
        grid-gap: 1.5rem;
    }
    &-end {
        @include media-breakpoint-up(lg) {
            margin-#{$start-direction}: auto;
        }
    }
    &-logo {
        border: $border-black;
        border-radius: $common-radius;
        width: 75px;
        margin: 0;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        aspect-ratio: 1/1;
        @include media-breakpoint-up(lg) {
            width: 155px;
            //margin: 0 auto;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            padding: 10px;
        }
    }
    &-detail {
        display: flex;
        flex-direction: column;
        .title {
            margin-bottom: 1rem;
            display: flex;
            gap: 10px;
            align-items: center;
        }
        .blk-txt {
            display: block;
            font-size: 0.775rem;
            color: $txt-gray;
        }
    }
    .product-ratings {
        margin: 0;
        padding: 0;
    }
}

.contact-social {
    margin-top: 1rem;
    display: block;
    color: $txt-body;
    display: flex;
    grid-gap: 0.5rem;
    position: relative;
    &-item {
        display: inline-block;
    }
    &-link {
        background-color: #fff;
        border: $border;
        border-radius: 2px;
        color: currentColor;
        font-size: 1rem;
        position: relative;
        height: 2.5rem;
        width: 2.5rem;
        line-height: 2.5rem;
        text-align: center;
        display: block;
        transition: all 0.4s ease;
        overflow: hidden;
        cursor: pointer;

        &:hover {
            .icon-1 {
                top: -15px;
            }
            .icon-2 {
                top: 15px;
            }
        }
        .icon-2 {
            top: 50px;
        }
    }
    .active {
        background-color: $brand-color;
        color: $brand-color-inverse;
    }
}
.shop-info {
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    @include media-breakpoint-down(md) {
        flex-direction: column;
        align-items: center;
    }
}
.shop-info {
    .products__rating {
        justify-content: center;
        margin-bottom: 1rem;
    }
}

.shop-nav {
    display: flex;
    flex-direction: row;
    grid-gap: 2rem;
    @include media-breakpoint-down(md) {
        //padding: 1rem 0;
        flex-wrap: nowrap;
        overflow-x: auto;
        justify-content: flex-start;
    }
    &-item {
    }
    &-link {
        color: $txt-body;
        font-size: 0.85rem;
        padding: 0.8rem 0;
        margin: 0;
        display: block;
        font-weight: 600;
        position: relative;
        white-space: nowrap;
        text-rendering: optimizeLegibility;
        transition: color 0.3s ease-in-out;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 50% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        background-color: transparent;
        transition: background-size 0.3s;
        text-decoration: none;

        &:hover,
        &.active {
            color: $brand-color;
            text-decoration: none;
            background-size: 100% 2px;
        }
    }
}
