.slider-testimonials {
    text-align: center;
    padding-bottom: 2rem;
    position: relative;
    display: flex;
    margin: 10px auto;
    max-width: 1000px;
    &-item {
        flex: 1;
        padding: 0 1rem;
        transition: all 0.5s ease-in-out;
        display: flex;
        @include media-breakpoint-up(lg) {
            align-items: center;
        }
    }
    &-image {
        position: relative;
        &:before {
            @include media-breakpoint-up(lg) {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                z-index: 0;
                width: 12.9rem;
                height: 12.9rem;
                background: var(--brand-color);
                border-top-left-radius: 100px;
            }
        }
    }
    &-user {
        @include media-breakpoint-down(lg) {
            border-radius: 50%;
            width: 100px;
            height: 100px;
        }
        @include media-breakpoint-up(lg) {
            width: 17.5rem;
            height: 17.5rem;
            position: relative;
            margin-#{$start-direction}: 70px;
            margin-top: 70px;
        }
    }
    &-data {
        margin-#{$start-direction}: 6.25rem;
        margin-top: 6.25rem;
        text-align: left;
        flex: 1;
        font-size: 1.3rem;
    }
    &-text {
        //max-width: 512px;
        p {
            font-weight: 300;
        }
    }
    &-from {
        margin-top: 2rem;
        .name {
            font-size: 1.3rem;
            display: block;
            font-weight: 500;
        }
    }
    .slick-arrow {
        width: 48px;
        min-width: 48px;
        height: 48px;
        background-color: transparent;
        border: none;
        transition: all 0.2s ease-in-out;
        position: absolute;
        top: calc(50% - 24px);
        z-index: 1;
        text-indent: -999999px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:before {
            content: "";
            display: inline-block;
            border-right: 2px solid black;
            border-bottom: 2px solid black;
            width: 24px;
            height: 24px;
        }
        &.slick-prev {
            #{$start-direction}: -150px;
            &:before {
                transform: rotate(-225deg);
                margin-right: -7px;
            }
        }
        &.slick-next {
            #{$end-direction}: -150px;
            &:before {
                margin-left: -7px;
                transform: rotate(-45deg);
            }
        }
    }
    // &:hover {
    //     .slick-arrow {
    //         transform: scale(1);
    //         opacity: 1;
    //         &:hover {
    //             background-color: rgba(255, 255, 255, 0.9);
    //         }
    //     }
    // }

    .slick-center & {
        background-color: #fff;
        color: $txt-body;
    }
}

.testimonials-item {
    display: block;
    position: relative;
    height: 100%;
    border-radius: $radius4;
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.22);
    background-color: $bg-white;
    .user {
        width: 60px;
        height: 60px;
        position: relative;
        position: absolute;
        top: -10px;
        #{$start-direction}: 25px;
        z-index: 3;
        transition: all 0.3s ease 0s;
        border-radius: $radius4;
        overflow: hidden;
        box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, 0.22);
        img {
            max-width: 100%;
        }
    }
    .testimonials-content {
        overflow: hidden;
        position: relative;
        .user-name {
            display: block;
            font-weight: 400;
            font-size: 1rem;
            color: #3b566e;
            margin-top: 20px;
            padding-#{$start-direction}: 100px;
            letter-spacing: 0.69px;
            margin-bottom: 5px;
            position: relative;
            z-index: 3;
        }
        span {
            display: block;
            font-weight: 400;
            font-size: 14px;
            color: #6f8ba4;
            letter-spacing: 0.6px;
            padding-#{$start-direction}: 100px;
            padding-#{$end-direction}: 25px;
            position: relative;
            z-index: 3;
        }
        .txt {
            position: relative;
            overflow: hidden;
            p {
                padding-#{$start-direction}: 25px;
                padding-#{$end-direction}: 25px;
                margin-bottom: 25px;
                margin-top: 1rem;
                font-weight: 400;
                font-size: 0.85rem;
                letter-spacing: 0.6px;
                line-height: 26px;
                position: relative;
                z-index: 3;
                max-height: 250px;
                overflow-y: auto;
            }
        }
    }
    &:hover {
        .user {
            top: -20px;
        }
    }
}
