$content-space: 3.125rem;

.footer {
    padding: 1rem;
    @include media-breakpoint-up(lg) {
        padding: 1rem $content-space;
    }

    .copyright {
        font-size: 0.8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.mobile-actions {
    font-size: 0.8rem;
    display: none;
    @include media-breakpoint-down(lg) {
        background-color: rgba(255, 255, 255, 0.9);
        backdrop-filter: blur(3px);
        box-shadow: 0 -10px 30px 0 rgba(111, 111, 111, 0.1);
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        justify-content: space-between;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: $zindex-fixed;
        //box-shadow: $shadow-theme;
        &-item {
            flex: 1 1 0%;
            &.active {
                background-image: linear-gradient($secondary-color, $secondary-color);
                background-position: 100% 0;
                background-repeat: no-repeat;
                background-size: 100% 2px;
                transition: background-size 0.3s;
            }
        }
        &-link {
            margin: 0 auto;
            border: none;
            background-color: transparent;
            padding: 1rem 10px;
            display: flex;
            align-items: center;
            flex-direction: column;
            .svg {
                width: 20px;
                height: 20px;
                fill: $secondary-color;
            }
        }
    }

    .txt {
        margin-top: 5px;
    }
}
