<style>
    /* .skeleton {
        box-shadow: 0 4px 10px 0 rgba(33, 33, 33, 0.15);
        border-radius: 10px;
        height: 20px;
        position: relative;
        overflow: hidden;
    }

    .skeleton::before {
        content: '';
        display: block;
        position: absolute;
        left: -150px;
        top: 0;
        height: 100%;
        width: 150px;
        background: linear-gradient(to right, transparent 0%, #E8E8E8 50%, transparent 100%);
        animation: load 1s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
    }

    @keyframes load {
        from {
            left: -150px;
        }

        to {
            left: 100%;
        }
    } */
</style>
<div class="step">
    <ul class="review-block">
        <li class="review-block-item">
            <div class="review-block__label skeleton">
                <!-- Shipping To Label -->
            </div>
            <div class="review-block__content" role="cell">
                <div class="delivery-address">
                    <!-- Address Lines -->
                    <p class="skeleton"></p>
                    <p class="skeleton"></p>
                    <!-- Address Lines -->

                    <p class="skeleton">
                        <!-- Phone Number -->
                    </p>
                </div>
            </div>
        </li>
    </ul>

    <div class="step_section">
        <div class="step_head skeleton">
            <!-- Shipping Summary Header -->
        </div>
        <div class="step_body">
            <ul class="list-cart list-shippings">
                <li class="list-cart-item shipping-select">
                    <div class="shop-detail">
                        <h6 class="shop-title skeleton">
                            <!-- Ship By Shop Name -->
                        </h6>
                        <div class="shipping-method skeleton">
                            <!-- Shipping Price -->
                        </div>
                    </div>
                </li>
                <li class="list-cart-item block-cart">
                    <div class="block-cart-img skeleton" style="height: 200px;">
                        <!-- Product Image -->
                    </div>
                    <div class="block-cart-detail">
                        <div class="block-cart-detail-top">
                            <div class="product-profile">
                                <div class="product-profile-data">
                                    <div class="skeleton">
                                        <!-- Item Name -->
                                    </div>
                                    <div class="products-price skeleton">
                                        <!-- Item Price -->
                                    </div>
                                    <div class="options skeleton">
                                        <!-- Item Options -->
                                    </div>
                                </div>
                            </div>
                            <div class="product-quantity skeleton">
                                <!-- Item Quantity -->
                            </div>
                        </div>
                        <div class="block-cart-detail-bottom">
                            <p class="skeleton">
                                <!-- Action Button (Remove Link) -->
                            </p>
                        </div>
                    </div>
                </li>
                <li class="list-cart-item block-cart">
                    <div class="block-cart-img skeleton" style="height: 200px;">
                        <!-- Product Image -->
                    </div>
                    <div class="block-cart-detail">
                        <div class="block-cart-detail-top">
                            <div class="product-profile">
                                <div class="product-profile-data">
                                    <div class="skeleton">
                                        <!-- Item Name -->
                                    </div>
                                    <div class="products-price skeleton">
                                        <!-- Item Price -->
                                    </div>
                                    <div class="options skeleton">
                                        <!-- Item Options -->
                                    </div>
                                </div>
                            </div>
                            <div class="product-quantity skeleton">
                                <!-- Item Quantity -->
                            </div>
                        </div>
                        <div class="block-cart-detail-bottom">
                            <p class="skeleton">
                                <!-- Action Button (Remove Link) -->
                            </p>
                        </div>
                    </div>
                </li>
                <li class="list-cart-item block-cart">
                    <div class="block-cart-img skeleton" style="height: 200px;">
                        <!-- Product Image -->
                    </div>
                    <div class="block-cart-detail">
                        <div class="block-cart-detail-top">
                            <div class="product-profile">
                                <div class="product-profile-data">
                                    <div class="skeleton">
                                        <!-- Item Name -->
                                    </div>
                                    <div class="products-price skeleton">
                                        <!-- Item Price -->
                                    </div>
                                    <div class="options skeleton">
                                        <!-- Item Options -->
                                    </div>
                                </div>
                            </div>
                            <div class="product-quantity skeleton">
                                <!-- Item Quantity -->
                            </div>
                        </div>
                        <div class="block-cart-detail-bottom">
                            <p class="skeleton">
                                <!-- Action Button (Remove Link) -->
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>