<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Your Page Description">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
    </style>
    <title>Email</title>
</head>

<body style="margin: 0;padding:0;">
    <table width="100%" cellspacing="0" cellpadding="0" style="font-size: 16px; font-family: 'Poppins', sans-serif;background-color: #F6F6F6;background-image: url(bg-top.png), url(bg-center.png), url(bg-bottom.png);background-repeat: no-repeat, no-repeat, no-repeat;background-position: top left, right center, bottom left;">
        <tr>
            <td style="padding:40px;"></td>
        </tr>
        <tr>
            <td>
                <p style="text-align: center;">Subject: Failed login attempts on your account at {Website name}</p>
                <table width="600px" cellspacing="0" cellpadding="0" style="margin:0 auto;table-layout:fixed;background:#ffffff;border-radius: 4px;box-shadow: 0 0 10px rgba(0,0,0,0.04);">

                    <tr>
                        <td>
                            <table width="100%" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td style="text-align:center;padding-top: 60px;"><img src="img/email-logo.png" alt="" /></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:30px 40px 50px 40px; text-align: center;">
                            <h1 style="font-size: 40px;letter-spacing: -0.4px;margin: 0 0 30px 0;font-weight: 700;color: #212529;">Failed login attempts</h1>
                            <p style="font-size: 16px;line-height: 1.5;letter-spacing: -0.32px;color: #212529;margin: 0 0 10px 0;">Hello {Username},</p>
                            <p style="opacity: 0.6;font-size: 14px;letter-spacing: -0.28px;color: #212529;line-height: 1.71;margin: 0 0 20px 0;">We detected unusual login attempts to your account that seem suspicious. <br> Your account has been temporarily disabled for the next 15 minutes.</p>
                           
                            <table width="100%" cellspacing="0" cellpadding="0" style="text-align:center;border-collapse: collapse;border: 1px solid #d4d4d4;">
                                <tr>
                                    <th style="border: 1px solid #d4d4d4;border-collapse: collapse;padding: 8px 18px;color: #212529;font-size: 14px;opacity: 0.6;">Location</th>
                                    <th style="border: 1px solid #d4d4d4;border-collapse: collapse;padding: 8px 18px;color: #212529;font-size: 14px;opacity: 0.6;">IP Address</th>
                                    <th style="border: 1px solid #d4d4d4;border-collapse: collapse;padding: 8px 18px;color: #212529;font-size: 14px;opacity: 0.6;">Time</th>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #d4d4d4;border-collapse: collapse;padding: 8px 18px;opacity: 0.6;font-size: 14px;line-height: 1.71;letter-spacing: -0.28px;color: #212529;">{Location}</td>
                                    <td style="border: 1px solid #d4d4d4;border-collapse: collapse;padding: 8px 18px;opacity: 0.6;font-size: 14px;line-height: 1.71;letter-spacing: -0.28px;color: #212529;">{Ip_address}</td>
                                    <td style="border: 1px solid #d4d4d4;border-collapse: collapse;padding: 8px 18px;opacity: 0.6;font-size: 14px;line-height: 1.71;letter-spacing: -0.28px;color: #212529;">{Time}</td>
                                </tr>
                            </table>

                            <p style="font-size: 14px;line-height: 1.71;letter-spacing: -0.28px;color: #212529;margin: 20px 0 0;">Thank You<br> Team {website name}
                            </p>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
        <tr>
            <td style="padding-top:30px;">
                <table width="600px" cellspacing="0" cellpadding="0" style="margin:0 auto;table-layout:fixed;">
                    <tr>
                        <td style="text-align:center;">
                            <p style="font-family: 'Poppins', sans-serif;font-size: 14px;letter-spacing: -0.2px;display: block;box-sizing: border-box;font-weight: 400;color: #212529;line-height: 26px;margin:0 0 20px 0;">Contact {website name} at<br/>
                                <a href="mailto:tribe@sv.com" style="color: #F13925;text-decoration: none;">{Email}</a> or call at <a href="tel:+1235546464" style="color: #F13925;text-decoration: none;">{Phone}</a></p>
                            <h5 style="font-size: 18px;font-weight: 600;text-transform: uppercase;letter-spacing: -0.2px;line-height: 24px;
                                display: block;margin: 0 0 15px 0;color:#212529;">Get In Touch</h5>
                            <a href="javascript:void(0);" style="display: inline-block;margin: 0 4px;"><img src="img/fb.png" alt="facebook" /></a>
                            <a href="javascript:void(0);" style="display: inline-block;margin: 0 4px;"><img src="img/twt.png" alt="Twitter" /></a>
                            <a href="javascript:void(0);" style="display: inline-block;margin: 0 4px;"><img src="img/insta.png" alt="Instagram" /></a>
                            <a href="javascript:void(0);" style="display: inline-block;margin: 0 4px;"><img src="img/in.png" alt="Linkedin" /></a>
                            <span style="    display: block;
                                width: 100%;
                                font-size: 12px;
                                padding: 10px 0;color: #212529;"></span>
                            <a href="javascript:void(0);" style="display: inline-block;font-size: 14px;font-weight: 500;color: 212529;text-decoration: underline;">Terms & Conditions</a>
                            <a href="javascript:void(0);" style="display: inline-block;font-size: 14px;font-weight: 500;color: 212529;text-decoration: underline;border-left: 1px solid #212529;line-height: 12px;padding:0 15px;margin:0 15px;">Privacy Policy</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding:40px;"></td>
        </tr>
    </table>
</body>

</html>